﻿<!--APP ROOT VIEW-->
<div [class.no-scroll]="preventScroll()">
    <router-outlet></router-outlet>
</div>

<app-loading-screen></app-loading-screen>

<!--BUSY MODAL - DISPLAY DURING ASYNC WAITING PERIODS & FOR OTHER TEMPORARY ALERTS-->
<div *ngIf="_cub_dataService.busyScreen.busyCount > 0" class="modal-large visible">
    <ul class="window modal-width-S checking-for-duplicates">
        <li class="icon" *ngIf="!_cub_dataService.busyScreen.smallLoader">
            <div *ngIf="_cub_dataService.busyScreen.icon == 'loading'" class="loading hidden-">
                <span class="spinner">
                    <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                </span>
            </div>
            <div *ngIf="_cub_dataService.busyScreen.icon == 'check'" class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5"></circle>
                    <polyline points="16,30.5 25.25,39.75 45,20 "></polyline>
                </svg>
            </div>
            <div *ngIf="_cub_dataService.busyScreen.icon == 'caution'" class="icon-confirmation-check">
                <svg viewBox="0 0 25 25">
                    <circle cx="12.5" cy="12.5" r="11.5"></circle>
                    <path d="M11,5.997C11,5.446,11.443,5,11.999,5h1.002 C13.553,5,14,5.446,14,5.997v7.006C14,13.554,13.557,14,13.001,14h-1.002C11.447,14,11,13.554,11,13.003V5.997z"></path>
                    <path d="M11.003,16.495c0-0.273,0.216-0.495,0.496-0.495h2.009 c0.274,0,0.496,0.216,0.496,0.495v2.01c0,0.273-0.216,0.495-0.496,0.495h-2.009c-0.274,0-0.496-0.216-0.496-0.495V16.495z"></path>
                </svg>
            </div>
        </li>
        <li class="header center">
            <h1>{{_cub_dataService.busyScreen.busyText}}</h1>
        </li>
        <li class="footer" *ngIf="!_cub_dataService.busyScreen.smallLoader">
            <ul *ngIf="_cub_dataService.busyScreen.buttonText != ''" class="buttons">
                <li>
                    <button type="button" class="button-cancel"
                            (click)="busyScreenButtonClicked($event)">
                        <p>{{_cub_dataService.busyScreen.buttonText}}</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!--ERROR/WARNING MODAL - DISPLAY ON ERROR OR TO PROMPT USER-->
<div *ngIf="_cub_dataService.cancelScreen.show || _cub_dataService.errorScreen.show" class="modal-large visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning">
                <svg viewBox="0 0 58 52">
                    <path d="M22.511,6.588c3.583-6.116,9.391-6.119,12.977,0L54.43,38.924C58.014,45.041,55.252,50,48.248,50H9.749 c-6.998,0-9.767-4.957-6.181-11.076L22.511,6.588z" />
                    <line x1="29" y1="15" x2="29" y2="30" />
                    <circle cx="29" cy="39" r="3" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p *ngIf="!_cub_dataService.errorScreen.show">Cancelling will erase all entered customer information. Are you sure you want to cancel?</p>
                <p *ngIf="_cub_dataService.errorScreen.show && _cub_dataService.errorScreen.errors.length > 0"
                   [innerHTML]="_cub_dataService.errorScreen.errors[_cub_dataService.errorScreen.errors.length - 1]">
                </p>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li *ngIf="!_cub_dataService.errorScreen.show">
                    <button type="button" class="button-primary"
                            (click)="cancelScreenYesButtonClicked($event)">
                        <p>Yes</p>
                    </button>
                </li>
                <li *ngIf="!_cub_dataService.errorScreen.show">
                    <button type="button" class="button-cancel"
                            (click)="cancelScreenNoButtonClicked($event)">
                        <p>No</p>
                    </button>
                </li>
                <li *ngIf="_cub_dataService.errorScreen.show">
                    <button type="button" class="button-cancel"
                            (click)="continueButtonClicked($event)">
                        <p *ngIf="_cub_dataService.errorScreen.fatalState && _cub_dataService.errorScreen.errors.length == 1">
                        Retry {{showErrorCount()}}
                        </p>
                        <p *ngIf="!_cub_dataService.errorScreen.fatalState || _cub_dataService.errorScreen.errors.length > 1">
                        Close {{showErrorCount()}}
                        </p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>