<div class="hybrid modal-large visible">
    <ul class="window modal-width-XXXXXXL">
        <li class="header center">
            <cub-customizablegrid [data]="aggregatedEntries"
                                  gridName="TransitAccount.BankCardChargeAggregation"
                                  [totalCount]="totalRecordCount"
                                  [lazy]="true"
                                  [scope]="this"
                                  (onLazyLoad)="onLazyLoad($event)">
            </cub-customizablegrid>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-cancel"
                            (click)="close()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
