<div class="hybrid modal-small visible" *ngIf="!!order">
    <!--TODO verify/adjust this width class once order history data is available-->
    <ul class="window modal-width-XXL">
        <li class="header center">
            <h1>Order Details</h1>
        </li>
        <li class="body">
            <div>
                <div class="grid-small">
                    <p-dataTable [value]="orderResultsLineItems"
                                 dataKey="lineItemId"
                                 [paginator]="true"
                                 [totalRecords]="orderResultsLineItemsLength"
                                 [rows]="5"
                                 sortBy="lineItemId">

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Order Line"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                         let-col
                                         let-record="rowData">
                                <p cubTooltip="{{record['lineItemId']}}"></p>
                            </ng-template>
                            <!--<ng-template pTemplate="footer">
                                <p cubTooltip="Totals"></p>
                            </ng-template>-->
                        </p-column>

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Line Item"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                         let-col
                                         let-record="rowData">
                                <p cubTooltip="{{record['lineItemType']}} - {{record['lineItemTypeDescription']}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Extended Price"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                         let-col
                                         let-record="rowData">
                                <p cubTooltip="{{record['itemTotalAmount'] | money}}"></p>
                            </ng-template>
                            <!--<ng-template pTemplate="footer">
                                <p cubTooltip="{{this.order.orderTotalAmount | money}}"></p>
                            </ng-template>-->
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="closeDetail()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>