﻿<cub-menu-toggle inputId="{{controlId}}">
    <label for="{{controlId}}">{{label}}</label>
    <div class="form-field-multi-select">

        <!-- NOTE: This <input> toggles the visibility of the multi-select drop down. -->
        <!-- NOTE: When <input> is checked, if the user clicks outside of the corresponding <ul class="multi-select"> container, remove the "checked" attribute from the <input>. -->
        <input type="checkbox"
               id="{{controlId}}"
               [disabled]="isDisabled" />
        <label for="{{controlId}}">

            <!-- NOTE: Use text "All" when all options are selected. Use text "{#} Type{s}" when some/none are selected. Example, 3 options selected = "3 Types"; 1 option selected = "1 Type", etc. -->
            <p>{{numSelected}}</p>
            <div>
                <span class="icon-drop-down-arrow">
                    <svg viewBox="0 0 16 11">
                        <polyline points="2,2 8,8 14,2" />
                    </svg>
                </span>
            </div>
        </label>

        <!-- NOTE: This is the multi-select drop down list. -->
        <ul class="multi-select">

            <!-- NOTE: "global" class controls the visual display of the select/deselect all option, and other special options. -->
            <li class="global">

                <!-- NOTES:
                    • Remove "checked" attribue if at least 1 option in the list is unchecked.
                    • Clicking this option when all options are checked will uncheck all options in the list.
                    • Clicking this option when only some or none of the options are checked will check all options in the list.
                -->
                <input type="checkbox"
                       id="{{controlId}}-all"
                       [checked]="allSelected"
                       (change)="onAllChange()">
                <label for="{{controlId}}-all">
                    <p>All</p>
                    <div>
                        <span class="icon-checkbox-hybrid">
                            <svg viewBox="0 0 12 10">
                                <polyline points="2,4.5 5,7.5 10,2.5"></polyline>
                            </svg>
                        </span>
                    </div>
                </label>
            </li>
            <ng-container *ngFor="let option of options">
                <li>
                    <input type="checkbox"
                           id="{{controlId}}-{{option.value}}"
                           [checked]="option.checked"
                           (change)="onOptionChange(option)">
                    <label for="{{controlId}}-{{option.value}}">
                        <p>{{option.label}}</p>
                        <div>
                            <span class="icon-checkbox-hybrid">
                                <svg viewBox="0 0 12 10">
                                    <polyline points="2,4.5 5,7.5 10,2.5"></polyline>
                                </svg>
                            </span>
                        </div>
                    </label>
                </li>
            </ng-container>
        </ul>
    </div>
</cub-menu-toggle>