﻿<div class="hybrid">
    <div class="custom-page custom-page-portion">
        <ul class="form-fields-horizontal">
            <li class="form-field-width-L">
                <cub-date-range [offset]="startDateOffset"
                                (startChange)="onStartDateChanged($event)"
                                (endChange)="onEndDateChanged($event)"
                                (onEnterKey)="onEnterKey()"></cub-date-range>
            </li>
            <li cub-multi-dropdown
                *ngIf="travelModeOptions?.length > 1"
                class="form-field-width-M"
                controlId="travel-mode-dropdown"
                label="Travel Mode"
                [options]="travelModeOptions"
                (onChange)="onTravelModeDropdownChanged($event)">
            </li>
            <li cub-multi-dropdown
                *ngIf="agencyOptions?.length > 1"
                class="form-field-width-M"
                controlId="agency-control-dropdown"
                label="Agency"
                [options]="agencyOptions"
                (onChange)="onAgencyDropdownChanged($event)">
            </li>
            <li cub-multi-dropdown
                *ngIf="tripOptions?.length > 1"
                class="form-field-width-M"
                controlId="trip-control-dropdown"
                label="Trip Type"
                [options]="tripOptions"
                (onChange)="onTripTypeDropdownChanged($event)">
            </li>
            <li cub-radiolist
                class="form-field-width-M"
                [control]="viewTypeControl"
                (onChange)="onViewTypeChanged()">
            </li>
            <li class="form-field-width-S">
                <button type="button"
                        class="button-primary"
                        id="search-button"
                        [attr.disabled]="disableSearch ? '' : null"
                        (click)="onSearchClicked()">
                    <p>Search</p>
                </button>
            </li>
        </ul>

        <div class="grid-small">
            <!--TRAVEL HISTORY TABLE-->
            <p-dataTable [value]="travelHistoryResults"
                         [rows]="rowsPerPage"
                         [paginator]="true"
                         selectionMode="single"
                         dataKey="tripId"
                         (onRowDblclick)="onRowDoubleClicked($event)"
                         [lazy]="true"
                         (onLazyLoad)="getTravelHistory($event)"
                         [totalRecords]="totalRecordCount"
                         sortMode="multiple"
                         [multiSortMeta]="multiSortMeta">

                <!--TIMING COLUMN-->
                <p-column headerStyleClass="grid-column-width-L left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Timing"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record.startDateTime | momentDate | async}} to {{record.endDateTime | momentDate | async}}"></p>
                    </ng-template>
                </p-column>

                <!--LOCATION COLUMN-->
                <p-column headerStyleClass="grid-column-width-L left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Location"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record.startLocationDescription}} to {{record.endLocationDescription}}"></p>
                    </ng-template>
                </p-column>

                <!--AGENCY COLUMN-->
                <p-column headerStyleClass="grid-column-width-L left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Transit Account"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <a class="value-secondary"
                           href="javascript:void(0)"
                           (click)="onSubsystemClicked($event, record)"
                           cubTooltip="{{record.authorityName}} - {{record.subsystemAccountNickname || record.subsystem}}">
                        </a>
                    </ng-template>
                </p-column>

                <!--TRAVEL MODE COLUMN-->
                <p-column headerStyleClass="grid-column-width-M left"
                          bodyStyleClass="cell-icon"
                          field="travelMode"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Travel Mode"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <div class="icon-container" [ngSwitch]="record.travelMode">
                            <span *ngSwitchCase="'Bus'" class="icon-travel-mode-bus" cubTooltip="Bus">
                                <svg viewBox="0 0 26 15">
                                    <path d="M1,2.992C1,1.892,1.897,1,3.005,1h16.489C22.535,1,25,3.469,25,6.5v3.508 C25,11.108,24.103,12,22.995,12H2c-0.552,0-1-0.445-1-0.995V2.992z" />
                                    <circle cx="6" cy="11" r="2.5" />
                                    <circle cx="18" cy="11" r="2.5" />
                                    <rect x="3" y="3" width="4" height="3" />
                                    <rect x="8" y="3" width="4" height="3" />
                                    <rect x="13" y="3" width="4" height="3" />
                                    <path d="M23.857,6C23.411,4.283,21.86,3,20,3h-2v3H23.857z" />
                                </svg>
                            </span>
                            <span *ngSwitchCase="'Rail'" class="icon-travel-mode-rail" cubTooltip="Rail">
                                <svg viewBox="0 0 20 20">
                                    <circle cx="10" cy="10" r="8.5" />
                                    <line x1="4" y1="16" x2="16" y2="4" />
                                    <line x1="16" y1="16" x2="4" y2="4" />
                                    <path d="M3,8h1.822c0.63,0,1.251,0.285,1.251,1.006c0,0.386-0.186,0.751-0.561,0.896v0.01c0.38,0.091,0.49,0.516,0.521,0.856 c0.01,0.15,0.025,0.676,0.15,0.806H5.262c-0.08-0.12-0.095-0.471-0.105-0.57c-0.025-0.36-0.085-0.73-0.521-0.73H3.931v1.301H3V8z M3.931,9.552h0.781c0.28,0,0.43-0.15,0.43-0.421c0-0.266-0.21-0.386-0.47-0.386H3.931V9.552z" />
                                    <path d="M14,8h1.822c0.63,0,1.251,0.285,1.251,1.006c0,0.386-0.186,0.751-0.561,0.896v0.01c0.38,0.091,0.49,0.516,0.521,0.856 c0.01,0.15,0.025,0.676,0.15,0.806h-0.921c-0.08-0.12-0.095-0.471-0.105-0.57c-0.025-0.36-0.085-0.73-0.521-0.73h-0.706v1.301H14V8z M14.931,9.552h0.781c0.28,0,0.43-0.15,0.43-0.421c0-0.266-0.21-0.386-0.47-0.386h-0.741V9.552z" />
                                </svg>
                            </span>
                            <span *ngSwitchCase="'Tollway'" class="icon-travel-mode-tollway" cubTooltip="Tollway">
                                <svg viewBox="0 0 22 22">
                                    <path d="M20.008,6.264l-2.016-3.527C17.446,1.781,16.1,1,15,1H7C5.9,1,4.554,1.781,4.008,2.736L1.992,6.264C1.446,7.219,1,8.9,1,10 v4h2v2c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-2h10v2c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-2h2v-4 C21,8.9,20.554,7.219,20.008,6.264z M4.5,11C3.671,11,3,10.329,3,9.5S3.671,8,4.5,8S6,8.671,6,9.5S5.329,11,4.5,11z M4,7 C3.45,7,3.231,6.614,3.515,6.143l1.971-3.285C5.769,2.386,6.45,2,7,2h8c0.55,0,1.231,0.386,1.515,0.857l1.971,3.285 C18.769,6.614,18.55,7,18,7H4z M17.5,11c-0.829,0-1.5-0.671-1.5-1.5S16.671,8,17.5,8S19,8.671,19,9.5S18.329,11,17.5,11z" />
                                </svg>
                            </span>
                        </div>
                        <p class="value-secondary">{{record.travelMode}}</p>
                    </ng-template>
                </p-column>

                <!--TRAVEL TOKEN COLUMNN-->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Token"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{_cub_dataService.getCellValue(record, 'token.tokenType')}}, {{_cub_dataService.getCellValue(record, 'token.maskedPAN', 'token.serialNumber', 'token.serializedMobileToken')}}"></p>
                    </ng-template>
                </p-column>

                <!--PRODUCT COLUMNN-->
                <p-column headerStyleClass="grid-column-width-L left"
                          field="productDescription"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Product"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record.productDescription}}"></p>
                    </ng-template>
                </p-column>

                <!--FARE COLUMNN-->
                <p-column headerStyleClass="grid-column-width-S right"
                          field="totalFare"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Fare"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-primary" cubTooltip="{{record.totalFare | money}}"></p>
                    </ng-template>
                </p-column>

                <!--UNPAID FARE COLUMN-->
                <p-column headerStyleClass="grid-column-width-S right"
                          field="unpaidFare"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Unpaid Fare"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-primary red" cubTooltip="{{record.unpaidFare | money}}"></p>
                    </ng-template>
                </p-column>

                <!--TRIP TYPE COLUMNN-->
                <p-column headerStyleClass="grid-column-width-S left"
                          field="tripType"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Trip Type"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record.tripType}}"></p>
                    </ng-template>
                </p-column>

                <!--STATUS COLUMNN-->
                <p-column headerStyleClass="grid-column-width-S left"
                          field="totalFare"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Status"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p *ngIf="record.tripStatus" class="value-secondary" cubTooltip="{{record.tripStatus}} - {{record.tripStatusDateTime | momentDate}}"></p>
                    </ng-template>
                </p-column>

                <!--INDICATOR COLUMNN-->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Indicator"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <ng-container *ngFor="let indicator of record.travelPresenceIndicator">
                            <p class="value-secondary" cubTooltip="{{indicator}}"></p>
                        </ng-container>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</div> <!-- end hybrid -->
<!--TRAVEL HISTORY DETAIL MODAL WINDOW-->
<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="!!detailResults" class="hybrid modal-small" [class.visible]="showTravelHistoryDetail">
    <!--TODO verify/adjust width class once travel history data is available-->
    <ul class="window modal-width-XXXXL trip-details">
        <li class="header center">
            <h1>Trip Details</h1>
        </li>
        <li class="body">
            <div>
                <ul class="grid-icon" *ngIf="!!detailResults?.tripInfo">
                    <li>
                        <div class="border-blue"
                             [ngSwitch]="detailResults?.tripInfo?.travelMode"
                             cubTooltip="{{detailResults?.tripInfo?.travelMode}}">
                            <span *ngSwitchCase="'Bus'" class="icon-trip-detail-bus">
                                <svg viewBox="0 0 20 28">
                                    <path d="M16,22.409V22c1.65,0,3-1.35,3-3V4c0-1.65-1.35-3-3-3H4C2.35,1,1,2.35,1,4v15c0,1.65,1.35,3,3,3v0.409	l-3.045,3.045l1.591,1.591L5.591,24h8.818l3.045,3.045l1.591-1.591L16,22.409z M6,4h8v1H6V4z M5,20c-1.104,0-2-0.896-2-2 s0.896-2,2-2s2,0.896,2,2S6.104,20,5,20z M9,12c0,0.55-0.45,1-1,1H4c-0.55,0-1-0.45-1-1V8c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1V12 z M11,12V8c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1v4c0,0.55-0.45,1-1,1h-4C11.45,13,11,12.55,11,12z M14.053,19.762 c-0.973-0.523-1.337-1.736-0.815-2.709s1.735-1.338,2.708-0.814c0.974,0.522,1.338,1.735,0.815,2.708S15.026,20.284,14.053,19.762z"></path>
                                </svg>
                            </span>
                            <span *ngSwitchCase="'Tollway'" class="icon-trip-detail-toll">
                                <svg viewBox="0 0 27 23">
                                    <path d="M24.971,9.285l-3.942-6.57C20.463,1.772,19.1,1,18,1H9C7.9,1,6.537,1.772,5.971,2.715l-3.942,6.57C1.463,10.228,1,11.9,1,13 v3c0,1.1,0.9,2,2,2v3c0,0.552,0.448,1,1,1h2c0.552,0,1-0.448,1-1v-3h13v3c0,0.552,0.448,1,1,1h2c0.552,0,1-0.448,1-1v-3 c1.1,0,2-0.9,2-2v-3C26,11.9,25.537,10.228,24.971,9.285z M8,3h11l3,5H5L8,3z M6,14c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2 S7.104,14,6,14z M21,14c-1.104,0-2-0.896-2-2s0.896-2,2-2s2,0.896,2,2S22.104,14,21,14z" />
                                </svg>
                            </span>
                            <span *ngSwitchCase="'Rail'" class="icon-trip-detail-rail">
                                <svg viewBox="0 0 28 28">
                                    <circle cx="14" cy="14" r="12" />
                                    <line x1="5.5" y1="22.5" x2="22.5" y2="5.5" />
                                    <line x1="22.5" y1="22.5" x2="5.5" y2="5.5" />
                                    <path d="M5,11h2.549C8.432,11,9.3,11.399,9.3,12.408c0,0.539-0.259,1.05-0.784,1.253v0.014c0.532,0.126,0.686,0.721,0.728,1.198 c0.014,0.21,0.035,0.945,0.21,1.127H8.166c-0.112-0.168-0.133-0.658-0.147-0.798C7.983,14.698,7.899,14.18,7.29,14.18H6.303V16H5 V11z M6.303,13.171h1.093c0.392,0,0.602-0.21,0.602-0.588c0-0.371-0.294-0.539-0.658-0.539H6.303V13.171z" />
                                    <path d="M19,11h2.549c0.882,0,1.751,0.399,1.751,1.408c0,0.539-0.259,1.05-0.784,1.253v0.014c0.532,0.126,0.686,0.721,0.728,1.198 c0.014,0.21,0.035,0.945,0.21,1.127h-1.289c-0.112-0.168-0.133-0.658-0.147-0.798c-0.035-0.504-0.119-1.022-0.729-1.022h-0.987V16 H19V11z M20.303,13.171h1.093c0.392,0,0.602-0.21,0.602-0.588c0-0.371-0.294-0.539-0.658-0.539h-1.037V13.171z" />
                                </svg>
                            </span>
                            <!-- NOTE: Display one of the following icons depending on the trip type (Bus, Rail, Tollway, Subway). If "Subway" cannot be determined, use the "Rail" icon. -->
                            <!--<span class="icon-trip-detail-subway">
                                <svg viewBox="0 0 20 28">
                                    <path d="M16,22.409V22c1.65,0,3-1.35,3-3V4c0-1.65-1.35-3-3-3H4C2.35,1,1,2.35,1,4v15c0,1.65,1.35,3,3,3v0.409	l-3.045,3.045l1.591,1.591L5.591,24h8.818l3.045,3.045l1.591-1.591L16,22.409z M6,4h8v1H6V4z M5,20c-1.104,0-2-0.896-2-2 s0.896-2,2-2s2,0.896,2,2S6.104,20,5,20z M9,12c0,0.55-0.45,1-1,1H4c-0.55,0-1-0.45-1-1V8c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1V12 z M11,12V8c0-0.55,0.45-1,1-1h4c0.55,0,1,0.45,1,1v4c0,0.55-0.45,1-1,1h-4C11.45,13,11,12.55,11,12z M14.053,19.762 c-0.973-0.523-1.337-1.736-0.815-2.709s1.735-1.338,2.708-0.814c0.974,0.522,1.338,1.735,0.815,2.708S15.026,20.284,14.053,19.762z" />
                                </svg>
                            </span>-->
                        </div>
                        <p>Trip</p>
                    </li>
                    <!--Start of Trip Grid-->
                    <li>
                        <div class="grid-small no-row-hover">
                            <!--TRAVEL HISTORY DETAIL TRIPS   -->
                            <p-dataTable [value]="[detailResults.tripInfo]"
                                         dataKey="tripId"
                                         selectionMode="single">

                                <!--TIMING COLUMN-->
                                <p-column headerStyleClass="grid-column-width-L left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Timing"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.startDateTime | momentDate}} to {{record.endDateTime | momentDate}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--LOCATION COLUMN-->
                                <p-column headerStyleClass="grid-column-width-L left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Location"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.startLocationDescription}} to {{record.endLocationDescription}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--AGENCY COLUMN-->
                                <p-column headerStyleClass="grid-column-width-L left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Agency"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.authorityName}} - {{record.subsystemAccountNickname}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TRAVEL MODE COLUMN-->
                                <p-column headerStyleClass="grid-column-width-M left"
                                          field="travelMode">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Travel Mode"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.travelMode}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TRAVEL TOKEN COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-S left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Token"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{_cub_dataService.getCellValue(record, 'token.tokenType')}}, {{_cub_dataService.getCellValue(record, 'token.maskedPAN', 'token.serialNumber', 'token.serializedMobileToken')}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--PRODUCT COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-L left"
                                          field="productDescription">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Product"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.productDescription}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--FARE COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-S right"
                                          field="totalFare">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Fare"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-primary" cubTooltip="{{record.totalFare | money}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--UNPAID FARE COLUMN-->
                                <p-column headerStyleClass="grid-column-width-S right"
                                          field="unpaidFare">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Unpaid Fare"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-primary red" cubTooltip="{{record.unpaidFare | money}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TRIP TYPE COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-S left"
                                          field="tripType">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Trip Type"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.tripType}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--STATUS COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-S left"
                                          field="totalFare">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Status"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p *ngIf="record.tripStatus" class="value-tertiary" cubTooltip="{{record.tripStatus}} - {{record.tripStatusDateTime | momentDate}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--INDICATOR COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-S left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Indicator"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <ng-container *ngFor="let indicator of record.travelPresenceIndicator">
                                            <p class="value-tertiary" cubTooltip="{{indicator}}"></p>
                                        </ng-container>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </li>
                </ul>
                <ul class="grid-icon" *ngIf="!!detailResults?.travelPresenceEvents">
                    <li>
                        <div class="border-orange" cubTooltip="Taps">
                            <span class="icon-trip-detail-taps">
                                <svg viewBox="0 0 28 26">
                                    <circle cx="14" cy="13" r="3"></circle>
                                    <path d="M17.199,18.654C19.168,17.538,20.5,15.426,20.5,13 s-1.332-4.538-3.301-5.654"></path>
                                    <path d="M10.802,7.345C8.832,8.462,7.5,10.574,7.5,13 s1.332,4.538,3.302,5.655"></path>
                                    <path d="M19.66,23.004C23.145,21.028,25.5,17.292,25.5,13 s-2.355-8.028-5.84-10.004"></path>
                                    <path d="M8.341,2.996C4.856,4.972,2.5,8.708,2.5,13 s2.356,8.028,5.841,10.004"></path>
                                </svg>
                            </span>
                        </div>
                        <p>Taps</p>
                    </li>
                    <!--Start of Taps Grid-->
                    <li>
                        <div class="grid-small no-row-hover">
                            <p-dataTable [value]="detailResults.travelPresenceEvents"
                                         dataKey="travelPresenceId"
                                         selectionMode="single">

                                <!--DATE COLUMN-->
                                <p-column headerStyleClass="grid-column-width-L left"
                                          field="transactionDateTime"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Date"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field] | momentDate}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TAP TYPE COLUMN-->
                                <p-column headerStyleClass="grid-column-width-M left"
                                          field="type"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Tap Type"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field]}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--LOCATION COLUMN-->
                                <p-column headerStyleClass="grid-column-width-XL left"
                                          field="locationDescription"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Location"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field]}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--OPERATOR COLUMN-->
                                <p-column headerStyleClass="grid-column-width-M left"
                                          field="operator"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Operator"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field]}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TOKEN COLUMN-->
                                <p-column headerStyleClass="grid-column-width-L left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Token"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{_cub_dataService.getCellValue(record, 'token.tokenType')}}, {{_cub_dataService.getCellValue(record, 'token.maskedPAN', 'token.serialNumber', 'token.serializedMobileToken')}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--STATUS COLUMN-->
                                <p-column headerStyleClass="grid-column-width-M left"
                                          field="status"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Status"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field]}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--TAP INDICATOR COLUMN-->
                                <p-column headerStyleClass="grid-column-width-M left"
                                          field="travelPresenceIndicator"
                                          sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Tap Indicator"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record[col.field]}}"></p>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </li>
                </ul>
                <ul class="grid-icon" *ngIf="!!detailResults?.tripPayments">
                    <li>
                        <div class="border-green">
                            <span class="icon-trip-detail-paid-by">
                                <svg viewBox="0 0 14 24">
                                    <path d="M8.053,20.469v2.149c0,0.221-0.172,0.393-0.393,0.393H6.001c-0.209,0-0.393-0.172-0.393-0.393v-2.149 c-2.875-0.406-4.447-2.125-4.508-2.199c-0.123-0.147-0.135-0.356-0.024-0.504l1.265-1.658c0.062-0.086,0.172-0.135,0.283-0.147 c0.11-0.012,0.221,0.025,0.295,0.111c0.024,0.012,1.744,1.658,3.918,1.658c1.204,0,2.506-0.639,2.506-2.027 c0-1.179-1.449-1.756-3.107-2.42c-2.211-0.872-4.962-1.978-4.962-5.061c0-2.26,1.769-4.127,4.336-4.619V1.393 C5.608,1.172,5.792,1,6.001,1H7.66c0.221,0,0.393,0.172,0.393,0.393v2.162c2.494,0.283,3.82,1.634,3.869,1.683 c0.123,0.135,0.147,0.319,0.062,0.467l-0.995,1.793c-0.062,0.11-0.16,0.184-0.282,0.196c-0.123,0.024-0.233-0.012-0.332-0.086 c-0.012-0.012-1.499-1.327-3.341-1.327c-1.56,0-2.641,0.774-2.641,1.892c0,1.302,1.499,1.879,3.243,2.555 c2.26,0.872,4.815,1.867,4.815,4.827C12.45,18.062,10.657,20.039,8.053,20.469z"></path>
                                </svg>
                            </span>
                        </div>
                        <p>Paid By</p>
                    </li>
                    <!--Start of Paid by Grid-->
                    <li>
                        <div class="grid-small no-row-hover">
                            <!--TRAVEL HISTORY DETAIL PAID BY   -->
                            <p-dataTable [value]="detailResults.tripPayments"
                                         dataKey="id"
                                         selectionMode="single">

                                <!--PRODUCT/FARE COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-L left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Product / Fare"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <p class="value-tertiary" cubTooltip="{{record.productDescription}}"></p>
                                    </ng-template>
                                </p-column>

                                <!--SOURCE COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-XXL left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Source"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <ng-container *ngFor="let source of record?.paymentSource">
                                            <span class="value-tertiary" cubTooltip="{{record.payingSystemDescription}} - {{source.id}}"></span>
                                        </ng-container>
                                    </ng-template>
                                </p-column>

                                <!--DESCRIPTION COLUMNN-->
                                <p-column headerStyleClass="grid-column-width-XXL left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Description"></p>
                                    </ng-template>
                                    <ng-template let-col
                                                 let-record="rowData"
                                                 pTemplate="body">
                                        <ng-container *ngFor="let source of record?.paymentSource">
                                            <span class="value-tertiary" cubTooltip="{{source.paymentSourceType}} {{source.paymentType}} {{source.dateTime | momentDate}}"></span>
                                        </ng-container>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            id="closeDtl-button"
                            (click)="closeDetail()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>