﻿<li *ngIf="securityOption.answer">
    <input type="checkbox" id="{{securityOption.name}}"
           [ngModel]="securityOption.verified"
           (ngModelChange)="inputChange($event)">
    <label for="{{securityOption.name}}">
        <ul>
            <li class="checkbox">
                <span>
                    <div class="icon-checkmark">
                        <svg viewBox="0 0 20 16">
                            <polyline points="2.25,7.5 7.5,12.75 17.75,2.5 " />
                        </svg>
                    </div>
                </span>
            </li>
            <li>
                <p>{{securityOption.question}}</p>
            </li>
            <li class="answer" [class.long-line-wrap]="isUnwrappable()">
                <p *ngIf="!answerIsArray()">{{securityOption.answer}}</p>
                <p *ngIf="answerIsArray()">
                    <ng-template ngFor let-i="index" let-value [ngForOf]="securityOption.answer">
                        {{value}}
                        <br *ngIf="i !== securityOption.answer.length - 1" />
                    </ng-template>
                </p>
            </li>
        </ul>
    </label>
</li>