<div class="hybrid modal-small visible">
    <ul class="window modal-width-XXXL statusHistory">
        <li class="header center">
            <h1>Status History</h1>
        </li>
        <li class="body">
            <cub-customizablegrid [data]="statusHistory"
                                  gridName="TA.StatusHistory"
                                  [totalCount]="totalRecordCount"
                                  [lazy]="true"
                                  [scope]="this"
                                  (onLazyLoad)="onLazyLoad($event)">
            </cub-customizablegrid>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button (click)="close()" type="button" class="button-cancel">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
