﻿<!--DEFAULT DROPDOWN-->
<label *ngIf="!!control.label && !control.isTableControl && !control.isSmall"
       [attr.class]="control.labelWidthClass">{{control.label}}</label>
<div *ngIf="!control.isTableControl"
     [attr.class]="generateFieldClass(control)"
     [class.drop-down-small]="control.isSmall" 
     [class.required]="control.isRequired"
     [class.error]="control.isErrored">
    <select [attr.id]="control.id"
            [attr.disabled]="control.isDisabled || control.options.length <= 1 ? '' : null"
            [(ngModel)]="control.value"
            (change)="dropdownChange($event)"
            [required]="control.isRequired">
        <option *ngFor="let option of control.options"
                [attr.disabled]="option.isDisabled ? '' : null"
                [attr.value]="option.value"
                [attr.checked]="option.value == control.value ? '' : null">
            {{option.name}}
        </option>
    </select>
    <div>
        <span class="icon-drop-down-arrow">
            <svg viewBox="0 0 16 11">
                <polyline points="2,2 8,8 14,2"></polyline>
            </svg>
        </span>
    </div>
    <i></i>
    <span class="error-message">
        <p *ngIf="control.isErrored">{{control.errorMessage}}</p>
        <p *ngIf="!control.isErrored && control.isInvalid">{{control.validationMessage}}</p>
    </span>
</div>

<!--USED IN CUSTOMER REGISTRATION AND SOME TABLES-->
<ul [attr.class]="control.formFieldClass" *ngIf="control.isTableControl">
    <li [attr.class]="control.fieldWidthClass">
        <div [attr.class]="generateFieldClass(control)"
             [class.required]="control.isRequired"
             [class.error]="control.isErrored">
            <select [attr.disabled]="control.isDisabled || control.options.length <= 1 ? '' : null"
                    [attr.id]="control.id"
                    [ngModel]="control.value"
                    (change)="dropdownChange($event)"
                    [required]="control.isRequired">
                <option *ngFor="let option of control.options"
                        [attr.disabled]="option.isDisabled ? '' : null"
                        [attr.value]="option.value"
                        [attr.checked]="option.value == control.value ? '' : null">
                    {{option.name}}
                </option>
            </select>
            <div>
                <span class="icon-drop-down-arrow">
                    <svg viewBox="0 0 16 11">
                        <polyline points="2,2 8,8 14,2"></polyline>
                    </svg>
                </span>
            </div>
            <i></i>
            <span class="error-message">
                <p *ngIf="control.isErrored">{{control.errorMessage}}</p>
                <p *ngIf="!control.isErrored && control.isInvalid">{{control.validationMessage}}</p>
            </span>
        </div>
    </li>
    <li *ngIf="!!control.spacerWidthClass" [attr.class]="control.spacerWidthClass">
    </li>
</ul>