﻿<div *ngIf="show; else doneLoading"
     [ngClass]="{
     'loading visible': true, 
     'hybrid modal-small': useSmall, 
     'modal-large': !useSmall
     }"
     id="cub-app-loading-screen">
    <!-- Add class "modal-width-*" to <ul class="window"> to set the width of the modal window. If no class is used, the contents of the modal window will determine its width. Possible classes:
        • modal-width-XXXXS
        • modal-width-XXXS
        • modal-width-XXS
        • modal-width-XS
        • modal-width-S
        • modal-width-M
        • modal-width-L
        • modal-width-XL
        • modal-width-XXL
        • modal-width-XXXL
        • modal-width-XXXXL
        • modal-width-XXXXXL
        • modal-width-XXXXXXL
        • (no class) - The contents of the modal window will determine the window's width.
    -->
    <ul class="window">
        <!-- Use the following classes on the <li> to assign the orientation of the loading spinner and loading message text:
            • loading-spinner-side-by-side	= The loading spinner is to the left of the loading message.
            • loading-spinner-stacked		= The loading spinner is stacked on top of the loading message.
        -->
        <li [class.loading-spinner-stacked]="_height > (useSmall ? 100 : 160)"
            [class.loading-spinner-side-by-side]="_height <= (useSmall ? 100 : 160)">
            <ul>
                <li>
                    <span class="spinner">
                        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
                    </span>
                </li>
                <li>
                    <h1>{{currentMessage}}</h1>
                </li>
            </ul>
        </li>
        <!--TODO: implement optional cancel load button-->
        <!-- The entire <li class="footer"> section should not be included if the user cannot cancel the loading action. -->
        <!--<li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-cancel">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>-->
    </ul>
</div>
<ng-template #doneLoading>
    <!--This empty div is intentional. For the purpose of automated testing, this div indicates that Angular is done loading.-->
    <div id="cub-app-done-loading"></div>
</ng-template>