﻿<p *ngIf="!!control.label">{{control.label}}</p>
<ul [attr.id]="control.id">
    <ng-container *ngFor="let key of control.controlsOrder">
        <li cub-checkbox *ngIf="startsWithFormFieldWidth(key)" 
            [class]="control.controls[key].checkboxClass"
            (onChange)="inputChange($event)"
            [control]="control.controls[key]">
        </li>
        <li cub-checkbox *ngIf="!startsWithFormFieldWidth(key)"
            [class.form-field-hybrid-checkbox]="!control.noSubClass"
            (onChange)="inputChange($event)"
            [control]="control.controls[key]">
        </li>
    </ng-container>
</ul>