﻿<router-outlet name="session"></router-outlet>
<div class="content">
    <div class="header center">
        <h1>Create New Customer</h1>
    </div>
    <ul class="columns">
        <li cub-controlscolumn class="column-width-S"
            [controls]="searchControls"
            [controlsOrder]="searchControlsColumn"
            labelWidthClass="label-width-30"
            (onChange)="onTextChange($event)"
            (onEnterPress)="onEnterPress($event)"></li>
    </ul>
    <ul class="buttons">
        <li>
            <button type="button"
                    class="button-primary"
                    (click)="searchButtonClicked()">
                <p>Create Customer</p>
            </button>
        </li>
        <li>
            <button type="button"
                    class="button-cancel"
                    (click)="cancelButtonClicked()">
                <p>Cancel</p>
            </button>
        </li>
    </ul>
    <div *ngIf="duplicateSearch?.show" class="modal-large visible">
        <ul class="window modal-width-XXXXL duplicate-contacts">
            <li class="header center">
                <h1>{{duplicateSearch.results?.length}} Possible Duplicate{{duplicateSearch.results?.length !== 1 ? 's' : ''}}</h1>
                <ul class="form-fields-vertical">
                    <li cub-controllabel [id]="sortOrderControl.id"
                        [label]="sortOrderControl.label"
                        [class]="'form-field-width-XS'">
                    </li>
                    <li cub-dropdown [control]="sortOrderControl"
                        (onChange)="onSortDropdownChanged($event, this)"
                        [class]="'form-field-width-XL'">
                    </li>
                </ul>
            </li>
            <li class="body">
                <div class="grid-large">
                    <!-- PrimeNg Data Table -->
                    <p-dataTable [value]="duplicateSearch.sortedResults"
                                 [rows]="rowsOnDuplicateModal"
                                 [paginator]="true"
                                 selectionMode="single"
                                 dataKey="ContactId"
                                 (onRowDblclick)="verifyContact($event['data'], 'account')">

                        <!-- CUSTOMER COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="Customer"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-primary"
                                   cubTooltip="{{record['CustomerName']}}"
                                   innerHTML="{{record['CustomerName']?.split(' ')[0] | highlight:searchControls.firstName.value}} {{record['CustomerName']?.split(' ')[1] | highlight:searchControls.lastName.value}}"></p>
                                <p *ngIf='record["AccountType"]'
                                   class="value-tertiary"
                                   cubTooltip="{{record['AccountType']}}">
                                </p>
                            </ng-template>
                        </p-column>

                        <!-- CONTACT COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="Contact"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-primary">
                                    <a href="javascript:void(0)"
                                       (click)="verifyContact(record, 'contact')"
                                       cubTooltip="{{record['FirstName'] + ' ' + record['LastName']}}"
                                       [innerHTML]="(record['FirstName'] | highlight:searchControls.firstName.value) + ' ' + (record['LastName'] | highlight:searchControls.lastName.value)"></a>
                                </p>
                                <p *ngIf='record["ContactType"]'
                                   class="value-tertiary"
                                   cubTooltip="{{record['ContactType']}}">
                                </p>
                            </ng-template>
                        </p-column>

                        <!-- EMAIL ADDRESS COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="Email"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary"
                                   cubTooltip="{{record['Email']}}"
                                   [innerHTML]="record['Email'] | highlight:searchControls.email.value">
                                </p>
                            </ng-template>
                        </p-column>

                        <!-- PHONE NUMBERS COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="Phone"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p *ngIf='record["Phone1"]'
                                   class="value-secondary"
                                   cubTooltip="{{record['Phone1'] | phone}}"
                                   [innerHTML]="record['Phone1'] | phone | highlight:searchControls.phone.value:searchControls.phone.placeholderChar">
                                </p>
                                <p *ngIf='record["Phone2"]'
                                   class="value-secondary"
                                   cubTooltip="{{record['Phone2'] | phone}}"
                                   [innerHTML]="record['Phone2'] | phone | highlight:searchControls.phone.value:searchControls.phone.placeholderChar">
                                </p>
                                <p *ngIf='record["Phone3"]'
                                   class="value-secondary"
                                   cubTooltip="{{record['Phone3'] | phone}}"
                                   [innerHTML]="record['Phone3'] | phone | highlight:searchControls.phone.value:searchControls.phone.placeholderChar">
                                </p>
                            </ng-template>
                        </p-column>

                        <!-- CITY COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="City"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record['City']}}"></p>
                            </ng-template>
                        </p-column>

                        <!-- SECURITY QUESTION COLUMN -->
                        <p-column>
                            <ng-template pTemplate="header">
                                <p cubTooltip="Security Question"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p *ngIf='record["SecurityQA"]' class="value-tertiary wrap">{{record["SecurityQA"]["Question"]}}</p>
                                <p *ngIf='record["SecurityQA"]' class="value-tertiary wrap">{{record["SecurityQA"]["Answer"]}}</p>
                            </ng-template>
                        </p-column>

                        <!-- ACTIONS MENU COLUMN -->
                        <p-column headerStyleClass="actions center actions-column-width-L"
                                  bodyStyleClass="actions center actions-one">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Actions"></p>
                            </ng-template>
                            <ng-template let-record="rowData" let-ri="rowIndex" pTemplate="body">
                                <input id="actions-{{ri}}" type="checkbox">
                                <label for="actions-{{ri}}" class="action-dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu">
                                    <li>
                                        <button type="button" (click)="verifyContact(record, 'account')">
                                            <p>Verify Contact</p>
                                        </button>
                                    </li>
                                </ul>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
                <ul>
                    <li class="footer">
                        <ul class="buttons">
                            <li>
                                <button type="button" class="button-primary" (click)="ignoreDuplicatesClicked($event)">
                                    <p>Ignore Duplicates</p>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="button-cancel" (click)="cancelDuplicatesClicked($event)">
                                    <p>Cancel</p>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- CUSTOMER VERIFICATION MODAL -->
<cub-customerverification *ngIf="showVerification"
                          [contact]="selectedContact"
                          (onResolve)="resolveVerification($event)">
</cub-customerverification>