﻿<div class="header">
    <ul class="header-toggle">
        <li>
            <p>{{control.label}}</p>
        </li>
        <li>
            <!-- NOTE: Add class "closed" to <div class="options-list"> after the user clicks an unselected option. This forces close of the list regardless of hover. REMOVE the class 0.1 seconds later (the list needs to be shown again on the next hover event). -->
            <div class="options-list">
                <ng-template ngFor let-record [ngForOf]="control.options">
                    <input type="radio"
                           (change)="flydownChange($event)"
                           [attr.id]="record.value"
                           [attr.name]="control.id"
                           [attr.checked]="record.value === control.value ? '' : null"
                           [attr.value]="record.value">
                    <div>
                        <label [attr.for]="record.value">
                            <p>
                                {{record.name}}
                            </p>
                            <div>
                                <span class="icon-drop-down-arrow">
                                    <svg viewBox="0 0 18 12">
                                        <polyline points="2,2 9,9 16,2" />
                                    </svg>
                                </span>
                            </div>
                        </label>
                    </div>
                </ng-template>
            </div>
        </li>
    </ul>
</div>