<div *ngIf="showConfirmDelinkPage" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Are you sure you want to delink Transit Account {{subsystemAccount}} from the customer's account?</p>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="delinkConfirmed()">
                        <p>Delink</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="cancelDelink()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="showSaveModal" class="hybrid modal-small visible">
    <ul class="window modal-width-S confirmation">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5" />
                    <polyline points="16,30.5 25.25,39.75 45,20 " />
                </svg>
            </div>
        </li>
        <li class="header center">
            <h1>Transit Account {{subsystemAccount}} has been delinked from the customer's account.</h1>
        </li>
    </ul>
</div>
<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="showErrorsModal" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Transit Account {{subsystemAccount}} cannot be delinked until the following errors are resolved:</p>
            </div>
        </li>
        <li class="body center" *ngFor="let e of delinkErrors">
            <div>
                - {{e.message}}
            </div>
        </li>

        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-cancel" (click)="okErrors()">
                        <p>OK</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>