﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html>
<head>
    <title>Master Seacrh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jsGrid.min.js"></script>
    <script src="~/Scripts/jquery-date-format.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    
    <script src="~/Scripts/MasterSearch/TransitAccount.js"></script>
    <script src="~/Scripts/MasterSearch/TransitAccountStatus.js"></script>
    <script src="~/Scripts/MasterSearch/TransitAccountBalanceHistory.js"></script>
    <script src="~/Scripts/MasterSearch/TransitAccountTravelHistory.js"></script>

    <style>
        div.tablink {
            font-size: 1.5em;
        }

        body {
            font-size: 75%;
        }

        input[type=text], input[type=email] {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input.err {
            border: 2px solid #bd3131;
        }

        select {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        .button {
            padding: 8px 17px;
            font-size: 1.25em;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #575ADB;
            border: none;
            border-radius: 8px;
            box-shadow: 0 3px #999;
            width: 80px;
        }

            .button:hover {
                background-color: #3333FF;
            }

            .button:active {
                background-color: #575ADB;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #4CAF50;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: lightslategrey;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }

        /*input[type=text]:focus {
            width: 350px;
        }*/
    </style>

    <style>
        .account_status_header {
            background: #d9d9d9;
            /*color: white;*/
            text-align: center;
            display: table-cell;
            /*font-weight: normal;*/
            box-sizing: border-box;
            padding: 4px 10px;
            overflow: hidden;
            /*font-family: Helvetica, Arial, sans-serif !important;
            font-size: 13px !important;*/
        }

        .jsgrid-align-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="w3-container">
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openSearchArea(event, 'searchCards');">
                <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Tokens</div>
            </a>
            <a href="javascript:void(0)" onclick="openSearchArea(event, 'searchContacts');">
                <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Contacts</div>
            </a>
            <a href="javascript:void(0)" onclick="openSearchArea(event, 'searchCases');">
                <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Cases</div>
            </a>
            <a href="javascript:void(0)" onclick="openSearchArea(event, 'searchOrders');">
                <div class="w3-quarter tablink w3-bottombar w3-hover-light-grey w3-padding">Orders</div>
            </a>
        </div>
        <div id="searchOrderBlock" class="w3-row notimplemented">
            <div id="searchOrders" class="w3-col w3-left w3-container searchObject w3-animate-zoom" style="width:300px;display:none">
                <p><input type="text" id="searchByOrderNumber" placeholder="Order Number.." disabled></p>
                <p><button class="button" id="btnSeacrhOrders" disabled>Search</button></p>
            </div>
            <div id="contactOrderResultBlock" class="w3-rest w3-container searchResult" style="display:none">
                <p><div id="orderSearchResult"><h1>Under Construction!</h1></div></p>
            </div>
        </div>
        <div class="w3-row" id="searchContactBlock">
            <div id="searchContacts" class="w3-col w3-left w3-container searchObject w3-animate-zoom" style="width:300px;display:none">
                <p>
                    <Select type="text" id="searchByCustomerType">
                        <!--<option value="" disabled selected>Customer Type...</option>-->
                        <option value="Individual">Individual</option>
                    </Select>
                </p>
                <p><input type="text" id="searchByContactFirstName" placeholder="Enter first name.." maxlength="30" class="contactSearchField"></p>
                <p><input type="text" id="searchByContactLastName" placeholder="Enter last name.." maxlength="30" class="contactSearchField"></p>
                <p><input type="text" id="searchByContactPhone" placeholder="Enter phone.." maxlength="20" class="contactSearchField" onchange="this.value=formatPhoneNumber(this.value)"></p>
                <p><input type="email" id="searchByContactEmail" placeholder="Enter email.." maxlength="100" class="contactSearchField"></p>
                <p>
                    <button class="button" id="btnSeacrhContacts" onclick="RunContactSearch()">Search</button>
                    <button class="button" id="btnClearContactSearch" onclick="ClearContactSearch()">Clear</button>
                </p>
            </div>
            <div id="contactSearchResultBlock" class="w3-rest w3-container searchResult" style="display:none">
                <p><div id="contactSearchResult" /></p>
            </div>
            <div id="contactSearchWarning" class="w3-rest w3-container alert warning" style="display:none">
                <span class="closebtn" onclick="closeWarning(event)">&times;</span>
                <strong id="warningMessage"></strong>
            </div>


        </div>
        <div id="searchCardBlock" class="w3-row">
            <div id="searchCards" class="w3-col w3-left w3-container searchObject w3-animate-zoom" style="width:300px;display:none">
                <p>
                    <Select type="text" id="searchCardByTokenType">
                        <!--<option value="" disabled selected>Customer Type...</option>-->
                        <option value="BankCard">Bank Card</option>
                    </Select>
                </p>
                <p>
                    <Select type="text" id="searchCardBySubSystem">
                        <!--<option value="" disabled selected>Customer Type...</option>-->
                        <option value="ABP">ABP</option>
                    </Select>
                </p>
                <p><input type="text" id="searchCardByBankCardNumber" placeholder="Enter Bank Card Number.." maxlength="20" class="cardSearchField" required></p>
                <p>
                    <Select id="searchCardByExpirationMonth" class="autocomplete selectMonth cardSearchField" required>
                        <option value="" disabled selected>Enter Card Expiration Month..</option>
                    </Select>
                </p>
                <p>
                    <Select id="searchCardByExpirationYear" class="autocomplete selectYear cardSearchField" required>
                        <option value="" disabled selected>Enter Card Expiration Year..</option>
                    </Select>
                </p>
                <p>
                    <button class="button" id="btnSeacrhCards" onclick="RunCardSearch()">Search</button>
                    <button class="button" id="btnClearCardSearch" onclick="ClearCardSearch()">Clear</button>
                </p>
            </div>
            <div id="cardSearchResultBlock" class="w3-rest w3-container searchResult" style="display:none">
                <p><div id="cardSearchResult"></div></p>
            </div>
            <div id="cardSearchWarning" class="w3-rest w3-container alert warning" style="display:none">
                <span class="closebtn" onclick="closeWarning(event)">&times;</span>
                <strong id="warningMessage"></strong>
            </div>
            <div id="AccountStatus" class="w3-rest w3-container searchResultDetails" style="display: none;">
                <p>
                    <table>
                        <tr>
                            <td valign="top">
                                <table>
                                    <tr><td class="account_status_header">Account Status</td><td id="account_status"></td></tr>
                                    <tr><td class="account_status_header">Rider Class</td><td id="rider_class"></td></tr>
                                    <tr><td class="account_status_header">Status Changed</td><td id="status_changed"></td></tr>
                                    <tr><td class="account_status_header">Account Creation On</td><td id="account_creation"></td></tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table>
                                    <tr><td class="account_status_header" colspan="2">Account Last Used</td></tr>
                                    <tr><td class="account_status_header">Date/Time</td><td id="last_used_date_time"></td></tr>
                                    <tr><td class="account_status_header">Device</td><td id="last_used_device"></td></tr>
                                    <tr><td class="account_status_header">Status</td><td id="last_used_status"></td></tr>
                                    <tr><td class="account_status_header">Location</td><td id="last_used_location"></td></tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table>
                                    <tr>
                                        <td class="account_status_header">Account Balance</td>
                                        <td id="account_balance" align="right"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><div id="AccountPurses"></div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div rel="Tokens">
                                    <div id="AccountTokens"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div rel="Tokens">
                                    <div id="AccountPasses"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
        <div id="searchCaseBlock" class="w3-row">
            <div id="searchCases" class="w3-col w3-left w3-container searchObject w3-animate-zoom" style="width:300px;display:none">
                <p><input type="text" id="searchByCaseNumber" placeholder="Case Number.." class="caseSearchField" required></p>
                <p>
                    <button class="button" id="btnSeacrCases" onclick="RunCaseSearch()">Search</button>
                    <button class="button" id="btnClearCardSearch" onclick="ClearCaseSearch()">Clear</button>
                </p>
            </div>
            <div id="caseSearchResultBlock" class="w3-rest w3-container searchResult" style="display:none">
                <p><div id="caseSearchResult"></div></p>
            </div>
            <div id="caseSearchWarning" class="w3-rest w3-container alert warning" style="display:none">
                <span class="closebtn" onclick="closeWarning(event)">&times;</span>
                <strong id="warningMessage"></strong>
            </div>
        </div>

    </div>

    <script>
        var Sdk = window.Sdk || {};
        $(document).ready(function () {
            var month = [], year = [];
            for (var i = 1; i <= 12; i++) {
                month.push(i);
            }
            for (var i = (new Date().getFullYear()) ; i <= (new Date().getFullYear() + 20) ; i++) {
                year.push(i);
            }
            $.each(month, function (index, d) {
                $('.selectMonth').append("<option>" + d + "</option>");
            });
            $.each(year, function (index, y) {
                $('.selectYear').append("<option value=\"" + y.toString().substr(2, 2) + "\">" + y + "</option>");
            });
        });

        $(".contactSearchField").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#btnSeacrhContacts").click();
            }
        });

        function ClearCaseSearch() {
            $('.caseSearchField').val('');
            $("#caseSearchResult").jsGrid({ data: [] });
        }

        function ClearContactSearch()
        {
            $('.contactSearchField').val('');
            $("#contactSearchResult").jsGrid({ data: [] });
        }

        function ClearCardSearch() {
            $('.cardSearchField').val('');
            $("#cardSearchResult").jsGrid({ data: [] });
        }

        function closeWarning(evt) {
            evt.currentTarget.parentElement.style.display = "none";
        }

        function openSearchArea(evt, animName) {
            var i, x, tablinks, searchResults;
            w = document.getElementsByClassName("alert");
            for (i = 0; i < w.length; i++) {
                w[i].style.display = "none";
            }
            x = document.getElementsByClassName("searchObject");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            searchResults = document.getElementsByClassName("searchResult");
            for (i = 0; i < searchResults.length; i++) {
                searchResults[i].style.display = "none";
            }
            searchResults = document.getElementsByClassName("searchResultDetails");
            for (i = 0; i < searchResults.length; i++) {
                searchResults[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
            }
            document.getElementById(animName).style.display = "block";
            evt.currentTarget.firstElementChild.className += "  w3-border-red";
            if ($(document.getElementById(animName)).parent().hasClass("notimplemented")) {
                var c = document.getElementById($(document.getElementById(animName)).parent().find(".searchResult").attr("id"));

                c.style.display = "block";
                c.className += "  w3-animate-bottom"
            }
        }

        function RunCaseSearch() {
            var w, f, c = 0, errorMessage;
            w = document.getElementsByClassName("alert");
            for (i = 0; i < w.length; i++) {
                w[i].style.display = "none";
            }
            f = document.getElementsByClassName("caseSearchField");
            for (i = 0; i < f.length; i++) {
                if (f[i].required && !f[i].value) {
                    $("#caseSearchWarning").find("#warningMessage").html("Please provide values for all required fields");
                    document.getElementById("caseSearchWarning").style.display = "block";
                    return;
                }
                if (f[i].value) {
                    c++
                }
            }
            if (c < 1) {
                $("#caseSearchWarning").find("#warningMessage").html("Please provide at least one criteria to search for");
                document.getElementById("caseSearchWarning").style.display = "block";
                return;
            }
            var caseSearchResults = "";
            var caseNumber = document.getElementById("searchByCaseNumber").value;
            var actionParameters = {
                "caseNumber": caseNumber
            };
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: actionParameters,
                cache: false,
                url: '/MasterSearch/SearchCase',
                success: function (response, textStatus, jqXHR) {
                    var result = JSON.parse(response);
                    PrepareCaseSearch(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }


        function PrepareCaseSearch(data) {
            document.getElementById("caseSearchResultBlock").style.display = "block";
            $("#caseSearchResult").jsGrid({
                width: "100%",
                height: "100%",
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                data: data,
                fields: [
                    {
                        title: "Customer", name: "customerName", width: "20%",
                        itemTemplate: function (value, item) {
                            return $("<a>").attr("href", "javascript:void(0)").on("click", function () {
                                if (item.customerId) {
                                    openRecordInCrm("account", item.customerId);
                                } else {
                                    openRecordInCrm("contact", item.contactId);
                                }
                                return false;
                            }).text(item.customerId ? item.customerName : item.contactName);
                        }
                    },
                    {
                        title: "Case Number", name: "caseNumber", width: "15%",
                        itemTemplate: function (value, item) {
                            return $("<a>").attr("href", "javascript:void(0)").on("click", function () {
                                openRecordInCrm("incident", item.caseId);
                                return false;
                            }).text(value);
                        }
                    },
                    { title: "Title", name: "caseTitle", type: "text", width: "20%" },
                    { title: "Priority", name: "priority", type: "text", width: "15%" },
                    { title: "Status", name: "status", type: "text", width: "15%" },
                    { title: "Created On", name: "createdOn", type: "date", width: "15%" }
                ]
            });
        }

        function RunCardSearch() {
            var w, f, c = 0, errorMessage;
            w = document.getElementsByClassName("alert");
            for (i = 0; i < w.length; i++) {
                w[i].style.display = "none";
            }
            f = document.getElementsByClassName("cardSearchField");
            for (i = 0; i < f.length; i++) {
                if (f[i].required && !f[i].value) {
                    $("#cardSearchWarning").find("#warningMessage").html("Please provide values for all required fields");
                    document.getElementById("cardSearchWarning").style.display = "block";
                    return;
                }
                if (f[i].value) {
                    c++
                }
            }
            if (c < 1) {
                $("#cardSearchWarning").find("#warningMessage").html("Please provide at least one criteria to search for");
                document.getElementById("cardSearchWarning").style.display = "block";
                return;
            }

            var tokenSearchResults = "";
            var subSystem = document.getElementById("searchCardBySubSystem").value;
            var tokenType = document.getElementById("searchCardByTokenType").value;
            var cardNumber = document.getElementById("searchCardByBankCardNumber").value;
            var expMonth = document.getElementById("searchCardByExpirationMonth").value;
            var expYear = document.getElementById("searchCardByExpirationYear").value;
            var actionParameters = {
                "TokenType": tokenType,
                "SubSystem": subSystem,
                "BankCardNumber": cardNumber,
                "ExpirationMonth": expMonth,
                "ExpirationYear": expYear
            };

            $.ajax({
                type: 'post',
                dataType: 'json',
                data: actionParameters,
                cache: false,
                url: '/MasterSearch/SearchCard',
                success: function (response, textStatus, jqXHR) {
                    var result = JSON.parse(response);
                    prepareCardSearch(result.searchResults, subSystem);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });

            document.getElementById("cardSearchResultBlock").style.display = "block";
        }

        function prepareCardSearch(searchResults, subSystem) {
            $("#cardSearchResult").jsGrid({
                width: "100%",
                height: "100%",
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                data: searchResults,
                fields: [
                       {
                           title: "Customer", name: "customerData", width: "33%",
                           itemTemplate: function (value, item) {
                               return $("<pre>").text("Customer Type: " + value.customerType).append($("<pre>").text("Status: ")).append($("<pre>").text(prepareTokenContact(value)))
                           }
                       },
                       {
                           title: "Token Information", name: "subsystemAccountData", width: "33%",
                           itemTemplate: function (value, item) {
                               return $("<pre>").text("OneAccount Id: " + item.oneAccountId)
                                        .append($("<pre>").text("Status: " + value.subsystemAccountStatusDescription))
                                        .append($("<pre>").text("Card/Token Type: " + value.tokenInfo.tokenType))
                                        .append($("<pre>").text("Card Number: ****" + value.tokenInfo.maskedPAN))
                           }
                       },
                       {
                           title: "Subsytem Information", name: "subsystemAccountData", width: "33%",
                           itemTemplate: function (value, item) {
                               return $("<pre>").text("Nickname: " + item.nickname)
                                        .append($("<pre>").text("Status: " + value.subsystemAccountStatusDescription))
                                        .append($("<pre>").text("Account Type: " + value.subsystemAccountTypeDescription))
                                        .append($("<pre>").text("Account #: " + value.subsystemAccountReference))
                           }
                       }
                ],
                rowClick: function (args) {
                    var balanceStartDate = '@ViewBag.BalanceHistoryStartDate';
                    var TravelStartDate = '@ViewBag.TravelHistoryStartDate';
                    TransitAccount.SearchTransitAccount(args.item.subsystemAccountData.subsystemAccountReference, subSystem, balanceStartDate, TravelStartDate);
                },
                rowDoubleClick: function (args) {
                }
            });
        }

        function prepareTokenContact(i) {
            if (i.contacts) {
                if (i.contacts.length == 0) {
                    return "Name: ";
                } else if (i.contacts.length == 1) {
                    //there is only one contact, so just return that one
                    return "Name: " + i.contacts[0].name.firstName + " " + i.contacts[0].name.lastName + " " + i.contacts[0].contactType
                } else {
                    //there are multiple contacts. Return the primary one
                    var res = $.grep(i.contacts, function (e) { return e.contactType == "Primary"; });
                    if (res) {
                        return "Name: " + res.name.firstName + " " + res.name.lastName + " " + res.name.contactType
                    }
                    else {
                        return "Name: " + i.contacts[0].name.firstName + " " + i.contacts[0].name.lastName + " " + i.contacts[0].contactType
                    }
                }
            }
        }

        function RunContactSearch() {
            var w, f, c = 0, errorMessage;
            w = document.getElementsByClassName("alert");
            for (i = 0; i < w.length; i++) {
                w[i].style.display = "none";
            }
            f = document.getElementsByClassName("contactSearchField");
            for (i = 0; i < f.length; i++) {
                if (f[i].required && !f[i].value) {
                    $("#contactSearchWarning").find("#warningMessage").html("Please provide values for all required fields");
                    document.getElementById("contactSearchWarning").style.display = "block";
                    return;
                }
                if (f[i].value) {
                    c++
                }
            }
            if (c < 1) {
                $("#contactSearchWarning").find("#warningMessage").html("Please provide at least one criteria to search for");
                document.getElementById("contactSearchWarning").style.display = "block";
                return;
            }
            var results = "";
            var actionname = "cub_GlobalMasterSearchContact";
            var firstName = document.getElementById("searchByContactFirstName").value;
            var lastName = document.getElementById("searchByContactLastName").value;
            var phone = document.getElementById("searchByContactPhone").value;
            var email = document.getElementById("searchByContactEmail").value;
            var params = {
                "firstName": firstName,
                "lastName": lastName,
                "email": email,
                "phone": phone,
            };
            $.ajax({
                type: 'post',
                data: params,
                dataType: 'json',
                cache: false,
                url: '/MasterSearch/SearchContact',
                success: function (response, textStatus, jqXHR) {
                    ProcessSearchContact(JSON.parse(response));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function ProcessSearchContact(data) {
            document.getElementById("contactSearchResultBlock").style.display = "block";
            $("#contactSearchResult").jsGrid({
                width: "100%",
                height: "400px",
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageIndex: 1,
                pageSize: 10,
                pageButtonCount: 10,
                pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                pagePrevText: "Prev",
                pageNextText: "Next",
                pageFirstText: "First",
                pageLastText: "Last",
                pageNavigatorNextText: "...",
                pageNavigatorPrevText: "...",
                data: data,
                fields: [
                    {
                        title: "Customer", name: "AccountName",
                        itemTemplate: function (value, item) {
                            return $("<a>").attr("href", "javascript:void(0)").on("click", function () {
                                openRecordInCrm("account", item.AccountId);
                                return false;
                            }).text(value);
                        }, width: "23%"
                    },
                    {
                        title: "Contact", name: "FullName",
                        itemTemplate: function (value, item) {
                            return $("<a>").attr("href", "javascript:void(0)").on("click", function () {
                                openRecordInCrm("contact", item.ContactId);
                                return false;
                            }).text(value);
                        }, width: "23%"
                    },
                    { title: "Email", name: "Email", type: "text", width: "25%" },
                    {
                        title: "Phone",
                        itemTemplate: function (value, item) {
                            return $("<pre>").text(concatPhones(item));
                        }, width: "15%"
                    },
                    { title: "City", name: "City", type: "text", width: "17%" }
                ]
            });
        }

        // TODO: Move this to a util library and find a better way to define the CRM_URL
        function openRecordInCrm(entityName, recordId) {
            url = "@ViewBag.CRM_URL/main.aspx?etn=" + entityName + "&pagetype=entityrecord&id=%7B" + recordId + "%7D";
            var win = window.open(url, "_blank", null);
        }

        function concatPhones(i) {
            var phones = '';
            if (i.Phone1)
                phones += i.Phone1 + '(' + i.Phone1Type + ')';
            if (i.telephone2)
                phones = phones.concat("\r\n", i.Phone2 + '(' + i.Phone2Type + ')');
            if (i.telephone3)
                phones = phones.concat("\r\n", i.Phone3 + '(' + i.Phone3Type + ')');
            return phones;
        }
    </script>

    <div id="AccountStatus" class="searchResultDetails" style="display: none;">
        <table>
            <tr>
                <td valign="top">
                    <table>
                        <tr><td class="account_status_header">Account Status</td><td id="account_status"></td></tr>
                        <tr><td class="account_status_header">Rider Class</td><td id="rider_class"></td></tr>
                        <tr><td class="account_status_header">Status Changed</td><td id="status_changed"></td></tr>
                        <tr><td class="account_status_header">Account Creation On</td><td id="account_creation"></td></tr>
                    </table>
                </td>
                <td valign="top">
                    <table>
                        <tr><td class="account_status_header" colspan="2">Account Last Used</td></tr>
                        <tr><td class="account_status_header">Date/Time</td><td id="last_used_date_time"></td></tr>
                        <tr><td class="account_status_header">Device</td><td id="last_used_device"></td></tr>
                        <tr><td class="account_status_header">Status</td><td id="last_used_status"></td></tr>
                        <tr><td class="account_status_header">Location</td><td id="last_used_location"></td></tr>
                    </table>
                </td>
                <td valign="top">
                    <table>
                        <tr>
                            <td class="account_status_header">Account Blance</td>
                            <td id="account_balance" align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div id="AccountPurses"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div rel="Tokens">
                        <div id="AccountTokens"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div rel="Tokens">
                        <div id="AccountPasses"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="AccountBalanceHistory" style="display: none;">
        <h3>Balance History</h3>
        <span class="ui-helper-hidden-accessible"><input type="text" /></span>
        <p>
            Start Date: <input type="text" style="width:120px" maxlength="10" id="balanceStartDatepicker">
            End Date:   <input type="text" style="width:120px" maxlength="10" id="balanceEndDatepicker">
            <button id="SearchAccountBalanceHistoryButton" onclick="return TransitAccountBalanceHistory.SearchTransitAccountBalanceHistory();" disabled>Update</button>
        </p>
        <div id="AccountBalanceHistoryGrid"></div>
    </div>

    <div id="AccountTravelHistory" style="display: none;">
        <h3>Travel History</h3>
        <span class="ui-helper-hidden-accessible"><input type="text" /></span>
        <p>
            Start Date: <input type="text" style="width:120px" maxlength="10" id="travelStartDatepicker">
            End Date:   <input type="text" style="width:120px" maxlength="10" id="travelEndDatepicker">
            <button id="SearchAccountTravelHistoryButton" onclick="return TransitAccountTravelHistory.SearchTransitAccountTravelHistory();" disabled>Update</button>
        </p>
        <div id="AccountTravelHistoryGrid"></div>
    </div>
</body>
</html>
