﻿<div class="modal">
    <ul class="window contact-verification">
        <!-- NOTE: The "alerts" <li> only displays if an alert exists. Otherwise, remove this HTML. -->
        <li class="alerts" *ngIf="alerts && alerts.length > 0">
            <cub-alert *ngFor="let alert of alerts" [alertMessage]="alert"></cub-alert>
        </li>
        <li class="header center">
            <h1>Contact Verification</h1>
        </li>
        <li class="body">
            <div>
                <ul class="either-or">
                    <li>
                        <h2>Security Questions</h2>
                        <!-- NOTE: Use the "checklist-label-width" classes to control the width of the questions/labels/answers/values. Numbers indicate percentages:
                            • checklist-label-width-5
                            • checklist-label-width-10
                            • checklist-label-width-15
                            • etc... up to 100 in increments of 5
                        -->
                        <ul class="checklist checklist-label-width-45">
                            <!-- NOTE: If any ONE security question is "checked", the contact has been verified. Proceed to Master-Search-Contact-Contact-Verified.html -->
                            <cub-securityoption *ngFor="let securityQuestion of securityQuestions"
                                                [securityOption]="securityQuestion"
                                                (onChange)="questionChanged($event)">
                            </cub-securityoption>
                        </ul>
                    </li>
                    <li>
                        <p>OR</p>
                    </li>
                    <li>
                        <h2>Verify 3 of the following:</h2>
                        <ul class="checklist checklist-label-width-25">
                            <!-- NOTE: If at least 3 individual contact information checkboxes are "checked", the contact has been verified. Proceed to Master-Search-Contact-Contact-Verified.html -->
                            <cub-securityoption *ngFor="let contactDetail of contactDetails"
                                                [securityOption]="contactDetail"
                                                (onChange)="detailChanged($event)">
                            </cub-securityoption>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary-text" routerLink="/" routerLinkActive="active">
                        <p>Not Verified</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" routerLink="/MasterSearchContact" routerLinkActive="active">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
