﻿<div class="header center">
    <a routerLink="/" routerLinkActive="active">Back to Landing Page</a>
</div>
<div class="content">
    <div class="header">
        <h1>Find Contact</h1>
        <button type="button">Master Search</button>
    </div>

    <ul class="form-fields-horizontal">
        <!-- NOTE: Use the "form-field-width" classes to control form field widths:
            • form-field-width-XXXS
            • form-field-width-XXS
            • form-field-width-XS
            • form-field-width-S
            • form-field-width-M
            • form-field-width-L
            • form-field-width-XL
            • form-field-width-XXL
            • form-field-width-XXXL
        -->
        <li class="form-field-width-M">
            <label for="customer-type">Customer Type</label>
            <div class="form-field-drop-down">
                <select id="customer-type" disabled>
                    <option selected>Individual</option>
                </select>
                <div>
                    <span class="icon-drop-down-arrow">
                        <svg viewBox="0 0 16 11">
                            <polyline points="2,2 8,8 14,2" />
                        </svg>
                    </span>
                </div>
            </div>
        </li>
        <li cub-textbox-vertical-stacked-label [textControlVerticalStackedLabel]="firstName" 
            (onChange)="textChanged($event,this)"></li>
        <li cub-textbox-vertical-stacked-label [textControlVerticalStackedLabel]="lastName"
            (onChange)="textChanged($event,this)"></li>
        <li cub-textbox-vertical-stacked-label [textControlVerticalStackedLabel]="phone"
            (onChange)="textChanged($event,this)"></li>
        <li cub-textbox-vertical-stacked-label [textControlVerticalStackedLabel]="email"
            (onChange)="textChanged($event,this)"></li>
        <li>
            <div class="form-field-button" 
                cub-button                    
                [control]="searchButton" 
                (onClick)="searchButtonClicked($event)">
                <!-- Remove the "disabled" attribute from <button> when a new search can be performed. Example: after first typing into a field, or changing a field after performing a search. -->
                </div>
        </li>
        <li>
            <div class="form-field-button">
                <!-- Remove the "disabled" attribute from <button> when the search fields contain text. -->
                <button type="button" class="button-primary-text" disabled>
                    <p>Clear</p>
                </button>
            </div>
        </li>
    </ul>

    <div *ngIf="displaySearchResults">        
        <!-- "grid-container" does not display until a search is performed. -->
        <div class="grid-container">
            <ul class="grid-header">
                <li>
                    <p><strong>{{_cub_dataService.sortedMasterSearchContactResults.length}}</strong> Results</p>
                </li>
                 <li cub-dropdown [control]="sortOrderControl" (onChange)="onSortDropdownChanged($event)"></li>                
            </ul>

            <!-- PrimeNg Data Table -->
            <p-dataTable [value]="_cub_dataService.sortedMasterSearchContactResults" [rows]="rowsOnPage" [paginator]="true"
                         selectionMode="single" [(selection)]="_cub_dataService.selectedContactCustomerToVerify" dataKey="ContactId"
                         [style]="{'border-collapse': 'separate',
                            'border': '1px solid black',
                            'padding': '5px',
                            'margin': '5px',
                            'text-align': 'left',
                            'font-size': '18px'}">
                <p-column field="AccountName">
                    <!--  header="Customer" -->
                    <ng-template pTemplate="header" styleClass="grid-column-width-S">
                        <p>Customer</p>
                    </ng-template>
                </p-column>
                <p-column field="FullName" header="Contact"></p-column>
                <p-column field="Email" header="Email"></p-column>
                <p-column>
                    <ng-template pTemplate="header" styleClass="grid-column-width-S">
                        <p>Phone</p>
                    </ng-template>
                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{record["Phone1"]}}</span><br />
                        <span>{{record["Phone2"]}}</span><br />
                        <span>{{record["Phone3"]}}</span>
                    </ng-template>
                </p-column>
                <p-column field="City" header="City"></p-column>
                <p-column>
                    <ng-template pTemplate="header" styleClass="grid-column-width-S">
                        <p>Actions</p>
                    </ng-template>
                    <ng-template let-col let-record="rowData" let-ri="rowIndex" pTemplate="body">
                        <!--<button onclick="verifyContactClicked">Verify Contact</button>-->
                        <button type="button" pButton (click)="verifyContactClicked(record)">Verify Contact</button>
                        <!--<a routerLink="/CustomerVerification" routerLinkActive="active">Verify Contact</a>-->
                    </ng-template>
                </p-column>
            </p-dataTable>

            <!-- Kevin's Grid-->
            <div *ngIf="false" >
                <div class="grid">
                    <ul class="grid-column-headers">
                        <!-- NOTE: Use the "grid-column-width" classes to control column widths:
                • grid-column-width-XXXS
                • grid-column-width-XXS
                • grid-column-width-XS
                • grid-column-width-S
                • grid-column-width-M
                • grid-column-width-L
                • grid-column-width-XL
                • grid-column-width-XXL
                • grid-column-width-XXXL
            NOTE: The same class must be used for the corresponding column in the "grid-list" <div> to align columns appropriately.
            -->
                        <li class="grid-column-width-S">
                            <p>Customer</p>
                        </li>
                        <li class="grid-column-width-S">
                            <p>Contact</p>
                        </li>
                        <li class="grid-column-width-XL">
                            <p>Email</p>
                        </li>
                        <li class="grid-column-width-S">
                            <p>Phone</p>
                        </li>
                        <li class="grid-column-width-M">
                            <p>City</p>
                        </li>
                        <!-- NOTE: Class "center" can be used on any column to center the contained content. -->
                        <li class="actions center">
                            <p>Actions</p>
                        </li>
                    </ul>
                    <div class="grid-list">
                        <ul>
                            <li class="grid-column-width-S">
                                <!-- NOTE: Wrap the matching search query (or partial match) in a <mark> tag for proper styling. -->
                                <p class="value-primary"><mark>Johnny Jackson</mark></p>
                                <!-- NOTE: Search result values use 3 different styling options, each with a different class name:
                        • value-primary = Primary information (big/bold)
                        • value-secondary = Secondary information (big/normal)
                        • value-tertiary = Tertiary information (small/normal)
                    -->
                                <p class="value-tertiary">Individual</p>
                            </li>
                            <li class="grid-column-width-S">
                                <!-- NOTE: Anchor <a> links directly to the Contact record, not the Customer record. The rest of the row (minus Actions) links to the Customer. -->
                                <p class="value-primary"><a href="#"><mark>Johnny Jackson</mark></a></p>
                                <p class="value-tertiary">Primary</p>
                            </li>
                            <li class="grid-column-width-XL">
                                <p class="value-secondary">jacksonofjohnny@emailaddresses.com</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-secondary">917-199-5432</p>
                                <p class="value-secondary">312-555-0909</p>
                            </li>
                            <li class="grid-column-width-M">
                                <p class="value-secondary">Clinton</p>
                            </li>
                            <!-- NOTE: When only one action exists, use the class "actions-one". When multiple actions exist, use the class "actions-multiple" -->
                            <li class="actions center actions-one">
                                <!-- NOTE: The <input> checkbox is invisible and works behind the scenes to hide/show the corresponding actions menu (only necessary when multiple actions exist) -->
                                <input type="checkbox" id="actions-1">
                                <label for="actions-1" class="dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu">
                                    <li>
                                        <button type="button">
                                            <p>Verify Contact</p>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li class="grid-column-width-S">
                                <p class="value-primary"><mark>Johnny Jackson</mark></p>
                                <p class="value-tertiary">Individual</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-primary"><a href="#"><mark>Johnny Jackson</mark></a></p>
                                <p class="value-tertiary">Primary</p>
                            </li>
                            <li class="grid-column-width-XL">
                                <p class="value-secondary">johnnyjackson@gmail.com</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-secondary">312-555-1234</p>
                                <p class="value-secondary">800-555-0000</p>
                            </li>
                            <li class="grid-column-width-M">
                                <p class="value-secondary">Springfield</p>
                            </li>
                            <!-- NOTE: When only one action exists, use the class "actions-one". When multiple actions exist, use the class "actions-multiple" -->
                            <li class="actions center actions-multiple">
                                <!-- NOTE: The <input> checkbox is invisible and works behind the scenes to hide/show the corresponding actions menu (only necessary when multiple actions exist) -->
                                <!-- NOTE: When the user does one of the following, remove the "checked" attribute from the <input>:
                        • User clicks a button in the "actions-menu".
                        • User clicks outside of the "actions-menu".
                        • User leaves hover of the <ul> search row result containing the "actions-menu".
                    -->
                                <input type="checkbox" id="actions-2">
                                <label for="actions-2" class="dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu">
                                    <li>
                                        <button type="button">
                                            <p>Link To Customer</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button">
                                            <p>Verify Contact</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button">
                                            <p>Yet Another Link</p>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li class="grid-column-width-S">
                                <p class="value-primary"><mark>Johnny Jackson</mark></p>
                                <p class="value-tertiary">Individual</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-primary"><a href="#"><mark>Johnny Jackson</mark></a></p>
                                <p class="value-tertiary">Primary</p>
                            </li>
                            <li class="grid-column-width-XL">
                                <p class="value-secondary">abcdefjohnny@iloveemails.com</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-secondary">847-555-9876</p>
                            </li>
                            <li class="grid-column-width-M">
                                <p class="value-secondary">Madison</p>
                            </li>
                            <li class="actions center actions-one">
                                <input type="checkbox" id="actions-3">
                                <label for="actions-3" class="dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu">
                                    <li>
                                        <button type="button">
                                            <p>Verify Contact</p>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li class="grid-column-width-S">
                                <p class="value-primary">Andrew Jackson</p>
                                <p class="value-tertiary">Individual</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-primary"><a href="#"><mark>Johnny Jackson</mark></a></p>
                                <p class="value-tertiary">Secondary</p>
                            </li>
                            <li class="grid-column-width-XL">
                                <p class="value-secondary">itsjohnny@freedomains.com</p>
                            </li>
                            <li class="grid-column-width-S">
                                <p class="value-secondary">214-998-9852</p>
                            </li>
                            <li class="grid-column-width-M">
                                <p class="value-secondary">Franklin</p>
                            </li>
                            <li class="actions center actions-multiple">
                                <input type="checkbox" id="actions-4">
                                <label for="actions-4" class="dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu">
                                    <li>
                                        <button type="button">
                                            <p>Link To Customer</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button">
                                            <p>Verify Contact</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button">
                                            <p>Yet Another Link</p>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- NOTE: Pagination only displays if 2+ pages exist. -->
                <ul class="pagination">
                    <li>
                        <!-- NOTE: Previous <button> is disabled if currently on the first page. -->
                        <button type="button" class="previous-next" disabled>Previous</button>
                    </li>
                    <li>
                        <!-- NOTE: Selected page <button> is disabled. -->
                        <button type="button" class="page-selected" disabled>1</button>
                    </li>
                    <li>
                        <button type="button">2</button>
                    </li>
                    <li>
                        <button type="button">3</button>
                    </li>
                    <li>
                        <button type="button">4</button>
                    </li>
                    <li>
                        <button type="button">5</button>
                    </li>
                    <li>
                        <button type="button">6</button>
                    </li>
                    <li>
                        <button type="button">7</button>
                    </li>
                    <li>
                        <button type="button">8</button>
                    </li>
                    <li>
                        <button type="button">9</button>
                    </li>
                    <li>
                        <button type="button">10</button>
                    </li>
                    <li>
                        <!-- NOTE: Next <button> is disabled if currently on the last page. -->
                        <button type="button" class="previous-next">Next</button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- NOTE: "action-message" does not display until a search has been performed. -->
        <ul class="action-message">
            <li>
                <!-- NOTE: Text displays "No results found" if no search results are found. -->
                <p>Not the right customer?</p>
            </li>
            <li>
                <button type="button" class="button-primary">
                    <p>Create New Customer</p>
                </button>
            </li>
        </ul>
    </div>
</div>