<router-outlet name="session"></router-outlet>
<div class="content">
    <div [class.header]="!displayAsLinkPage">
        <div cub-flydown [control]="masterSearchFlydown" (onChange)="onFlydownChanged($event)"></div>
    </div>
    <ul class="form-fields-horizontal">
        <li class="form-field-width-XXL">
            <cub-date-range [offset]="dateOffset"
                            [requireBoth]="true"
                            (startChange)="onStartDateChanged($event)"
                            (endChange)="onEndDateChanged($event)"></cub-date-range>
        </li>
        <li cub-multi-dropdown
            class="form-field-width-XL"
            label="Type"
            controlId="typeControl"
            [options]="typeControl"
            (onChange)="onMultiDropdownChanged($event, 'typeControl')">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-XL"
            label="Status"
            controlId="statusControl"
            [options]="statusControl"
            (onChange)="onMultiDropdownChanged($event, 'statusControl')">
        </li>
        <li>
            <div cub-button
                 class="form-field-button"
                 [control]="searchOrderButton"
                 (onClick)="searchOrderButtonClicked($event)">
            </div>
        </li>
        <li class="divider">
            <p>OR</p>
        </li>
        <li cub-textbox
            [control]="orderNumber"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchOrderNumberButtonClicked()"
            class="form-field-width-XL">
        </li>
        <li>
            <div class="form-field-button">
                <button type="button"
                        class="button-primary"
                        [disabled]="searchOrderNumberButton?.isDisabled"
                        (click)="searchOrderNumberButtonClicked()">
                    <p>Search</p>
                </button>
            </div>
        </li>
        <li>
            <div class="form-field-button">
                <button type="button" class="button-primary-text" (click)="clearButtonClicked($event)">
                    <p>Clear</p>
                </button>
            </div>
        </li>
    </ul>
    <div *ngIf="orderResultsLineItems && displaySearchResults"
         class="section">
        <ul class="grid-header">
            <li>
                <p><strong>{{_cub_dataService.sortedMasterSearchOrderResults.lineItems.length}}</strong> Result{{_cub_dataService.sortedMasterSearchOrderResults.lineItems.length !== 1 ? 's' : ''}}</p>
            </li>
            <!--<li>
                <ul class="form-fields-vertical">
                    <li cub-controllabel
                        [id]="sortOrderControl.id"
                        [label]="sortOrderControl.label"
                        class="form-field-width-M">
                    </li>
                    <li cub-dropdown
                        [control]="sortOrderControl"
                        (onChange)="onSortDropdownChanged($event)"
                        class="sortControl form-field-width-XL">
                    </li>
                </ul>
            </li>-->
        </ul>

        <!-- ORDER RESULTS GRID -->
        <div class="grid-large">
            <p-dataTable [value]="_cub_dataService.sortedMasterSearchOrderResults"
                         [rows]="rowCountToShow"
                         [paginator]="true"
                         selectionMode="single"
                         [(selection)]="selectedOrder"
                         dataKey="OrderNumber"
                         (onRowDblclick)="verifyOrderClicked()">

                <!-- CUSTOMER NAME COLUMN -->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Customer"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary"
                           (click)="customerClicked(record)"
                           cubTooltip="{{record['AccountName']}}"
                           innerHTML="{{record['AccountName']?.split(' ')[0] | highlight:firstName.value}} {{record['AccountName']?.split(' ')[1] | highlight:lastName.value}}"></p>
                        <p class="value-tertiary" cubTooltip='{{record["AccountType"]?.Name}}'></p>
                    </ng-template>
                </p-column>

                <!-- ORDER DATE COLUMN-->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Order Date"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary"
                           cubTooltip="{{record['OrderDate']}}"
                           innerHTML="{{record['OrderDate'] | highlight:orderDate.value}}">
                        </p>
                    </ng-template>
                </p-column>

                <!-- ORDER NUMBER COLUMN-->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Order Date"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record['OrderDate']}}"></p>
                    </ng-template>
                </p-column>

                <!-- ORDER TYPE COLUMN-->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Order Type"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record['OrderType']}}"></p>
                    </ng-template>
                </p-column>

                <!-- ORDER STATUS COLUMN-->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Order Status"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record['OrderStatus']}}"></p>
                    </ng-template>
                </p-column>

                <!-- LINE ITEM COUNT COLUMN-->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Line Item Count"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record['LineItemCount']}}"></p>
                    </ng-template>
                </p-column>

                <!-- DEPOSIT TOTAL COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Deposit Total"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip='${{record["DepositTotal"]}}'></p>
                    </ng-template>
                </p-column>

                <!-- GRAND TOTAL COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Grand Total"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip='${{record["GrandTotal"]}}'></p>
                    </ng-template>
                </p-column>

                <!-- CHANNEL COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Channel"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip='{{record["Channel"]}}'></p>
                    </ng-template>
                </p-column>

            </p-dataTable>
        </div>
    </div>

    <ul class="action-message" *ngIf="displaySearchResults">
        <li>
            <p *ngIf="_cub_dataService.masterSearchContactResults && _cub_dataService.masterSearchContactResults.length > 0">Not the right customer?</p>
            <p *ngIf="!_cub_dataService.masterSearchContactResults || _cub_dataService.masterSearchContactResults.length <= 0">No results found</p>
        </li>
        <li>
            <button type="button"
                    class="button-primary"
                    (click)="createNewCustomerButtonClicked()">
                <p>Create New Customer</p>
            </button>
        </li>
    </ul>
</div>

<!-- CUSTOMER VERIFICATION MODAL -->
<cub-customerverification *ngIf="showVerification"
                          [contact]="selectedContact"
                          (onResolve)="resolveVerification($event)">
</cub-customerverification>