<div class="hybrid modal-small visible">
    <!--TODO verify/adjust this width class once order history data is available-->
    <ul class="window modal-width-XXL">
        <li class="header center">
        </li>
        <li class="body">
            <div>
                <ul class="columns-2-even">
                    <li>
                        <div class="information-box">
                            <h3>Order Details</h3>
                            <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                            <ul class="columns-2-even">
                                <li>
                                    <div class="information label-width-50">
                                        <ul>
                                            <li>
                                                <p>Order Date</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: Utilize the non-breaking space for separating the date and time. -->
                                                <p cubTooltip="{{order['orderDateTime'] | momentDate}}"></p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p>Last Update</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: M-dash (not N) is used in conjunction with the "null" class for blank fields. -->
                                                <p cubTooltip="{{order['orderLastUpdate'] | momentDate}}"></p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p>Order ID</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: M-dash (not N) is used in conjunction with the "null" class for blank fields. -->
                                                <p cubTooltip="{{order['orderId']}}"></p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p>Order Status</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: M-dash (not N) is used in conjunction with the "null" class for blank fields. -->
                                                <p cubTooltip="{{order['orderStatus']}}"></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="information label-width-50">
                                        <ul>
                                            <li>
                                                <p>Order Type</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: Utilize the non-breaking space for separating the date and time. -->
                                                <p cubTooltip="{{order['orderType']}}"></p>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <p>Order Subtype</p>
                                            </li>
                                            <li>
                                                <!-- NOTE: M-dash (not N) is used in conjunction with the "null" class for blank fields. -->
                                                <p cubTooltip="{{order['orderLastUpdate'] | momentDate}}"></p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="information-box">
                            <h3>Payment Information</h3>
                            <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                            <div class="information label-width-55">
                                <ul>
                                    <li>
                                        <p>Total</p>
                                    </li>
                                    <li>
                                        <!-- NOTE: Use class "large" to increase the text size. -->
                                        <!-- NOTE: Use class "negative" when the dollar amount is below 0. -->
                                        <p class="large" cubTooltip="{{order['orderTotalAmount'] | money}}"></p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <!-- NOTE: <hr> is used to create a divider. -->
                                        <hr>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Payment Status</p>
                                    </li>
                                    <li>
                                        <p cubTooltip="{{order['paymentStatus']}}"></p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Payment Ref. #</p>
                                    </li>
                                    <li>
                                        <p cubTooltip="{{order['paymentReferenceNumber']}}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="grid-small">
                    <p-dataTable [value]="orderHistoryDetailsPayments"
                                    dataKey="paymentDedetailsId"
                                    [paginator]="true"
                                    [totalRecords]="orderHistoryDetailsPaymentsLength"
                                    [rows]="5">

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Payment Amount"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                            let-col
                                            let-record="rowData">
                                <p cubTooltip="{{record['paymentAmount'] | money}}"></p>
                            </ng-template>
                            <!--<ng-template pTemplate="footer">
                                <span cubTooltip="Total Amount:"></span>
                            </ng-template>-->
                        </p-column>

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Payment Type"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                            let-col
                                            let-record="rowData">
                                <p cubTooltip="{{record['paymentType']}}"></p>
                            </ng-template>
                            <!--<ng-template pTemplate="footer">
                                <span cubTooltip="{{this.orderHistoryDetailResults.totalAmount | money}}"></span>
                            </ng-template>-->
                        </p-column>

                        <p-column field="cardType" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Funding Source"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                            let-col
                                            let-record="rowData">
                                <p cubTooltip="{{record['cardType']}} - {{record['maskedPan']}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column field="retrievalReferenceNumber" headerStyleClass="center grid-column-width-S">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Auth Ref Num"></p>
                            </ng-template>
                            <ng-template pTemplate="body"
                                            let-col
                                            let-record="rowData">
                                <p cubTooltip="{{record['retreievalReferenceNumber']}}"></p>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="closeDetail()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>