<div class="hybrid">
    <ul class="opposite-sides shift-down">
        <li></li>
        <li>
            <button type="button" class="button-plus" (click)="addFundingSourceClicked()">
                <p>Add Funding Source</p>
            </button>
        </li>
    </ul>
    <div class="grid-small">
        <p-dataTable [value]="fundingSourceDetail"
                     dataKey="fundingSourceId"
                     [rows]="rowsPerPage"
                     [paginator]="true">

            <p-column headerStyleClass="grid-column-width-S left">
                <ng-template pTemplate="header">
                    <p cubTooltip="Type"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <p *ngIf='record["directDebit"]' class="value-tertiary wrap">Direct Debit</p>
                    <p *ngIf='record["creditCard"]' class="value-tertiary wrap">Credit Card</p>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="grid-column-width-XL left">
                <ng-template pTemplate="header">
                    <p cubTooltip="Name On Account"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <p class="value-secondary">{{record.creditCard?.nameOnCard}}</p>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="grid-column-width-XL left">
                <ng-template pTemplate="header">
                    <p cubTooltip="Account Information"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <p class="value-secondary">{{record.creditCard?.creditCardType}} - {{record.creditCard?.maskedPan}}, Expiring {{record.creditCard?.cardExpiryMMYY}}</p>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="grid-column-width-XL left">
                <ng-template pTemplate="header">
                    <p cubTooltip="Billing Address"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <p class="value-secondary">{{record.billingAddress}}</p>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="grid-column-width-S center">
                <ng-template pTemplate="header">
                    <p cubTooltip="Primary"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span *ngIf='record.setAsPrimary' class="icon-check-primary">
                        <svg viewBox="0 0 16 13">
                            <polyline points="2.25,6.25 6,10 13.75,2.25" />
                        </svg>
                    </span>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="grid-column-width-S left">
                <ng-template pTemplate="header">
                    <p cubTooltip="Status"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-secondary">{{record.status}}</span>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="actions center actions-column-width-L"
                      bodyStyleClass="actions center actions-multiple">
                <ng-template pTemplate="header">
                    <p>Actions</p>
                </ng-template>
                <ng-template let-record="rowData" let-i="rowIndex" pTemplate="body">
                    <cub-menu-toggle inputId="action-{{i}}">
                        <input type="checkbox" id="action-{{i}}">
                        <label for="action-{{i}}" class="actions-dots">
                            <span></span>
                        </label>
                        <ul class="actions-menu actions-menu-align-center">
                            <li>
                                <button type="button" (click)="editFundingSourceClicked(record)">
                                    <p>Edit</p>
                                </button>
                            </li>
                            <li>
                                <button type="button" (click)="setAsPrimaryClicked(record)">
                                    <p>Set As Primary</p>
                                </button>
                            </li>
                            <li>
                                <button type="button" (click)="viewAutoloadsClicked(record)">
                                    <p>View Autoloads</p>
                                </button>
                            </li>
                            <li>
                                <button type="button" (click)="deleteFundingSourceClicked(record)">
                                    <p>Delete</p>
                                </button>
                            </li>
                        </ul>
                    </cub-menu-toggle>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>

<!-- Add class "visible" to modal <div> to display modal window. -->
<div class="hybrid modal-small" [class.visible]="showDeletePage">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Are you sure you want to delete Visa {{visaNum}}?</p>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="deleteFundingSourceConfirmed()">
                        <p>Delete</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="cancelDelete()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- NOTE: This modal window appears immediately after the notification preferences have been saved to the target contact(s). After  2.5 seconds of display, hide the modal window. -->
<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="showSaveModal" class="hybrid modal-small visible">
    <ul class="window modal-width-S confirmation">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5" />
                    <polyline points="16,30.5 25.25,39.75 45,20 " />
                </svg>
            </div>
        </li>
        <li class="header center">
            <h1>Funding Source was deleted.</h1>
        </li>
    </ul>
</div>
<cub-add-funding-source *ngIf="showAddFundingSource" (cancelClicked)="cancelAddFundingSource()" [accountId]="accountId">
</cub-add-funding-source>
<cub-edit-fundingsource *ngIf="showEditFundingSource" (cancelClicked)="cancelEditFundingSource($event)" [accountId]="accountId" [fundingSourceId]="fundingSourceId">
</cub-edit-fundingsource>
