﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggerTest</title>
</head>
<body>
    <div>
        <h1>Cubic Async Db Logger is working fine.</h1>
        Check the test logging entries in the Logger database define under AppInfo.LoggerDatabaseStringConnection global key.
    </div>
</body>
</html>
