﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MSD.Web.Angular</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript">
        //polyfill
        if (!String.prototype.splice) {
            String.prototype.splice = function (start, delCount, newSubStr) {
                return this.slice(0, start) + newSubStr + this.slice(start + Math.abs(delCount));
            };
        }
    </script>
    <script>
        window.cubicConfig = {
            apiBaseUrl: '@Html.Raw(ViewBag.WebAppUrl)',
            msdBaseUrl: '@Html.Raw(ViewBag.MsdUrl)',
            globals: JSON.parse(@Html.Raw(Json.Encode(ViewBag.Globals))),
            gridConfigs: JSON.parse(@Html.Raw(Json.Encode(ViewBag.GridConfigs)))
        };
    </script>
    <link href="~/Scripts/NgApp/styles.bundle.css" rel="stylesheet" />
</head>
<body>
    <app>Loading Cubic Application...</app>
    <script type="text/javascript" src="~/Scripts/NgApp/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/main.bundle.js"></script>
</body>
</html>