﻿<div class="hybrid">
    <ul class="form-fields-horizontal">
        <li class="form-field-width-L">
            <label for="startDateControl">Date Range</label>
            <ul class="form-fields-siblings form-fields-range">
                <!-- NOTE: The Date inputs should allow for both text input AND a datepicker selection. -->
                <!-- NOTE: Changing any of the filters (date range) should immediately submit the selection and refresh the grid. -->
                <li cub-textbox
                    [control]="startDateControl"
                    (onChange)="onStartDateControlChanged($event)"
                    (onEnterPress)="onEnterKey()">
                </li>
                <li>
                    <label for="endDateControl">to</label>
                </li>
                <li cub-textbox
                    [control]="endDateControl"
                    (onChange)="onEndDateControlChanged($event)"
                    (onEnterPress)="onEnterKey()">
                </li>
            </ul>
        </li>
        <li cub-multi-dropdown
            class="form-field-width-M"
            controlId="travel-mode-dropdown"
            label="Travel Mode"
            [options]="travelModeOptions"
            (onChange)="onTravelModeDropdownChanged($event)">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-M"
            controlId="trip-control-dropdown"
            label="Trip Type"
            [options]="tripOptions"
            (onChange)="onTripTypeDropdownChanged($event)">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-M"
            controlId="travel-presence-dropdown"
            label="Travel Presence Indicator"
            [options]="travelPresenceOptions"
            (onChange)="onTravelPresenceDropdownChanged($event)">
        </li>
        <li cub-radiolist
            class="form-field-width-M"
            [control]="viewTypeControl"
            (onChange)="onControlChanged()">
        </li>
        <li cub-radiolist
            class="form-field-width-M"
            [control]="tripStatusControl"
            (onChange)="onControlChanged()">
        </li>
        <li class="form-field-width-S">
            <button type="button"
                    class="button-primary"
                    id="search-button"
                    [attr.disabled]="disableSearch ? '' : null"
                    (click)="onSearchClicked()">
                <p>Search</p>
            </button>
        </li>
    </ul>

    <div class="grid-container">
        <!--TRANSACTION HISTORY TABLE-->
        <p-dataTable [value]="travelHistoryResults"
                     selectionMode="single"
                     [rows]="rowsPerPage"
                     [paginator]="true"
                     dataKey="tripId"
                     [lazy]="true"
                     (onLazyLoad)="getTravelHistory($event)"
                     [totalRecords]="totalRecordCount"
                     sortMode="multiple"
                     [multiSortMeta]="multiSortMeta"
                     (onRowDblclick)="onRowDoubleClicked($event)">

            <!--TRIP ID COLUMN-->
            <p-column styleClass="grid-column-width-XS"
                      field="tripId"
                      sortable="true">
                <ng-template pTemplate="header">
                    <p cubTooltip="Trip ID"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span cubTooltip="{{record.tripId}}"></span>
                </ng-template>
            </p-column>

            <!--JOURNEY ID COLUMN-->
            <!--<p-column styleClass="grid-column-width-XS" header="Journey ID" field="journeyId" sortable="true">
                <ng-template pTemplate="header">
                    <p cubTooltip="Journey ID"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span cubTooltip="{{record.journeyId}}"></span>
                </ng-template>
            </p-column>-->

            <!--TRIP START COLUMNN-->
            <p-column styleClass="grid-column-width-M" header="Trip Start" field="startDateTime" sortable="true">
                <ng-template pTemplate="header">
                    <p cubTooltip="Trip Start"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-primary" cubTooltip="{{record.startLocationDescription || 'None'}}"></span>
                    <span *ngIf='record.startDateTime'
                          class="value-tertiary"
                          cubTooltip="{{record.startDateTime | momentDate:'M/D/YYYY h:mm A' | async}}">
                    </span>
                </ng-template>
            </p-column>

            <!--TRIP END COLUMNN-->
            <p-column styleClass="grid-column-width-M" header="Trip End" field="endDateTime" sortable="true">
                <ng-template pTemplate="header">
                    <p cubTooltip="Trip End"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-secondary" cubTooltip="{{record.endLocationDescription || 'None'}}"></span>
                    <span *ngIf='record.startDateTime'
                          class="value-tertiary"
                          cubTooltip="{{record.endDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}">
                    </span>
                </ng-template>
            </p-column>

            <!--TRAVEL MODE COLUMN-->
            <p-column styleClass="grid-column-width-XL cell-icon"
                      field="travelMode"
                      sortable="true">
                <ng-template pTemplate="header">
                    <p cubTooltip="Travel Mode"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <div class="icon-container">
                        <span *ngIf='record.travelMode === "Bus"' class="icon-travel-mode-bus">
                            <svg viewBox="0 0 26 15">
                                <path d="M1,2.992C1,1.892,1.897,1,3.005,1h16.489C22.535,1,25,3.469,25,6.5v3.508 C25,11.108,24.103,12,22.995,12H2c-0.552,0-1-0.445-1-0.995V2.992z" />
                                <circle cx="6" cy="11" r="2.5" />
                                <circle cx="18" cy="11" r="2.5" />
                                <rect x="3" y="3" width="4" height="3" />
                                <rect x="8" y="3" width="4" height="3" />
                                <rect x="13" y="3" width="4" height="3" />
                                <path d="M23.857,6C23.411,4.283,21.86,3,20,3h-2v3H23.857z" />
                            </svg>
                        </span>
                        <span *ngIf='record.travelMode === "Rail"' class="icon-travel-mode-rail">
                            <svg viewBox="0 0 20 20">
                                <circle cx="10" cy="10" r="8.5" />
                                <line x1="4" y1="16" x2="16" y2="4" />
                                <line x1="16" y1="16" x2="4" y2="4" />
                                <path d="M3,8h1.822c0.63,0,1.251,0.285,1.251,1.006c0,0.386-0.186,0.751-0.561,0.896v0.01c0.38,0.091,0.49,0.516,0.521,0.856 c0.01,0.15,0.025,0.676,0.15,0.806H5.262c-0.08-0.12-0.095-0.471-0.105-0.57c-0.025-0.36-0.085-0.73-0.521-0.73H3.931v1.301H3V8z M3.931,9.552h0.781c0.28,0,0.43-0.15,0.43-0.421c0-0.266-0.21-0.386-0.47-0.386H3.931V9.552z" />
                                <path d="M14,8h1.822c0.63,0,1.251,0.285,1.251,1.006c0,0.386-0.186,0.751-0.561,0.896v0.01c0.38,0.091,0.49,0.516,0.521,0.856 c0.01,0.15,0.025,0.676,0.15,0.806h-0.921c-0.08-0.12-0.095-0.471-0.105-0.57c-0.025-0.36-0.085-0.73-0.521-0.73h-0.706v1.301H14V8z M14.931,9.552h0.781c0.28,0,0.43-0.15,0.43-0.421c0-0.266-0.21-0.386-0.47-0.386h-0.741V9.552z" />
                            </svg>
                        </span>
                        <span *ngIf='record.travelMode === "Tollway"' class="icon-travel-mode-tollway">
                            <svg viewBox="0 0 22 22">
                                <path d="M20.008,6.264l-2.016-3.527C17.446,1.781,16.1,1,15,1H7C5.9,1,4.554,1.781,4.008,2.736L1.992,6.264C1.446,7.219,1,8.9,1,10 v4h2v2c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-2h10v2c0,0.55,0.45,1,1,1h1c0.55,0,1-0.45,1-1v-2h2v-4 C21,8.9,20.554,7.219,20.008,6.264z M4.5,11C3.671,11,3,10.329,3,9.5S3.671,8,4.5,8S6,8.671,6,9.5S5.329,11,4.5,11z M4,7 C3.45,7,3.231,6.614,3.515,6.143l1.971-3.285C5.769,2.386,6.45,2,7,2h8c0.55,0,1.231,0.386,1.515,0.857l1.971,3.285 C18.769,6.614,18.55,7,18,7H4z M17.5,11c-0.829,0-1.5-0.671-1.5-1.5S16.671,8,17.5,8S19,8.671,19,9.5S18.329,11,17.5,11z" />
                            </svg>
                        </span>
                    </div>
                    <span cubTooltip="{{record.travelModeDescription}}"></span>
                </ng-template>
            </p-column>

            <!--TOKEN COLUMNN-->
            <p-column styleClass="grid-column-width-M">
                <ng-template pTemplate="header">
                    <p cubTooltip="Token"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span cubTooltip="{{record.token.tokenType}}, {{record.token.tokenNickname}}"></span>
                </ng-template>
            </p-column>

            <!--FARE PRODUCT COLUMNN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Product"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span cubTooltip="{{record.productDescription}}"></span>
                </ng-template>
            </p-column>

            <!--FARE COLUMNN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Fare"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-primary" cubTooltip="{{record.totalFare | money}}"></span>
                </ng-template>
            </p-column>

            <!--UNPAID FARE COLUMN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Unpaid Fare"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <p *ngIf='record.unpaidFare' class="value-tertiary red" cubTooltip="{{record.unpaidFare | money}}"></p>
                </ng-template>
            </p-column>

            <!--TRIP TYPE COLUMNN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Trip Type"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-primary" cubTooltip="{{record.tripType}}"></span>
                </ng-template>
            </p-column>

            <!--STATUS COLUMN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Status"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-primary" cubTooltip="{{record.tripStatus}}"></span>
                </ng-template>
            </p-column>

            <!--INDICATOR COLUMN-->
            <p-column styleClass="grid-column-width-XS">
                <ng-template pTemplate="header">
                    <p cubTooltip="Indicator"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <span class="value-primary" cubTooltip="{{record.travelPresenceIndicator}}"></span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div> <!-- end hybrid -->

<cub_ta_travelhistorydetail *ngIf="showDetail"
                            subsystemId="{{subsystemId}}"
                            transitaccountId="{{transitAccountId}}"
                            [tripId]="selectedDetailId"
                            (onCancel)="hideDetail()">
</cub_ta_travelhistorydetail>