﻿<div class="hybrid">
    <div class="modal-small visible">
        <ul class="window modal-width-XXXXL">
            <li *ngIf="showHistoricalWarning" class="alert-banner">
                <ul>
                    <li>
                        <div class="icon-alert-banner">
                            <svg viewBox="0 0 23 23">
                                <circle cx="11.5" cy="11.5" r="9.75" />
                                <path d="M11.042,5h0.916C12.534,5,13,5.447,13,6c0,0.02,0,0.039-0.002,0.059l-0.398,6.5 c-0.032,0.528-0.488,0.941-1.04,0.941H11.44c-0.551,0-1.008-0.413-1.04-0.941l-0.398-6.5c-0.034-0.551,0.405-1.024,0.979-1.057 C11.001,5.001,11.022,5,11.042,5z" />
                                <path d="M11,15h1c0.552,0,1,0.447,1,1v1c0,0.553-0.448,1-1,1h-1c-0.552,0-1-0.447-1-1v-1 C10,15.447,10.448,15,11,15z" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <p>Some order details may not be included. Switch to "Historical" data in Order History to view additional details.</p>
                    </li>
                </ul>
            </li>
            <li class="body padding-bottom-30">
                <div>
                    <!-- NOTE: Class "column-2-width-*" sets the % width of the middle column and can be set in increments of 5. -->
                    <ul class="columns-3-uneven column-2-width-50">
                        <li>
                            <div class="information-box">
                                <h3>Account Information</h3>
                                <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                                <div class="information label-width-30">
                                    <ul>
                                        <li>
                                            <p>Customer</p>
                                        </li>
                                        <li>
                                            <p>
                                                <a *ngIf="customerId; else noCustomer"
                                                   href="javascript:void(0)"
                                                   (click)="customerClicked(customerId)">{{primaryContact?.FirstName}}&nbsp;{{primaryContact?.LastName}}</a>
                                                <ng-template #noCustomer>Unregistered</ng-template>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Email</p>
                                        </li>
                                        <li>
                                            <!-- NOTE: Class "long-line-wrap" allows a long string of text to wrap to the next line. -->
                                            <p class="long-line-wrap">{{primaryContact?.Email}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="information-box">
                                <h3>Order Details</h3>
                                <ul class="columns-2-even">
                                    <li>
                                        <div class="information label-width-40">
                                            <ul>
                                                <li>
                                                    <p>Type</p>
                                                </li>
                                                <li>
                                                    <p>{{orderDetails?.orderTypeDescription}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Status</p>
                                                </li>
                                                <li>
                                                    <div class="dotted-link-container">
                                                        <button type="button" class="dotted-link">
                                                            <!-- NOTE: The tooltip bubble width is determined by the following class names:
                                                                • tooltip-width-XXXS
                                                                • tooltip-width-XXS
                                                                • tooltip-width-XS
                                                                • tooltip-width-S
                                                                • tooltip-width-M
                                                                • tooltip-width-L
                                                                • tooltip-width-XL
                                                                • tooltip-width-XXL
                                                                • tooltip-width-XXXL
                                                                • tooltip-width-XXXXL
                                                            -->
                                                            <div class="tooltip-left tooltip-width-M" (click)="orderStatusHistoryClicked()">
                                                                <p>{{orderDetails?.orderStatusDescription}}</p>
                                                                <span>Click to view Status History</span>
                                                            </div>
                                                        </button>
                                                        <span></span> <!-- Blank span necessary for right-side spacing -->
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Order #</p>
                                                </li>
                                                <li>
                                                    <p>{{orderDetails?.orderId}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Created By</p>
                                                </li>
                                                <li>
                                                    <p>{{orderDetails?.insertedBy}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="information label-width-35">
                                            <ul>
                                                <li>
                                                    <p>Order Date</p>
                                                </li>
                                                <li>
                                                    <!-- NOTE: Use non-breaking space (&nbsp;) to create additional spacing between date and time. -->
                                                    <p>{{orderDetails?.orderDateTime | momentDate | async}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Completed Date</p>
                                                </li>
                                                <li>
                                                    <p>Unknown</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Last Updated</p>
                                                </li>
                                                <li>
                                                    <p>{{orderDetails?.orderLastUpdate | momentDate | async}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Origin</p>
                                                </li>
                                                <li>
                                                    <p>{{orderDetails?.origin}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="information-box">
                                <h3>Summary</h3>
                                <div class="information label-width-50">
                                    <ul>
                                        <li>
                                            <p>Item Total</p>
                                        </li>
                                        <li>
                                            <p>${{orderDetails?.itemsSubtotalAmount/100 | number:'.2'}} </p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Deposits</p>
                                        </li>
                                        <li>
                                            <!-- Use class "null" for summary dollar amounts of $0.00. "Grand Total" is excluded. -->
                                            <p class="null">${{orderDetails?.depositTotalAmount/100 | number:'.2'}}</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Fees</p>
                                        </li>
                                        <li>
                                            <p class="null">${{orderDetails?.feeTotalAmount/100 | number:'.2'}}</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Taxes</p>
                                        </li>
                                        <li>
                                            <p class="null">${{orderDetails?.salesTaxAmount/100 | number:'.2'}}</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <hr>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Grand Total</p>
                                        </li>
                                        <li>
                                            <p class="large">${{orderDetails?.orderTotalAmount/100 | number:'.2'}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="orderDetails?.lineItems" class="section">
                    <h3>Line Items</h3>
                    <div class="grid-small no-row-hover">
                        <p-dataTable [value]="orderDetails?.lineItems"
                                     dataKey="lineItemId"
                                     [paginator]="true"
                                     [rows]="5">
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Item"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.lineItemTypeDescription}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Line Item Status"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.lineItemStatusDescription}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Subsystem"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.subsystem}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Subsystem ID"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.subsystemAccountReference}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Reason"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.reasonCodeDescription}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Amount"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="${{record?.itemAmount/100 | number:'.2'}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left ">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Fee Amount"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="${{record?.feeAmount/100 | number:'.2'}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left ">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Deposit Amount"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="${{record?.depositAmount /100 | number:'.2'}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left ">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Tax Amount"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="${{record?.salesTaxAmount/100 | number:'.2'}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left ">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Quantity"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.quantity | number}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left ">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Total"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="${{record?.itemTotalAmount/100 | number:'.2'}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Updated Date"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-col let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.updatedDtm | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Fulfill Date"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-col let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.fulfillDtm | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Fulfill Error"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.fulfillErrorMessage}}"></p>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
                <div *ngIf="orderNotifications?.notifications" class="section">
                    <h3>Notifications</h3>
                    <div class="grid-small no-row-hover">
                        <p-dataTable [value]="orderNotifications?.notifications"
                                     dataKey="notificationId"
                                     [paginator]="true"
                                     [rows]="5">
                            <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Date Sent"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-col let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.sendDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Subject"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.subject}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Type"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.description}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Status"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.status}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Sent To"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.recipient}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Contact Name"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.contactName}}"></p>
                                </ng-template>
                            </p-column>
                            <p-column headerStyleClass="grid-column-width-XS left">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Reference #"></p>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="rowData">
                                    <p class="value-secondary" cubTooltip="{{record?.notificationReference}}"></p>
                                </ng-template>
                            </p-column>

                            <!-- ACTIONS MENU COLUMN -->
                            <p-column headerStyleClass="actions center actions-column-width-XXS"
                                      bodyStyleClass="actions center actions-multiple">
                                <ng-template pTemplate="header">
                                    <p cubTooltip="Actions"></p>
                                </ng-template>
                                <ng-template let-col
                                             let-record="rowData"
                                             let-ri="rowIndex"
                                             pTemplate="body">
                                    <cub-menu-toggle inputId="action-{{ri}}" (click)="actionMenuClicked(record)">
                                        <input type="checkbox" id="action-{{ri}}">
                                        <label for="action-{{ri}}" class="actions-dots">
                                            <span></span>
                                        </label>
                                        <ul class="actions-menu actions-menu-align-center">
                                            <li>
                                                <button type="button" (click)="viewNotificationsClicked(record?.notificationId)">
                                                    <p>View Notifications</p>
                                                </button>
                                            </li>
                                            <li *ngIf="record?.allowResend">
                                                <button type="button" (click)="showResendNotificationsClicked(record)">
                                                    <p>Resend Notifications</p>
                                                </button>
                                            </li>
                                        </ul>
                                    </cub-menu-toggle>
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>

            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <!-- NOTE: The "Generate Notification" button only exists if there are no notifications. -->
                        <button type="button" class="button-primary" (click)="showGeneratePaymentReceiptClicked()">
                            <p>Generate Notification</p>
                        </button>
                    </li>
                    <li>
                        <!-- NOTE: The "Cancel" button should use class "button-cancel" when paired with the "Generate Notification" button. -->
                        <button type="button" class="button-cancel" (click)="onCloseClicked()">
                            <p>Close</p>
                        </button>
                    </li>
                </ul>
            </li>

        </ul> <!---window modal-width-XXXXL -->
        <div *ngIf="showResendNotifications" class="hybrid modal-small visible">
            <ul class="window modal-width-S">
                <li class="header center">
                    <h1>Resend Notification</h1>
                </li>
                <li class="body">
                    <div>
                        <div class="form-fields-vertical label-width-35">
                            <ul>
                                <li>
                                    <label for="resend-contact">Contact</label>
                                </li>
                                <li>
                                    <ul class="form-fields-siblings">
                                        <li class="form-field-width-70">
                                            <div class="form-field-text">
                                                <input type="text" id="email-to" value="{{selectedNotifiation?.contactName}}" disabled>
                                            </div>
                                        </li>
                                        <li class="form-field-width-30"></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label for="resend-channel">Channel</label>
                                </li>
                                <li>
                                    <ul class="form-fields-siblings">
                                        <li class="form-field-width-70">
                                            <div class="form-field-text">
                                                <input type="text" id="email-to" value="{{selectedNotifiation?.channel}}" disabled>
                                            </div>
                                        </li>
                                        <li class="form-field-width-30"></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <label for="resend-channel">Sent To</label>
                                </li>
                                <li>
                                    <ul class="form-fields-siblings">
                                        <li class="form-field-width-70">
                                            <div class="form-field-text">
                                                <input type="text" id="email-to" value="{{selectedNotifiation?.recipient}}" disabled>
                                            </div>
                                        </li>
                                        <li class="form-field-width-30"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="footer">
                    <ul class="buttons">
                        <li *ngIf="selectedNotifiation?.allowResend">
                            <button type="button" class="button-primary" (click)="resendCustomerNotificationsClicked()">
                                <p>Send</p>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="button-cancel" (click)="closeResendNotificationsClicked()">
                                <p>Cancel</p>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div *ngIf="showNotificationDetails" class="hybrid modal-small visible">
            <!-- Use class "notification-email" on the <ul> for emailed notifications. Use class "notification-sms-push" for SMS or push notifications. -->
            <ul class="window modal-width-XL notification-preview notification-email">
                <li class="header center">
                    <h1>Notification</h1>
                </li>
                <li class="body">
                    <div style="white-space:pre-wrap;">{{notificationDetais?.alternateMessage}}</div>
                </li>
                <li class="body-details">
                    <div>
                        <ul>
                            <li>
                                <ul>
                                    <li>
                                        <div>
                                            <p>Contact</p>
                                        </div>
                                        <div>
                                            <p>{{notificationDetais?.contact?.firstName}}{{notificationDetais?.contact?.lastName}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <p>Email</p>
                                        </div>
                                        <div>
                                            <p class="long-line-wrap">{{notificationDetais?.contact?.email}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <p>SMS Phone</p>
                                        </div>
                                        <div>
                                            <p class="long-line-wrap">{{notificationDetais?.contact?.smsPhone}}</p>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li *ngIf="notificationDetais?.failReason">
                                <ul>
                                    <li>
                                        <div>
                                            <p>Fail Reason</p>
                                        </div>
                                        <div>
                                            <p>{{notificationDetais?.contact?.failReason}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="footer">
                    <ul class="buttons">
                        <li>
                            <button type="button" class="button-primary" (click)="closeNotificationsClicked()">
                                <p>Close</p>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div *ngIf="showGenerateReceipt" class="hybrid modal-small visible">
        <ul class="window modal-width-S">
            <li class="header center">
                <h1>Generate Payment Receipt</h1>
            </li>
            <li class="body">
                <div>
                    <div class="form-fields-vertical label-width-20">
                        <ul>
                            <li>
                                <!-- NOTE: This uses the new "*" required mark as opposed to the vertical red bar to indicate a required field. -->
                                <label for="email-to">Send To<i class="required">*</i></label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-100">
                                        <!-- NOTE: Add class "error" to <div> form field container when the field is in error. -->
                                        <!-- NOTE: Add class "show-error-message" to <div> form field container to display the error message -->
                                        <div class="form-field-text">
                                            <input type="text" id="generate-payment-receipt-mail-to" value="{{generatePaymentReceiptSendTo}}" disabled>
                                            <span class="error-message">
                                                <p>Email is required.</p>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <button type="button" class="button-primary"  (click)="sendGeneratePaymentReceiptClicked()">
                            <p>Send</p>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="button-cancel"  (click)="closeGeneratePaymentReceiptClicked()">
                            <p>Cancel</p>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div> <!-- end modal-small -->
</div> <!-- end hybrid -->
