﻿<!-- VERIFICATION MODAL -->
<div *ngIf="awaitingVerification"
     class="visible"
     [class.hybrid]="isUnsupportedModal"
     [class.unsupported]="isUnsupportedModal"
     [class.modal-small]="isUnsupportedModal"
     [class.modal-large]="!isUnsupportedModal">
    <ul class="window"
        [class.modal-width-XL]="isUnsupportedModal"
        [class.modal-width-XXL]="!isUnsupportedModal">
        <!-- NOTE: The "alert-banner" <li> only displays if an alert exists. Otherwise, remove this HTML. -->
        <li class="alert-banner" *ngIf="alerts?.length > 0">
            <ul>
                <cub-alert *ngFor="let alert of alerts" [alertMessage]="alert"></cub-alert>
            </ul>
        </li>
        <li class="header center">
            <h1>Contact Verification</h1>
        </li>
        <li class="body">
            <div>
                <ul class="either-or">
                    <li>
                        <h2>Security Questions</h2>
                        <!-- NOTE: Use the "checklist-label-width" classes to control the width of the questions/labels/answers/values. Numbers indicate percentages:
                            • checklist-label-width-5
                            • checklist-label-width-10
                            • checklist-label-width-15
                            • etc... up to 100 in increments of 5
                        -->
                        <ul class="checklist checklist-label-width-45">
                            <!-- NOTE: If any ONE security question is "checked", the contact has been verified. Proceed to Master-Search-Contact-Contact-Verified.html -->
                            <li *ngIf="noSQs" class="answer">
                                <p>None found</p>
                            </li>
                            <cub-securityoption *ngFor="let securityQuestion of securityQuestions"
                                                [securityOption]="securityQuestion"
                                                (onChange)="questionChanged($event)">
                            </cub-securityoption>
                        </ul>
                    </li>
                    <li>
                        <p>OR</p>
                    </li>
                    <li>
                        <h2>Verify 3 of the following:</h2>
                        <ul class="checklist checklist-label-width-25">
                            <!-- NOTE: If at least 3 individual contact information checkboxes are "checked", the contact has been verified. Proceed to Master-Search-Contact-Contact-Verified.html -->
                            <cub-securityoption *ngFor="let contactDetail of contactDetails"
                                                [securityOption]="contactDetail"
                                                (onChange)="detailChanged($event)">
                            </cub-securityoption>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            [class.button-secondary]="isUnsupportedModal"
                            [class.button-primary-text]="!isUnsupportedModal"
                            (click)="onNotVerified()">
                        <p>Not Verified</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="onCancel()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- VERIFIED MODAL -->
<div *ngIf="!awaitingVerification"
     class="visible"
     [class.hybrid]="isUnsupportedModal"
     [class.modal-small]="isUnsupportedModal"
     [class.modal-large]="!isUnsupportedModal">
    <ul class="window modal-width-XS">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5" />
                    <polyline points="16,30.5 25.25,39.75 45,20 " />
                </svg>
            </div>
        </li>
        <li class="header center">
            <h1>Contact Verified</h1>
        </li>
    </ul>
</div>
