﻿<div class="grid-small">
    <p-dataTable [id]="gridName"
                 [value]="data"
                 [rows]="control?.rowsToDisplay"
                 [paginator]="control?.displayPaginator"
                 [dataKey]="control?.primaryKey"
                 sortMode="multiple"
                 [multiSortMeta]="multiSortMeta"
                 [totalRecords]="totalCount || data?.length"
                 [lazy]="lazy"
                 (onLazyLoad)="_onLazyLoad($event)"
                 (onRowDblclick)="onRowDblClick.emit($event)">
        <ng-container *ngFor="let column of control?.formattedColumns">
            <p-column *ngIf="column.visible"
                      [sortable]="column.sortable"
                      [sortField]="column.sortField"
                      headerStyleClass="grid-column-width-{{_columnSizes[column.columnSize]}} {{column.format === _columnFormats.CURRENCY ? 'right' : 'left'}}"
                      field="{{column.fieldName}}">
                <ng-template pTemplate="header">
                    <p cubTooltip="{{column.displayName}}"></p>
                    <span *ngIf="column.sortOrder === 1" class="ascending"></span>
                    <span *ngIf="column.sortOrder === -1" class="descending"></span>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <ng-container [ngSwitch]="column.format">
                        <p class="value-tertiary right" *ngSwitchCase="_columnFormats.CURRENCY"
                           cubTooltip="{{populateCell(record, column.fieldName) | money}}">
                        </p>
                        <p class="value-tertiary" *ngSwitchCase="_columnFormats.DATETIME"
                           cubTooltip="{{populateCell(record, column.fieldName) | momentDate:'M/D/YYYY h:mm:ss A' | async}}">
                        </p>
                        <p class="value-tertiary" *ngSwitchCase="_columnFormats.PHONE"
                           cubTooltip="{{populateCell(record, column.fieldName) | phone}}">
                        </p>
                        <p class="value-tertiary" *ngSwitchDefault
                           cubTooltip="{{populateCell(record, column.fieldName)}}">
                        </p>
                    </ng-container>
                </ng-template>
            </p-column>
        </ng-container>

        <!-- ACTIONS MENU COLUMN -->
        <p-column *ngIf="control?.actions?.length > 0"
                  headerStyleClass="actions center actions-column-width-XXXS"
                  bodyStyleClass="actions center">
            <ng-template pTemplate="header">
                <p cubTooltip="Actions"></p>
            </ng-template>
            <ng-template let-record="rowData"
                         let-ri="rowIndex"
                         pTemplate="body">
                <!-- This actions menu directive determines which actions display for each row -->
                <cub-actions-menu [row]="record" [actions]="control.actions"></cub-actions-menu>
                <cub-menu-toggle inputId="action-{{ri}}">
                    <input type="checkbox" id="action-{{ri}}">
                    <label for="action-{{ri}}" class="actions-dots">
                        <span></span>
                    </label>
                    <ul class="actions-menu actions-menu-align-right actions-menu-width-S">
                        <!-- msdActions are assigned by cub-actions-menu directive -->
                        <li *ngFor="let action of record.msdActions">
                            <button type="button" (click)="executeAction(action.action, record)">
                                <p>{{action.label}}</p>
                            </button>
                        </li>
                    </ul>
                </cub-menu-toggle>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>