﻿<div *ngIf="!notificationPreferencesData || notificationPreferencesData.length <= 0"
     class="section-alert hybrid">
    <span class="icon-alert-section">
        <svg viewBox="0 0 28 26">
            <path d="M11.079,3.229c1.607-2.893,4.215-2.889,5.82,0l9.18,16.524c1.607,2.893,0.221,5.238-3.089,5.238H4.988 c-3.313,0-4.694-2.35-3.089-5.238L11.079,3.229z" />
            <line x1="14" y1="7" x2="14" y2="14" />
            <circle cx="14" cy="20" r="2" />
        </svg>
    </span>
    <p>Unable to find notification preferences.</p>    
</div>
<div class="hybrid" style="background: #fff" *ngIf="notificationPreferencesData && notificationPreferencesData.length > 0">
    <ul class="buttons-text">
        <li>
            <button type="button" (click)="onApplyPreferencesToDifferentContactClick($event)" class="button-secondary-text">
                <p>Apply Preferences to Another Contact</p>
            </button>
        </li>
        <!--Only enable for when you need to test saving when not within Dynamics CRM.-->
        <li *ngIf="false">
            <button type="button" (click)="onSave($event)" class="button-secondary-text">
                <p>Save</p>
            </button>
        </li>
    </ul>

    <ul class="options-horizontal">
        <li cub-checkboxlist [control]="notificationmethodCheckboxList"></li>
        <li cub-radiolist
            [control]="phoneForSMSRadioList"
            (onChange)="onPhoneForSMSRadioListChanged($event)"
            *ngIf="false">
        </li>
    </ul>

    <!-- UPDATE 2017-06-08:
        • The "fancy-grid" now uses a <div> instead of a <ul>, and there are no immediate <li> children.
        • There are 2 fancy-grids, the first contains the expand/collapse buttons and column labels. The second contains the categories/sub-categories/preferences.
    -->
    <div class="fancy-grid">
        <ul class="labels">
            <li>
                <!-- UPDATE 2017-06-08: Add the "disabled" attribute to the <button> when there is nothing further to expand. -->
                <!-- TODO: Make Cub BUTTON-->
                <button type="button" (click)="onExpandAllClicked($event)" [attr.disabled]="expandAllEnabled? null: ''">
                    Expand All
                </button>
                <!-- UPDATE 2017-06-08: Add the "disabled" attribute to the <button> when there is nothing further to collapse. -->
                <!-- TODO: Make Cub BUTTON-->
                <button type="button" (click)="onCollapseAllClicked($event)" [attr.disabled]="collapseAllEnabled? null: ''">
                    <!-- disabled -->
                    Collapse All
                </button>
            </li>

            <li>
                <p>Email</p>
            </li>
            <!-- The <li>s containing SMS options only display if "notification-method-sms" is checked. -->
            <!-- TODO: only display column if SMS is checked-->
            <li *ngIf="notificationmethodCheckboxList.controls['SMS'].value">
                <p>SMS</p>
            </li>
            <!-- The <li>s containing Push options only display if "notification-method-push" is checked. -->
            <!-- TODO: only display column if Push is checked-->
            <li *ngIf="notificationmethodCheckboxList.controls['Push'].value">
                <p>Push</p>
            </li>
        </ul>
    </div>
    <div class="fancy-grid">
        <ng-template ngFor let-category [ngForOf]="notificationPreferencesData">
            <!-- UPDATE 2017-06-08: For "level-1" and "level-2" rows, use class "expanded" or "collapsed" depending if that row is expanded or collapsed. -->
            <ul class="level-1"
                [class.no-arrow]="category.isNotification"
                [class.expanded]="category.isExpanded"
                [class.collapsed]="!category.isExpanded">
                <!-- class="level-1 collapsed" -->
                <!-- UPDATE 2017-06-08: On click of the first <li> in the "level-1" and "level-2" rows, set the "expanded", "collapsed", and "hidden" classes as appropriate. -->
                <li (click)="onCollapsibleClicked($event, category)">
                    <p>{{category.categoryDescription}}</p>
                </li>
                <!-- Use class "partial" on <input> when the options contained within a category or sub-category are a mix of checked and unchecked options. Do not add the "checked" attribute unless ALL contained options are checked. -->
                <li cub-checkbox
                    *ngIf="notificationmethodCheckboxList.controls['Email'].value && category.emailCheckbox"
                    (onChange)="onCategoryCheckboxChanged($event, category)"
                    [control]="category.emailCheckbox">
                </li>
                <li *ngIf="notificationmethodCheckboxList.controls['Email'].value && !category.emailCheckbox">
                    <div class="fancy-checkbox disabled">
                        <span>
                            <svg viewBox="0 0 16 16">
                                <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                            </svg>
                        </span>
                    </div>
                </li>
                <li cub-checkbox
                    *ngIf="notificationmethodCheckboxList.controls['SMS'].value && category.smsCheckbox"
                    (onChange)="onCategoryCheckboxChanged($event, category)"
                    [control]="category.smsCheckbox">
                </li>
                <li *ngIf="notificationmethodCheckboxList.controls['SMS'].value && !category.smsCheckbox">
                    <div class="fancy-checkbox disabled">
                        <span>
                            <svg viewBox="0 0 16 16">
                                <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                            </svg>
                        </span>
                    </div>
                </li>
                <li cub-checkbox
                    *ngIf="notificationmethodCheckboxList.controls['Push'].value && category.pushnotificationCheckbox"
                    (onChange)="onCategoryCheckboxChanged($event, category)"
                    [control]="category.pushnotificationCheckbox">
                </li>
                <li *ngIf="notificationmethodCheckboxList.controls['Push'].value && !category.pushnotificationCheckbox">
                    <div class="fancy-checkbox disabled">
                        <span>
                            <svg viewBox="0 0 16 16">
                                <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                            </svg>
                        </span>
                    </div>
                </li>
            </ul>
            <!-- UPDATE 2017-06-08: For "level-2" and "level-3" rows, use class "hidden" to hide the row. Scenarios:
                • level-3's parent is "collapsed", level-3 should have class "hidden".
                • level-2's parent is "collapsed", level-2 should have class "hidden".
            -->
            <ng-template ngFor let-subcategory [ngForOf]="category.subcategories">
                <ul class="level-2 expanded hidden-" *ngIf="!category.isNotification"
                    [class.no-arrow]="subcategory.isNotification"
                    [class.expanded]="subcategory.isExpanded"
                    [class.collapsed]="!subcategory.isExpanded"
                    [class.hidden]="!category.isExpanded">
                    <li (click)="onCollapsibleClicked($event, subcategory)">
                        <p>{{subcategory.subcategoryDescription}}</p>
                    </li>
                    <!-- Use class "partial" on <input> when the options contained within a category or sub-category are a mix of checked and unchecked options. Do not add the "checked" attribute unless ALL contained options are checked. -->
                    <li cub-checkbox
                        *ngIf="notificationmethodCheckboxList.controls['Email'].value && subcategory.emailCheckbox"
                        (onChange)="onSubcategoryCheckboxChanged($event, category, subcategory)"
                        [control]="subcategory.emailCheckbox">
                    </li>
                    <li *ngIf="notificationmethodCheckboxList.controls['Email'].value && !subcategory.emailCheckbox">
                        <div class="fancy-checkbox disabled">
                            <span>
                                <svg viewBox="0 0 16 16">
                                    <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                </svg>
                            </span>
                        </div>
                    </li>
                    <li cub-checkbox
                        *ngIf="notificationmethodCheckboxList.controls['SMS'].value && subcategory.smsCheckbox"
                        (onChange)="onSubcategoryCheckboxChanged($event, category, subcategory)"
                        [control]="subcategory.smsCheckbox">
                    </li>
                    <li *ngIf="notificationmethodCheckboxList.controls['SMS'].value && !subcategory.smsCheckbox">
                        <div class="fancy-checkbox disabled">
                            <span>
                                <svg viewBox="0 0 16 16">
                                    <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                </svg>
                            </span>
                        </div>
                    </li>
                    <li cub-checkbox
                        *ngIf="notificationmethodCheckboxList.controls['Push'].value && subcategory.pushnotificationCheckbox"
                        (onChange)="onSubcategoryCheckboxChanged($event, category, subcategory)"
                        [control]="subcategory.pushnotificationCheckbox">
                    </li>
                    <li *ngIf="notificationmethodCheckboxList.controls['Push'].value && !subcategory.pushnotificationCheckbox">
                        <div class="fancy-checkbox disabled">
                            <span>
                                <svg viewBox="0 0 16 16">
                                    <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                </svg>
                            </span>
                        </div>
                    </li>
                </ul>
                <ng-template ngFor let-notification [ngForOf]="subcategory.notifications">
                    <ul class="level-3"
                        [class.hidden]="!category.isExpanded || !subcategory.isExpanded"
                        *ngIf="!category.isNotification && !subcategory.isNotification">
                        <li>
                            <p>{{notification.notificationDescription}}</p>
                        </li>
                        <li cub-checkbox
                            *ngIf="notificationmethodCheckboxList.controls['Email'].value && notification.emailCheckbox"
                            (onChange)="onNotificationCheckboxChanged($event, category, subcategory, notification)"
                            [control]="notification.emailCheckbox">
                        </li>
                        <li *ngIf="notificationmethodCheckboxList.controls['Email'].value && !notification.emailCheckbox">
                            <div class="fancy-checkbox disabled">
                                <span>
                                    <svg viewBox="0 0 16 16">
                                        <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                    </svg>
                                </span>
                            </div>
                        </li>
                        <li cub-checkbox
                            *ngIf="notificationmethodCheckboxList.controls['SMS'].value && notification.smsCheckbox"
                            (onChange)="onNotificationCheckboxChanged($event, category, subcategory, notification)"
                            [control]="notification.smsCheckbox">
                        </li>
                        <li *ngIf="notificationmethodCheckboxList.controls['SMS'].value && !notification.smsCheckbox">
                            <div class="fancy-checkbox disabled">
                                <span>
                                    <svg viewBox="0 0 16 16">
                                        <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                    </svg>
                                </span>
                            </div>
                        </li>
                        <li cub-checkbox
                            *ngIf="notificationmethodCheckboxList.controls['Push'].value && notification.pushnotificationCheckbox"
                            (onChange)="onNotificationCheckboxChanged($event, category, subcategory, notification)"
                            [control]="notification.pushnotificationCheckbox">
                        </li>
                        <li *ngIf="notificationmethodCheckboxList.controls['Push'].value && !notification.pushnotificationCheckbox">
                            <div class="fancy-checkbox disabled">
                                <span>
                                    <svg viewBox="0 0 16 16">
                                        <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                                    </svg>
                                </span>
                            </div>
                        </li>
                    </ul>
                </ng-template>
            </ng-template>
        </ng-template>
    </div>
    <!-- end hybrid -->
    <!-- Add class "visible" to modal <div> to display modal window. -->
    <div *ngIf="showApplyPreferencesToContacts" class="hybrid modal-small visible">
        <ul class="window modal-width-S apply-preferences-to-contacts">
            <li class="header center">
                <h1>Apply Preferences to Contacts</h1>
            </li>
            <li class="body center">
                <div>
                    <button type="button" class="select-all" (click)="onSelectAllButtonClicked($event)">
                        <!-- Change text to "Deselect All" if all options are checked. -->
                        <p>{{selectAllButtonText}}</p>
                    </button>
                    <ul class="checklist-small">
                        <li cub-checkbox
                            *ngFor="let contact of contactsRelatedToCustomer"
                            (onChange)="onContactCheckboxChanged($event, contact)"
                            [control]="contact.contactCheckbox">
                        </li>
                    </ul>
                    <p>SMS and Push preferences will only be applied if the selected contact has a mobile phone.</p>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <!-- Remove the "disabled" attribute from the <button> when at least one option is checked. -->
                        <div cub-button
                             [control]="applyButton"
                             (onClick)="onApplyButtonClicked($event)">
                        </div>
                    </li>
                    <li>
                        <div cub-button
                             [control]="cancelButton"
                             (onClick)="onCancelButtonClicked($event)">
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- NOTE: This modal window appears immediately after the notification preferences have been saved to the target contact(s). After  2.5 seconds of display, hide the modal window. -->
    <!-- Add class "visible" to modal <div> to display modal window. -->
    <div *ngIf="showSaveModal" class="hybrid modal-small visible">
        <ul class="window modal-width-XS confirmation">
            <li class="icon">
                <div class="icon-confirmation-check">
                    <svg viewBox="0 0 61 61">
                        <circle cx="30.5" cy="30.5" r="29.5" />
                        <polyline points="16,30.5 25.25,39.75 45,20 " />
                    </svg>
                </div>
            </li>
            <li class="header center">
                <h1>Notification preferences have been applied.</h1>
            </li>
        </ul>
    </div>
</div>