﻿<div class="hybrid modal-small unsupported">
    <ul class="window modal-width-S unable-to-delete">
        <li class="header center">
            <h1>Unable To Delete</h1>
        </li>
        <li class="body center">
            <div>
                <p>The address cannot be deleted because it is currently used by a contact or funding source. To delete the address, first remove it from the contact or funding source:</p>
                <ul class="list-update">
                    <li *ngFor="let record of dependencies">
                        <button type="button">
                            <ul>
                                <li>
                                    <p>{{record.title}}</p>
                                </li>
                                <li>
                                    <p *ngIf="record.allowUpdate == 1"><a (click)="updateClicked($event, record)">Update</a></p>
                                </li>
                            </ul>
                        </button>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="closeModal($event)">
                        <p>OK</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>