<body class="white-background">
    <div class="hybrid">
        <ul class="opposite-sides shift-down">
            <li></li>
            <li>
                <button type="button" class="button-plus" (click)="addTransponderClicked()">
                    <p>Add Transponder</p>
                </button>
            </li>
        </ul>
        <div class="grid-container">
            <p-dataTable [value]="transponderDetail" dataKey="id" [rows]="rowsPerPage" [paginator]="true">
                <!--Product column-->
                <p-column styleClass="grid-column-width-S" field="type" header="Product">
                    <ng-template let-col let-record="rowData"
                                 let-ri="rowIndex" pTemplate="body"
                                 styleClass="ui-cell-data">
                        <span class="value-secondary">{{record.type}}</span>
                    </ng-template>
                </p-column>
                <!--Type column-->
                <p-column styleClass="grid-column-width-XL" field="type" header="Type">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.type}}</span>
                    </ng-template>
                </p-column>
                <!--Tag ID # column-->
                <p-column styleClass="grid-column-width-XL" field="tagId" header="Tag ID #">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.tagId}}</span>
                    </ng-template>
                </p-column>
                <!--Serial # column-->                                                                              
                <p-column styleClass="grid-column-width-XL" field="sno" header="Serial #">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.sno}}</span>
                    </ng-template>
                </p-column>
                <!--License Plate column-->
                <p-column styleClass="grid-column-width-S" field="licPlate" header="License Plate">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.licPlate}}</span>
                    </ng-template>
                </p-column>
            </p-dataTable>

        </div>
    </div>

    <!--cub-add-transponders *ngIf="showAddTransponder" (cancelClicked)="cancelAddTransponders()" [id]="id">
    </!--cub-add-transponders-->

</body>