<div class="hybrid">
    <!-- Remove class "visible" from modal to hide modal window. -->
    <div class="modal-small visible">
        <ul class="window modal-width-M funding-sources">
            <li class="header center">
                <h1>Edit Funding Source</h1>
            </li>
            <li class="body center">
                <div>
                    <div class="form-fields-vertical label-width-25">
                        <ul>
                            <li>
                                <label for="status">Status</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        [control]="controls.status">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="payment-type">Payment Type</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-dropdown
                                        class="form-field-width-50"
                                        [control]="controls.paymentType">
                                    </li>
                                    <li class="form-field-width-50">
                                        <div class="form-fields-vertical label-width-50">
                                            <ul>
                                                <li>
                                                    <label for="card-type">Type</label>
                                                </li>
                                                <li cub-textbox
                                                    [control]="controls.creditCardType">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="credit-card-number">Credit Card #</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        (onFocusOut)="validateCreditCardNumber()"
                                        [control]="controls.creditCardNumber">
                                    </li>
                                    <li class="form-field-width-50">
                                        <div class="form-fields-vertical label-width-50">
                                            <ul>
                                                <li>
                                                    <label for="expiration-date">Exp. Date</label>
                                                </li>
                                                <li cub-textbox
                                                    (onFocusOut)="validateCreditCardExpDate()"
                                                    [control]="controls.creditCardExpDate">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="name-on-card">Name on Card</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        (onFocusOut)="validateCreditCardName()"
                                        [control]="controls.creditCardName">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="billing-address">Billing Address</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-dropdown
                                        class="form-field-width-L"
                                        (change)="billingAddressOnChange()"
                                        [control]="controls.billingAddress">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="this.isNewAddress">
                            <li>
                                <label for="address1">Address</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        (onFocusOut)="validateAddress1()"
                                        [control]="controls.address1">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="this.isNewAddress">
                            <li>
                                <label for="address2"></label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        (onFocusOut)="validateAddress2()"
                                        [control]="controls.address2">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="this.isNewAddress">
                            <li>
                                <label for="city">City</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-textbox
                                        (onFocusOut)="validateCity()"
                                        [control]="controls.city">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="this.isNewAddress">
                            <li>
                                <label for="state">State</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li cub-dropdown
                                        [control]="controls.state">
                                    </li>
                                    <li class="form-field-width-50">
                                        <div class="form-fields-vertical label-width-50">
                                            <ul>
                                                <li>
                                                    <label for="zipcode">Zipcode</label>
                                                </li>
                                                <li cub-textbox
                                                    (onFocusOut)="retrieveCityAndState()"
                                                    [control]="controls.zipcode">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li></li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-100">
                                        <div class="form-field-hybrid-checkbox">
                                            <input [(ngModel)]="isPrimary" type="checkbox" id="isPrimary" checked>
                                            <label for="isPrimary">
                                                <p>Set as primary funding source</p>
                                                <div>
                                                    <span class="icon-checkbox-hybrid">
                                                        <svg viewBox="0 0 12 10">
                                                            <polyline points="2,4.5 5,7.5 10,2.5"></polyline>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <button (click)="save()" type="button" class="button-primary">
                            <p>Save</p>
                        </button>
                    </li>
                    <li>
                        <button (click)="cancel()" type="button" class="button-cancel">
                            <p>Cancel</p>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
