<body>

    <div class="hybrid">

        <h2>Account Information</h2>

        <ul class="information-box-tiles">
            <li>
                <label>Vehicles</label>
                <p>{{accountSummary.plateCount}}</p>
            </li>
            <li>
                <label>Transponders</label>
                <p>{{accountSummary.tagCount}}</p>
            </li>
        </ul>

        <div class="information-box full-width">
            <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
            <div class="information label-width-50">
                <ul>
                    <li>
                        <p>Transponder Deposit</p>
                    </li>
                    <li>
                        <p>${{accountSummary.transponderDeposit}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Last Trip Posted</p>
                    </li>
                    <li>
                        <!-- NOTE: Utilize the non-breaking space for separating the date and time. -->
                        <p>{{accountSummary.lastTripPost}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Last Payment Posted</p>
                    </li>
                    <li>
                        <p>{{accountSummary.lastPaymentPost}}</p>
                    </li>
                </ul>
            </div>
        </div>

    </div> <!-- End hybrid -->

</body>
