<div class="hybrid">

    <!-- FILTER CONTROLS -->
    <ul class="form-fields-horizontal">
        <li cub-textbox
            [control]="orderNumberControl">
        </li>
        <li class="form-field-width-XL">
            <cub-date-range [offset]="startDateOffset"
                            (startChange)="onStartDateChanged($event)"
                            (endChange)="onEndDateChanged($event)"></cub-date-range>
        </li>
        <li cub-multi-dropdown
            class="form-field-width-L"
            controlId="order-type-dropdown"
            label="Order Type"
            [options]="orderTypeOptions"
            (onChange)="onMultiDropdownChange($event, 'orderTypeFilter')">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-L"
            controlId="order-status-dropdown"
            label="Order Status"
            [options]="orderStatusOptions"
            (onChange)="onMultiDropdownChange($event, 'orderStatusFilter')">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-L"
            controlId="payment-status-dropdown"
            label="Payment Status"
            [options]="paymentStatusOptions"
            (onChange)="onMultiDropdownChange($event, 'paymentStatusFilter')">
        </li>
        <li>
            <ul>
                <li>
                    <label for="realtimeFlag">Realtime flag</label>
                    <div>
                        <input type="checkbox"
                               name="realtimeFlag"
                               [(ngModel)]="isRealTime" (change)="onApplyButtonClicked()">
                        <i></i>
                        <span class="error-message"></span>
                    </div>
                </li>
            </ul>
        </li>
        <li class="form-field-button">
            <button type="button"
                    class="button-primary"
                    id="apply-button"
                    (click)="onApplyButtonClicked()"
                    [attr.disabled]="disableApply ? '' : null">
                <p>Search</p>
            </button>
        </li>
       
    </ul>
    <cub-customizablegrid [data]="orderHistoryResults"
                          gridName="Customer.OrderHistory"
                          [totalCount]="totalCount"
                          [lazy]="true"
                          [scope]="this"
                          (onLazyLoad)="onLazyLoad($event)"
                          (onRowDblClick)="onRowDoubleClicked($event)">
    </cub-customizablegrid>
    <!-- ORDER HISTORY TABLE -->
    <!--<div class="grid-small">
        <p-dataTable [value]="orderHistoryResults"
                     dataKey="orderId"
                     [paginator]="true"
                     [lazy]="true"
                     [totalRecords]="totalCount"
                     [rows]="rowsLimit"
                     (onLazyLoad)="onLazyLoad($event)"
                     (onRowDblclick)="onRowDoubleClicked($event)">

            <p-column field="orderDateTime">
                <ng-template pTemplate="header">
                    <p cubTooltip="Order Date"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderDateTime'] | momentDate}}"></p>
                </ng-template>
            </p-column>

            <p-column field="orderTypeDescription">
                <ng-template pTemplate="header">
                    <p cubTooltip="Order Type"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderType']}}"></p>
                </ng-template>
            </p-column>

            <p-column field="orderId">
                <ng-template pTemplate="header">
                    <p cubTooltip="Order ID"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderId']}}"></p>
                </ng-template>
            </p-column>

            <p-column field="orderStatus">
                <ng-template pTemplate="header">
                    <p cubTooltip="Order Status"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderStatus']}}"></p>
                </ng-template>
            </p-column>

            <p-column field="orderLastUpdate">
                <ng-template pTemplate="header">
                    <p cubTooltip="Last Update"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderLastUpdate'] | momentDate}}"></p>
                </ng-template>
            </p-column>

            <p-column field="orderTotalAmount">
                <ng-template pTemplate="header">
                    <p cubTooltip="Total"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['orderTotalAmount'] | money}}"></p>
                </ng-template>
            </p-column>

            <p-column field="paymentRef">
                <ng-template pTemplate="header">
                    <p cubTooltip="Payment Ref. #"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['paymentReferenceNumber']}}"></p>
                </ng-template>
            </p-column>

            <p-column field="paymentStatus">
                <ng-template pTemplate="header">
                    <p cubTooltip="Payment Status"></p>
                </ng-template>
                <ng-template let-col let-record="rowData" pTemplate="body">
                    <p cubTooltip="{{record['paymentStatus']}}"></p>
                </ng-template>
            </p-column>

            <p-column headerStyleClass="actions center actions-column-width-L"
                      bodyStyleClass="actions center actions-multiple">
                <ng-template pTemplate="header">
                    <p cubTooltip="Actions"></p>
                </ng-template>
                <ng-template let-record="rowData" pTemplate="body">
                    <input type="checkbox"
                           id="actions-{{record['orderId']}}">
                    <label for="actions-{{record['orderId']}}" class="action-dots">
                        <span></span>
                    </label>
                    <ul class="actions-menu">
                        <li>
                            <button type="button" (click)="showOrderDetail(record)">
                                <p>View Details</p>
                            </button>
                        </li>
                        <li>
                            <button type="button" (click)="showPaymentHistoryDetail(record)">
                                <p>View Payment History</p>
                            </button>
                        </li>
                    </ul>
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>-->
    <!-- PAYMENT HISTORY DETAIL MODAL -->
    <cub-customer-orderhistory-detail *ngIf="showPaymentHistoryDetailModal"
                                      [accountId]="customerId"
                                      [orderId]="selectedOrderId"
                                      [order]="selectedOrder"
                                      (onClose)="hidePaymentHistoryDetail()">
    </cub-customer-orderhistory-detail>
    <!-- ORDER DETAIL MODAL -->
    <cub-order-details *ngIf="showOrderDetailModal"
                        orderId="{{selectedOrderId}}"
                        customerId="{{customerId}}"
                        realTime={{isRealTime}}
                        (onClose)="hideOrderDetail()">
    </cub-order-details>

</div>
