<body class="white-background">
    <div class="hybrid">
        <div class="grid-container">
            <p-dataTable [value]="transactions" dataKey="id" [rows]="rowsPerPage" [paginator]="true">
                <!-- Agency -->
                <p-column styleClass="grid-column-width-S" field="tagAgency" header="Agency">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.tagAgency}}</span>
                    </ng-template>
                </p-column>
                <!-- Date -->
                <p-column styleClass="grid-column-width-S" field="entryDate" header="Date">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.entryDate}}</span>
                    </ng-template>
                </p-column>
                <!-- Origin -->
                <p-column styleClass="grid-column-width-S" field="origin" header="Location">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.origin}}</span>
                    </ng-template>
                </p-column>
                <!-- Transponder -->
                <p-column styleClass="grid-column-width-S" field="ticketNo" header="Transponder">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.ticketNo}}</span>
                    </ng-template>
                </p-column>
                <!-- License Plate -->
                <p-column styleClass="grid-column-width-S" field="licensePlate" header="License Plate #">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.licensePlate}}</span>
                    </ng-template>
                </p-column>
                <!-- Fare -->
                <p-column styleClass="grid-column-width-S" field="tollFare" header="Fare">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.tollFare}}</span>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
</body>