<div class="hybrid">
    <ul class="form-fields-horizontal">
        <li cub-dropdown
            class="form-field-width-L"
            [control]="purseControl"
            (onChange)="onDropdownChanged()">
        </li>
        <li class="form-field-width-XL">
            <cub-date-range [offset]="startDateOffset"
                            (startChange)="onStartDateChanged($event)"
                            (endChange)="onEndDateChanged($event)"
                            (onEnterKey)="onEnterKey()"></cub-date-range>
        </li>
        <li cub-dropdown
            class="form-field-width-L"
            [control]="financialTransactionTypeControl"
            (onChange)="onDropdownChanged()">
        </li>
        <li cub-dropdown
            class="form-field-width-L"
            [control]="viewTypeControl"
            (onChange)="onDropdownChanged()">
        </li>
        <li class="form-field-width-S">
            <button type="button"
                    class="button-primary"
                    id="search-button"
                    [disabled]="disableSearch"
                    (click)="getBalanceHistory()">
                <p>Search</p>
            </button>
        </li>
    </ul>

    <div class="grid-small">
        <!--BALANCE HISTORY TABLE-->
        <p-dataTable [value]="balanceHistory"
                     [rows]="rowsPerPage"
                     [paginator]="true"
                     selectionMode="single"
                     dataKey="transactionId"
                     [lazy]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [totalRecords]="totalRecordCount"
                     sortMode="multiple"
                     [multiSortMeta]="multiSortMeta"
                     (onRowDblclick)="onRowDoubleClicked($event)">

            <!--DATE COLUMN-->
            <p-column headerStyleClass="grid-column-width-S left" sortable="true" field="entryDateTime">
                <ng-template pTemplate="header">
                    <p>Date</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="{{record.entryDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                </ng-template>
            </p-column>

            <!--ACCOUNT BALANCE COLUMN-->
            <p-column headerStyleClass="grid-column-width-M left">
                <ng-template pTemplate="header">
                    <p>Purse</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="{{record.purseNickname}}"></p>
                </ng-template>
            </p-column>

            <!--JOURNAL ENTRY TYPE COLUMN-->
            <p-column headerStyleClass="grid-column-width-M left">
                <ng-template pTemplate="header">
                    <p>Entry Type</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="{{record.entryType}}"></p>
                </ng-template>
            </p-column>

            <!--JOURNAL SUB TYPE COLUMN-->
            <p-column headerStyleClass="grid-column-width-XS left">
                <ng-template pTemplate="header">
                    <p>Sub Entry Type</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="{{record.entrySubType}}"></p>
                </ng-template>
            </p-column>

            <!--STATUS COLUMN-->
            <p-column headerStyleClass="grid-column-width-XS left" sortable="true">
                <ng-template pTemplate="header">
                    <p>Entry Status</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="{{record.entryStatus}}"></p>
                </ng-template>
            </p-column>

            <!--TRANSACTION AMOUNT COLUMN-->
            <p-column headerStyleClass="grid-column-width-XS left">
                <ng-template pTemplate="header">
                    <p>Transaction Amount</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="${{record.journalEntryAmount ? (record.journalEntryAmount / 100).toFixed(2) : 0}}"></p>
                </ng-template>
            </p-column>

            <!--AVAILABLE BALANCE COLUMN-->
            <p-column headerStyleClass="grid-column-width-XS left">
                <ng-template pTemplate="header">
                    <p>Available Balance</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="${{record.availableBalance ? (record.availableBalance / 100).toFixed(2) : 0}}"></p>
                </ng-template>
            </p-column>

            <!--ENDING BALANCE COLUMN-->
            <p-column headerStyleClass="grid-column-width-XS left">
                <ng-template pTemplate="header">
                    <p>Current Balance</p>
                </ng-template>
                <ng-template let-col let-record="rowData"
                             let-ri="rowIndex" pTemplate="body">
                    <p class="value-secondary" cubTooltip="${{record.endingBalance ? (record.endingBalance / 100).toFixed(2) : 0}}"></p>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div> <!-- end hybrid -->
<!--BALANCE HISTORY DETAIL MODAL WINDOW-->
<div *ngIf="!!_cub_oneAccountService.selected && showBalanceHistoryDetail" class="hybrid modal-small visible">
    <!--TODO verify/adjust width class once balance history data is available-->
    <ul class="window modal-width-XXXXL transaction-details">
        <li class="header center">
            <h2>Balance History Details</h2>
        </li>
        <li class="body">
            <div>
                <!--JOURNAL ENTRY AREA-->
                <div class="grid-small no-row-hover">
                    <ul class="opposite-sides align-bottom">
                        <li>
                            <h3>Journal Entry</h3>
                        </li>
                    </ul>
                    <!--JOURNAL ENTRY TABLE -->
                    <p-dataTable [value]="[balanceHistoryDetail]"
                                 selectionMode="none"
                                 dataKey="purseId">
                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Date"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.financialTransaction?.transactionDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Purse"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.purseNickname}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Entry Type"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.entryType}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Entry Status"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.entryStatus}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Transaction Amount"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.financialTransaction.transactionAmount ? (record.financialTransaction.transactionAmount / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Available Balance"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.availableBalance ? (record.availableBalance / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Current Balance"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.endingBalance ? (record.endingBalance / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>

                <!--LOAD DETAILS AREA-->
                <div class="grid-small no-row-hover">
                    <ul class="opposite-sides align-bottom">
                        <li>
                            <h3>Purse Load</h3>
                        </li>
                        <li>
                            <!--TODO: Replace with data-->
                            <ul class="form-fields-horizontal form-label-left">
                                <li class="form-field-label">
                                    <label cubTooltip="Load Amount"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="${{balanceHistoryDetail.financialTransaction.transactionAmount ? (balanceHistoryDetail.financialTransaction.transactionAmount / 100).toFixed(2) : 0}}"></p>
                                </li>
                                <li class="form-field-label">
                                    <label cubTooltip="External Ref. #1"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="{{balanceHistoryDetail.financialTransaction.externalReferenceNumber}}"></p>
                                </li>
                                <li class="form-field-label">
                                    <label cubTooltip="External Ref. #2"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="{{balanceHistoryDetail.financialTransaction.externalReferenceNumber2}}"></p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--LOAD DETAILS TABLE -->
                    <!--TODO: Implement proper array/data/configuration needed for grid-->
                    <p-dataTable [value]="[balanceHistoryDetail.financialTransaction]"
                                 selectionMode="none"
                                 dataKey="financialTransactionId">

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Payment Date"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.transactionDateTime ? (record.transactionDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async) : ''}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Payment Amount"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.transactionAmount ? (record.transactionAmount / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Payment Ref. #"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.financialTransactionId}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Authorization Ref. #"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.authorizationReferenceNumber}}"></p>
                            </ng-template>
                        </p-column>

                    </p-dataTable>
                </div>
                <!--ALLOCATIONS AREA-->
                <div class="grid-small no-row-hover">
                    <ul class="opposite-sides align-bottom">
                        <li>
                            <h3>Credit Allocations</h3>
                        </li>
                        <li>
                            <!--TODO: Replace with data-->
                            <ul class="form-fields-horizontal form-label-left">
                                <li class="form-field-label">
                                    <label cubTooltip="Total Amount"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="${{balanceHistoryDetail.allocatedAmount && balanceHistoryDetail.unallocatedAmount ? ((balanceHistoryDetail.allocatedAmount + balanceHistoryDetail.unallocatedAmount) / 100).toFixed(2) : 0}}"></p>
                                </li>
                                <li class="form-field-label">
                                    <label cubTooltip="Allocated Amount"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="${{balanceHistoryDetail.allocatedAmount ? (balanceHistoryDetail.allocatedAmount / 100).toFixed(2) : 0}}"></p>
                                </li>
                                <li class="form-field-label">
                                    <label cubTooltip="Unallocated Amount"></label>
                                </li>
                                <li class="form-field-text-value">
                                    <p cubTooltip="${{balanceHistoryDetail.unallocatedAmount ? (balanceHistoryDetail.unallocatedAmount / 100).toFixed(2) : 0}}"></p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--ALLOCATIONS TABLE -->
                    <!--TODO: Implement proper array/data/configuration needed for grid-->
                    <p-dataTable [value]="balanceHistoryDetail.journalAllocations"
                                 selectionMode="none"
                                 dataKey="journalEntryId">

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Allocated Amount"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="${{record.allocatiodAmount ? (record.allocatiodAmount / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Entry Type"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.entryType}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Posting Date"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary"
                                   cubTooltip="{{record.entryDateTime ? (record.entryDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async) : ''}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Transaction Date"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary"
                                   cubTooltip="{{record.financialTransaction.transactionDateTime ? (record.financialTransaction.transactionDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async) : ''}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Transaction Details"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.financialTransaction.transactionDescription}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M left"
                                  field="insertValueHere"
                                  sortable="true">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Transaction Amount"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary"
                                   cubTooltip="${{record.financialTransaction.transactionAmount ? (record.financialTransaction.transactionAmount / 100).toFixed(2) : 0}}"></p>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            (click)="closeDetail()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>