/* CSS Reset: http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 - with additions */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================================== GLOBAL ===================================== */
* {
  font-family: Segoe\20UI, "Segoe UI", Tahoma, Arial;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 10px;
}

body {
  background: #f8f8f8;
}

.center {
  text-align: center;
}

.long-line-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.header h1, .header-toggle li > p, .header-toggle input:checked + label {
  font-size: 3em;
  font-weight: 300;
  color: #272727;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

.grid-header > li:first-child p, .either-or h2 {
  font-size: 2em;
  font-weight: 300;
  color: #393939;
  line-height: 1.3;
}

.no-scroll {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.content, .customer-bar > div {
  margin: 0 auto;
  min-width: 102.4rem;
  max-width: 160rem;
}

.content {
  padding: 1.5rem 0 4rem;
}

.content > *:not(.grid-container), .grid-header {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.error-message {
  webkit-transition: visibility 0s 0.2s, opacity 0.2s;
  transition: visibility 0s 0.2s, opacity 0.2s;
  visibility: hidden;
  opacity: 0;
}

.show-error-message ~ .error-message,
.show-error-message .error-message,
.show-error-message ~ * .error-message {
  webkit-transition: visibility 0s, opacity 0.2s;
  transition: visibility 0s, opacity 0.2s;
  visibility: visible;
  opacity: 1;
}

/* ===================================== HEADER ===================================== */
.header {
  position: relative;
}

.header button {
  position: absolute;
  top: 0.2rem;
  right: 0;
  font-size: 1.4em;
  font-weight: 500;
  color: #777;
  height: 3.8rem;
  padding: 0 2.3rem 0.2rem;
  border: 0;
  background: none;
  text-decoration: underline;
}

.header button:hover {
  text-decoration: none;
}

/* ------------------------------------- HEADER - TOGGLE ------------------------------------- */
.header-toggle {
  display: table;
  table-layout: fixed;
}

.header-toggle > * {
  display: table-cell;
  vertical-align: top;
}

.header-toggle > li {
  position: relative;
}

.header-toggle > li + li {
  padding-left: .3rem;
}

.header-toggle input {
  display: none;
}

.header-toggle label {
  display: none;
  font-size: 1.8em;
  font-weight: 500;
  color: #272727;
  line-height: 2.11111;
  width: 100%;
  padding: 0 1.5rem;
  background: #fff;
  border-top: .1rem solid #ccc;
}

.header-toggle input:checked + label {
  display: block;
  padding: .5rem 1.5rem;
  background: #eee;
  border: 0;
}

.header-toggle .options-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  top: -.6rem;
  border: .1rem solid #ccc;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: .3rem;
  z-index: 100;
}

.header-toggle .options-list:hover label {
  display: block;
}

.header-toggle .icon-drop-down-arrow {
  display: inline-block;
  position: relative;
  height: 0;
  width: 1.8rem;
  padding-top: 1.2rem;
  position: relative;
  top: 0;
  right: 0;
}

.header-toggle .icon-drop-down-arrow svg {
  position: absolute;
  top: 0;
  left: 0;
}

.header-toggle .icon-drop-down-arrow svg {
  stroke: #272727;
}

/* ===================================== COLUMNS ===================================== */
.columns {
  display: table;
  table-layout: fixed;
  margin: 4rem auto 0;
}

.columns > * {
  display: table-cell;
  vertical-align: top;
}

.content > .columns {
  padding: 0;
}

.columns > li {
  box-sizing: content-box;
  padding: 0 2.3rem;
}

.column-width-XXXS {
  width: 24rem;
}

.column-width-XXS {
  width: 30rem;
}

.column-width-XS {
  width: 36rem;
}

.column-width-S {
  width: 42rem;
}

.column-width-M {
  width: 46rem;
}

.column-width-L {
  width: 50rem;
}

.column-width-XL {
  width: 56rem;
}

.column-width-XXL {
  width: 62rem;
}

.column-width-XXXL {
  width: 70rem;
}

.column-width-XXXXL {
  width: 80rem;
}

/* ===================================== BUTTONS ===================================== */
.header button, .button-primary, .button-primary-text, .button-secondary-text, .button-cancel, .actions-menu button, .row-x button, .pagination button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
}

.button-primary, .button-cancel {
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
  height: 3.8rem;
  padding: 0 2rem .2rem;
  border: .1rem solid transparent;
  border-radius: .3rem;
}

.button-primary {
  background: #00adbc;
}

.button-primary:hover {
  background: #009fad;
}

.button-primary:active {
  background: #00919d;
}

.button-primary:disabled {
  border: 0.1rem solid #e4e4e4;
  background: none;
  color: #d4d4d4;
  cursor: default;
}

.button-primary-text, .button-secondary-text {
  font-size: 1.6em;
  font-weight: 500;
  color: #00adbc;
  text-decoration: underline;
  height: 3.8rem;
  padding: 0 1rem;
  border: 0;
  background: none;
}

.button-primary-text:hover, .button-secondary-text:hover {
  text-decoration: none;
}

.button-primary-text:disabled, .button-secondary-text:disabled {
  opacity: 0;
  cursor: default;
}

.button-secondary-text {
  font-size: 1.4em;
}

.form-fields-vertical .button-secondary-text {
  position: relative;
  left: -1rem;
}

.button-cancel {
  color: #393939;
  background: #ddd;
}

.button-cancel:hover {
  background: #d5d5d5;
}

.button-cancel:active {
  background: #cecece;
}

.window .button-cancel {
  background: #efefef;
  min-width: 12rem;
}

.window .button-cancel:hover {
  background: #e7e7e7;
}

.window .button-cancel:active {
  background: #e0e0e0;
}

.buttons {
  display: table;
  table-layout: fixed;
  margin: 5rem auto 0;
}

.buttons > * {
  display: table-cell;
  vertical-align: middle;
}

.buttons > li {
  padding: 0 1rem;
}

/* ===================================== GRID ===================================== */
.grid-column-width-XXXS {
  width: 4%;
}

.grid-column-width-XXS {
  width: 8%;
}

.grid-column-width-XS {
  width: 12%;
}

.grid-column-width-S {
  width: 16%;
}

.grid-column-width-M {
  width: 20%;
}

.grid-column-width-L {
  width: 24%;
}

.grid-column-width-XL {
  width: 28%;
}

.grid-column-width-XXL {
  width: 35%;
}

.grid-column-width-XXXL {
  width: 40%;
}

.grid-column-width-XXXXL {
  width: 50%;
}

/* ------------------------------------- GRID - HEADER ------------------------------------- */
.grid-header {
  display: table;
  width: 100%;
  margin-top: 3rem;
}

.grid-header > li {
  display: table-cell;
  vertical-align: middle;
}

.grid-header > li:first-child {
  width: 100%;
}

.grid-header > li:first-child p strong {
  font-weight: 600;
}

.grid-header [class*="form-fields"] {
  margin-top: 0;
}

/* ------------------------------------- GRID - COLUMN HEADERS ------------------------------------- */
.grid-column-headers, .grid-list > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0 2.3rem;
}

.grid-column-headers > *, .grid-list > ul > * {
  display: table-cell;
  vertical-align: middle;
}

.grid-column-headers {
  background: #eee;
  height: 3rem;
  margin-top: 2rem;
  padding-bottom: .2rem;
  border-top: 0.1rem solid #e4e4e4;
  border-bottom: 0.1rem solid #e4e4e4;
}

.grid-column-headers li:last-child p {
  padding-right: 0;
}

.grid-column-headers p {
  font-size: 1.4em;
  font-weight: 600;
  color: #393939;
  line-height: 1.28571;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1.6rem;
}

/* ------------------------------------- GRID - LIST ------------------------------------- */
.grid-list > ul:not(:first-child):before, .grid-list > ul:hover:after {
  position: absolute;
  display: inline-block;
  height: .1rem;
  background: #e4e4e4;
  content: '';
}

.grid-list {
  background: #fff;
  border-bottom: 0.1rem solid #e4e4e4;
}

.grid-list > ul {
  position: relative;
  height: 5.4rem;
}

.grid-list > ul > li {
  padding-top: .4rem;
  padding-bottom: .6rem;
}

.grid-list > ul:hover {
  background: rgba(0, 173, 188, 0.07);
  cursor: pointer;
}

.grid-list > ul:not(:first-child):before {
  top: 0;
  left: 2.3rem;
  right: 2.3rem;
}

.grid-list > ul:hover:after {
  bottom: -.1rem;
}

.grid-list > ul:hover:before, .grid-list > ul:hover:after {
  left: 0;
  right: 0;
  background: #cde2e4;
  z-index: 10;
}

.grid-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1.6rem;
}

.grid-list a {
  text-decoration: none;
  color: inherit;
}

.grid-list a:hover,
.grid-list a:hover mark {
  text-decoration: underline;
}

.grid-list mark {
  background: none;
  font-weight: 600;
  color: #00adbc;
}

.value-primary {
  font-size: 1.6em;
  font-weight: 500;
  color: #000;
  line-height: 1.3125;
  letter-spacing: -0.016em;
}

.value-secondary {
  font-size: 1.6em;
  font-weight: 500;
  color: #555;
  line-height: 1.3125;
  letter-spacing: -0.016em;
}

.value-tertiary {
  font-size: 1.4em;
  font-weight: 500;
  color: #555;
  line-height: 1.28571;
}

.value-primary + .value-tertiary {
  margin-top: .1rem;
}

/* ------------------------------------- GRID - ACTIONS ------------------------------------- */
.actions {
  position: relative;
  width: 16rem;
  min-width: 16rem;
}

.actions input {
  display: none;
}

.dots span, .dots span:after, .dots span:before {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-radius: .5rem;
  background: #00adbc;
}

.dots {
  display: block;
  height: 3.4rem;
  padding-top: .6rem;
  border: .1rem solid transparent;
  cursor: pointer;
}

.dots:hover {
  background: #fff;
  border: 0.1rem solid rgba(0, 173, 188, 0.45);
}

.dots:active {
  background: transparent;
}

.dots span {
  position: relative;
  top: -.2rem;
}

.dots span:after, .dots span:before {
  position: absolute;
  top: 0;
  content: '';
}

.dots span:after {
  right: .8rem;
}

.dots span:before {
  left: .8rem;
}

ul:hover > .actions-one .dots {
  display: none;
}

.actions-menu {
  position: absolute;
  top: 0.9rem;
  right: 0;
  left: 0;
  display: none;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 100;
}

input:checked ~ .actions-menu,
ul:hover > .actions-one .actions-menu {
  display: block;
}

ul:hover > .actions-one .actions-menu {
  box-shadow: none;
}

.actions-menu button {
  font-size: 1.6em;
  font-weight: 500;
  color: #00adbc;
  width: 100%;
  padding: .8rem 1rem 1rem;
  border: 0.1rem solid rgba(0, 173, 188, 0.45);
  border-top: 0;
  background: #fff;
}

.actions-menu button:hover {
  position: relative;
  background: #00adbc;
  border-color: #00adbc;
  box-shadow: 0 -0.1rem #00adbc;
  color: #fff;
  z-index: 10;
}

.actions-menu button:active {
  background: #009fad;
  border-color: #009fad;
  box-shadow: 0 -0.1rem #009fad;
}

.actions-menu button p {
  overflow: visible;
  white-space: normal;
  padding: 0;
}

ul:hover > .actions-one .actions-menu button {
  background: none;
  border-color: transparent;
  text-decoration: underline;
}

ul:hover > .actions-one .actions-menu button:hover {
  text-decoration: none;
  color: #00adbc;
}

.actions-menu li:first-child button {
  border-top: 0.1rem solid rgba(0, 173, 188, 0.45);
}

.actions-menu li:first-child button:hover {
  box-shadow: none;
}

/* ===================================== FORM FIELDS ===================================== */
.form-field-drop-down, .form-field-drop-down-toggle, .form-field-text {
  position: relative;
}

input[type=text],
input[type=textarea], select, select + div {
  font-size: 1.6em;
  font-weight: 600;
  color: #393939;
  line-height: 1.25;
  height: 3.8rem;
  width: 100%;
  padding: 0 0 .3rem 1.2rem;
  border: 0.1rem solid #d4d4d4;
  border-radius: .3rem;
  background: #fff;
  outline: 0;
}

input[type=text]::-webkit-input-placeholder,
input[type=textarea]::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #bbb;
  font-weight: 500;
}

input[type=text]::-moz-placeholder,
input[type=textarea]::-moz-placeholder, select::-moz-placeholder {
  opacity: 1;
  color: #bbb;
  font-weight: 500;
}

input[type=text]:-ms-input-placeholder,
input[type=textarea]:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #bbb;
  font-weight: 500;
}

input[type=text]:-moz-placeholder,
input[type=textarea]:-moz-placeholder, select:-moz-placeholder {
  color: #bbb;
  font-weight: 500;
}

input[type=text]:hover,
input[type=textarea]:hover, select:hover + div {
  border-color: #a1a1a1;
}

input[type=text]:focus,
input[type=textarea]:focus, select:focus + div {
  border-color: #00adbc;
  box-shadow: 0 0 0.3rem #00adbc;
}

input[type=text]:disabled,
input[type=textarea]:disabled, select:disabled + div {
  border-color: #d8d8d8;
  background: #f2f2f2;
  box-shadow: none;
}

.error input[type=text], .error input[type=textarea], .error select + div, .form-field-toggle.error label {
  border-color: #ff6a4c;
  box-shadow: 0 0 0.3rem #ff6a4c;
}

/* -------------- Required Bar -------------- */
*[required] + i,
.required > div + i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 3.8rem;
  width: .3rem;
  background: #ff6a4c;
  border-radius: .3rem 0 0 .3rem;
}

*[required]:disabled + i,
.required > div:disabled + i {
  display: none;
}

.required *:disabled ~ i {
  display: none;
}

/* -------------- Form Field Widths -------------- */
.form-field-width-5 {
  width: 5%;
}

.form-field-width-10 {
  width: 10%;
}

.form-field-width-15 {
  width: 15%;
}

.form-field-width-20 {
  width: 20%;
}

.form-field-width-25 {
  width: 25%;
}

.form-field-width-30 {
  width: 30%;
}

.form-field-width-35 {
  width: 35%;
}

.form-field-width-40 {
  width: 40%;
}

.form-field-width-45 {
  width: 45%;
}

.form-field-width-50 {
  width: 50%;
}

.form-field-width-55 {
  width: 55%;
}

.form-field-width-60 {
  width: 60%;
}

.form-field-width-65 {
  width: 65%;
}

.form-field-width-70 {
  width: 70%;
}

.form-field-width-75 {
  width: 75%;
}

.form-field-width-80 {
  width: 80%;
}

.form-field-width-85 {
  width: 85%;
}

.form-field-width-90 {
  width: 90%;
}

.form-field-width-95 {
  width: 95%;
}

.form-field-width-100 {
  width: 100%;
}

.form-field-width-XXXS {
  max-width: 4rem;
  min-width: 3.2rem;
}

.form-field-width-XXS {
  max-width: 6rem;
  min-width: 4.8rem;
}

.form-field-width-XS {
  max-width: 10rem;
  min-width: 8rem;
}

.form-field-width-S {
  max-width: 14rem;
  min-width: 11.2rem;
}

.form-field-width-M {
  max-width: 16rem;
  min-width: 12.8rem;
}

.form-field-width-L {
  max-width: 20rem;
  min-width: 16rem;
}

.form-field-width-XL {
  max-width: 24rem;
  min-width: 19.2rem;
}

.form-field-width-XXL {
  max-width: 30rem;
  min-width: 24rem;
}

.form-field-width-XXXL {
  max-width: 36rem;
  min-width: 28.8rem;
}

.form-field-width-XXXXL {
  max-width: 42rem;
  min-width: 33.6rem;
}

/* ===================================== FORM FIELDS - LAYOUTS ===================================== */
.form-fields-horizontal, .form-fields-vertical {
  position: relative;
}

/* ------------------------------------- FORM FIELDS - LAYOUTS - HORIZONTAL ------------------------------------- */
.form-fields-horizontal {
  display: table;
  margin-top: 2rem;
}

.form-fields-horizontal li {
  display: table-cell;
  padding-left: 1rem;
  vertical-align: top;
}

.form-fields-horizontal li:first-child {
  padding-left: 0;
}

.form-fields-horizontal li.divider {
  position: relative;
  width: 8rem;
  min-width: 6rem;
}

.form-fields-horizontal li.divider:before {
  position: absolute;
  top: -0.4rem;
  left: 55%;
  display: inline-block;
  width: .2rem;
  height: 8.7rem;
  background: #ccc;
  background-image: linear-gradient(#ccc 55.55556%, #f8f8f8 55.55556%);
  background-position: center;
  background-size: .2rem .9rem;
  background-repeat: repeat-y;
  content: '';
}

.form-fields-horizontal li.divider p {
  font-size: 2em;
  font-weight: 300;
  color: #555;
  line-height: 3.8rem;
  position: relative;
  margin-top: 2.2rem;
  text-align: center;
  background: #f8f8f8;
  z-index: 10;
}

.form-fields-horizontal label {
  padding-bottom: .6rem;
  white-space: nowrap;
}

.form-fields-horizontal .form-field-button {
  padding-top: 2.3rem;
  padding-left: 1rem;
}

/* ------------------------------------- FORM FIELDS - LAYOUTS - VERTICAL ------------------------------------- */
.form-fields-vertical {
  display: table;
  width: 100%;
}

.form-fields-vertical > ul {
  position: relative;
}

.form-fields-vertical > ul + ul {
  margin-top: .8rem;
}

.form-fields-vertical > ul + ul.divider {
  height: .2rem;
  margin: 3rem 0;
  background: #ccc;
  background-image: linear-gradient(to right, #ccc 40%, #f8f8f8 40%);
  background-position: center;
  background-size: .5rem .2rem;
  background-repeat: repeat-x;
}

.form-fields-vertical li {
  display: table-cell;
  vertical-align: middle;
  height: 3.8rem;
}

.grid-header .form-fields-vertical li {
  height: 3.4rem;
}

.form-fields-vertical label {
  text-align: right;
  padding-right: 2rem;
}

.form-fields-vertical .form-fields-vertical label {
  padding-right: 1rem;
}

.grid-header .form-fields-vertical label {
  padding-right: 1.2rem;
  padding-bottom: .2rem;
}

.label-width-5 > ul > li:first-child {
  width: 5%;
}

.label-width-10 > ul > li:first-child {
  width: 10%;
}

.label-width-15 > ul > li:first-child {
  width: 15%;
}

.label-width-20 > ul > li:first-child {
  width: 20%;
}

.label-width-25 > ul > li:first-child {
  width: 25%;
}

.label-width-30 > ul > li:first-child {
  width: 30%;
}

.label-width-35 > ul > li:first-child {
  width: 35%;
}

.label-width-40 > ul > li:first-child {
  width: 40%;
}

.label-width-45 > ul > li:first-child {
  width: 45%;
}

.label-width-50 > ul > li:first-child {
  width: 50%;
}

.label-width-55 > ul > li:first-child {
  width: 55%;
}

.label-width-60 > ul > li:first-child {
  width: 60%;
}

.label-width-65 > ul > li:first-child {
  width: 65%;
}

.label-width-70 > ul > li:first-child {
  width: 70%;
}

.label-width-75 > ul > li:first-child {
  width: 75%;
}

.label-width-80 > ul > li:first-child {
  width: 80%;
}

.label-width-85 > ul > li:first-child {
  width: 85%;
}

.label-width-90 > ul > li:first-child {
  width: 90%;
}

.label-width-95 > ul > li:first-child {
  width: 95%;
}

.label-width-100 > ul > li:first-child {
  width: 100%;
}

.form-fields-siblings {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.form-fields-siblings > * {
  display: table-cell;
  vertical-align: middle;
}

.row-x button {
  position: absolute;
  top: 0.6rem;
  right: -3.5rem;
  display: none;
  padding: 0 0 0 1rem;
  width: 3.6rem;
  height: 2.6rem;
  border: 0;
  background: none;
  text-align: center;
  z-index: 10;
}

.row-x button div {
  width: 2.6rem;
  height: 2.6rem;
  padding-top: .5rem;
  border-radius: 2.6rem;
}

.row-x button:hover div {
  background: #999;
}

.row-x button:active div {
  background: gray;
}

.row-x button:hover .icon-row-x {
  stroke: #f8f8f8;
}

.row-x .icon-row-x {
  display: inline-block;
  position: relative;
  height: 0;
  width: 1.6rem;
  padding-top: 1.6rem;
  stroke: #999;
  stroke-width: 2.25;
}

.row-x .icon-row-x svg {
  position: absolute;
  top: 0;
  left: 0;
}

.row-x:hover button {
  display: inline-block;
}

.row-x:after {
  position: absolute;
  top: 0;
  right: -4rem;
  display: inline-block;
  width: 4rem;
  height: 3.8rem;
  content: '';
}

/* ------------------------------------- FORM FIELDS - LABELS ------------------------------------- */
label {
  font-size: 1.4em;
  font-weight: 500;
  color: #777;
  line-height: 1.28571;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
}

/* ------------------------------------- FORM FIELDS - DROP DOWNS ------------------------------------- */
select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-right: 3rem;
  z-index: 10;
}

select:disabled:hover {
  cursor: default;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  background: transparent;
  color: #393939;
}

select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #393939;
}

select:invalid {
  color: #bbb;
}

.form-field-drop-down div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-field-drop-down-toggle select {
  font-size: 1.5em;
  font-weight: 500;
  color: #777;
  line-height: 2;
}

.form-field-drop-down-toggle select:focus + div {
  border-color: #bbb;
  box-shadow: none;
}

.form-field-drop-down-toggle div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  border-color: #bbb;
  border-left: 0;
  border-radius: 0 .3rem .3rem 0;
}

.form-field-drop-down-toggle:hover div {
  background: #e7e7e7;
  border-color: #bbb;
}

.error .form-field-drop-down-toggle:hover div {
  border-color: #ff6a4c;
}

.form-field-drop-down-toggle.selected select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: none;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
}

.form-field-drop-down-toggle.selected select:disabled:hover {
  cursor: default;
}

.form-field-drop-down-toggle.selected select::-ms-expand {
  display: none;
}

.form-field-drop-down-toggle.selected select::-ms-value {
  background: transparent;
  color: #fff;
}

.form-field-drop-down-toggle.selected select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #fff;
}

.form-field-drop-down-toggle.selected div {
  border-color: #777;
  background: #777;
  box-shadow: -0.1rem 0 #777;
  z-index: 5;
}

.form-field-drop-down-toggle.selected .icon-drop-down-arrow svg {
  stroke: white;
}

.icon-drop-down-arrow {
  display: inline-block;
  position: relative;
  height: 0;
  width: 1.6rem;
  padding-top: 1.1rem;
  position: absolute;
  top: 1.4rem;
  right: 0.9rem;
}

.icon-drop-down-arrow svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-drop-down-arrow svg {
  fill: none;
  stroke: #999;
  stroke-width: 2.25;
}

.drop-down-small select {
  font-size: 1.4em;
}

.drop-down-small select,
.drop-down-small select + div {
  height: 3.4rem;
}

.drop-down-small .icon-drop-down-arrow {
  position: absolute;
  top: 1rem;
  right: 0.9rem;
}

/* ------------------------------------- FORM FIELDS - TEXT ------------------------------------- */
/* ------------------------------------- FORM FIELDS - TOGGLE ------------------------------------- */
.form-field-toggle label {
  font-size: 1.5em;
  font-weight: 500;
  color: #777;
  line-height: 2.26667;
  position: relative;
  height: 3.8rem;
  border: 0.1rem solid #bbb;
  padding: 0 .2rem;
  text-align: center;
  cursor: pointer;
}

.form-field-toggle label:hover {
  background: #e7e7e7;
}

.form-field-toggle label:active {
  background: #dddddd;
}

.form-field-toggle input:checked + label {
  border-color: #777;
  background: #777;
  color: #fff;
  z-index: 10;
}

.form-field-toggle > ul > li:not(:first-child) input:checked + label {
  box-shadow: -0.1rem 0 #777;
}

.form-field-toggle {
  padding-left: 1rem;
}

.form-field-width-100 .form-field-toggle {
  padding-left: 0;
}

.form-field-toggle > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.form-field-toggle > ul > * {
  display: table-cell;
  vertical-align: middle;
}

.form-field-toggle input {
  display: none;
}

.form-field-toggle > ul > li:first-child label {
  border-radius: .3rem 0 0 .3rem;
}

.form-field-toggle > ul > li:last-child label {
  border-radius: 0 .3rem .3rem 0;
}

.form-field-toggle li + li label {
  border-left: 0;
}

/* ------------------------------------- FORM FIELDS - ERRORS ------------------------------------- */
.error-message {
  position: absolute;
  top: 0;
  right: -22rem;
  min-width: 22rem;
  z-index: 100;
}

.error-message p {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1.6em;
  font-weight: 500;
  color: #000;
  line-height: 1.125;
  text-decoration: none;
  padding: .9rem 1.2rem 1.1rem;
  background: #ffdf7f;
  border-radius: .3rem;
  box-shadow: 0 0 0 0.2rem #f8f8f8;
}

.error-message p:before {
  position: absolute;
  top: 1rem;
  left: -2rem;
  display: inline-block;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-right-color: #ffdf7f;
  content: '';
}

.form-fields-horizontal .error-message {
  top: 4.8rem;
  left: 0;
  right: auto;
}

.form-fields-horizontal .error-message p {
  left: 0;
}

.form-fields-horizontal .error-message p:before {
  position: absolute;
  top: -2rem;
  left: 1rem;
  border-bottom-color: #ffdf7f;
  border-right-color: transparent;
}

.columns > li + li .error-message {
  right: auto;
  left: -22rem;
}

.columns > li + li .error-message p {
  left: auto;
  right: 1rem;
}

.columns > li + li .error-message p:before {
  left: auto;
  right: -2rem;
  border-right-color: transparent;
  border-left-color: #ffdf7f;
}

/* ------------------------------------- FORM FIELDS - HELP ------------------------------------- */
.form-field-help {
  position: relative;
  display: inline-block;
  padding: 1rem .5rem 1rem 1.4rem;
}

.form-field-help > p {
  font-size: 1.4em;
  font-weight: 500;
  color: #777;
  line-height: 1.28571;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-field-help:hover > p {
  text-decoration: none;
}

.help-message {
  position: absolute;
  top: 0;
  right: -22rem;
  display: none;
  min-width: 22rem;
  z-index: 100;
}

.form-field-help:hover .help-message {
  display: inline-block;
}

.help-message p {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1.4em;
  font-weight: 500;
  color: #000;
  line-height: 1.14286;
  text-decoration: none;
  padding: .9rem 1.2rem 1.1rem;
  background: #fff;
  border-radius: .3rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
}

.help-message p:before, .help-message p:after {
  position: absolute;
  top: 1rem;
  left: -2rem;
  display: inline-block;
  width: 0;
  height: 0;
  border: 1rem solid transparent;
  border-right-color: #fff;
  content: '';
}

.help-message p:before {
  left: -2.2rem;
  border-right-color: rgba(0, 0, 0, 0.05);
}

/* ===================================== PAGINATION ===================================== */
.pagination {
  display: table;
  table-layout: fixed;
  margin-top: 1.2rem;
  padding: 0 1.5rem;
}

.pagination > * {
  display: table-cell;
  vertical-align: middle;
}

.pagination button {
  font-size: 1.6em;
  font-weight: 500;
  color: #777;
  height: 2.6rem;
  padding: 0 .8rem .1rem;
  border: 0;
  border-radius: .3rem;
  background: none;
  text-align: center;
}

.pagination button.page-selected, .pagination button.page-selected:hover {
  background: #00adbc;
  color: #fff;
  cursor: default;
}

.pagination button:hover {
  background: #ddd;
  color: #5e5e5e;
}

.pagination button:active {
  background: #d0d0d0;
  color: #444444;
}

.pagination button.previous-next {
  font-size: 1.4em;
  font-weight: 500;
  color: #00adbc;
  text-decoration: underline;
  margin-right: .4rem;
}

.pagination button.previous-next:hover {
  text-decoration: none;
  background: none;
}

.pagination button.previous-next:disabled {
  text-decoration: none;
  color: #bbb;
  cursor: default;
}

/* ===================================== ACTION MESSAGES ===================================== */
.action-message {
  display: table;
  margin: 5rem auto 0;
}

.action-message li {
  display: table-cell;
  padding: 0 1.5rem;
  vertical-align: top;
}

.action-message li > p {
  font-size: 2em;
  font-weight: 300;
  color: #393939;
  line-height: 1.9;
}

/* ===================================== MODALS ===================================== */
.modal {
  webkit-transition: visibility 0s 0.2s, opacity 0.2s;
  transition: visibility 0s 0.2s, opacity 0.2s;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(228, 228, 228, 0.8);
  text-align: center;
  z-index: 1000;
  -ms-flex-align: center;
  align-items: center;
}

.modal.visible {
  webkit-transition: visibility 0s, opacity 0.2s;
  transition: visibility 0s, opacity 0.2s;
  visibility: visible;
  opacity: 1;
}

/* ------------------------------------- MODALS - WINDOW ------------------------------------- */
.window {
  display: inline-block;
  margin: 0 auto;
  min-width: 30rem;
  background: #fff;
  text-align: left;
}

.window .header {
  padding: 1.5rem 4rem 3rem;
}

.window .header:last-child {
  padding-bottom: 4rem;
}

.window .body {
  max-height: calc(100vh - 18rem);
  overflow-y: auto;
}

.window .body > div {
  padding: 0 4rem;
}

.window .body p {
  font-size: 1.6em;
  font-weight: 500;
  color: #777;
  line-height: 1.25;
}

.window .alerts ~ .body {
  max-height: calc(100vh - 18rem - 4rem);
}

.window .footer {
  padding: 3rem 4rem 3rem;
}

.window .footer .buttons {
  margin-top: 0;
}

.window .header + .footer {
  padding-top: 0;
}

/* ------------------------------------- MODALS - EITHER OR ------------------------------------- */
.either-or {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.either-or > * {
  display: table-cell;
  vertical-align: top;
}

.either-or > li {
  width: 50%;
}

.either-or > li:nth-of-type(2) {
  position: relative;
  width: 9rem;
  min-width: 9rem;
  vertical-align: middle;
  background-image: linear-gradient(#ddd 55.55556%, #fff 55.55556%);
  background-position: center;
  background-size: .2rem .9rem;
  background-repeat: repeat-y;
}

.either-or > li:nth-of-type(2) p {
  font-size: 2em;
  font-weight: 300;
  color: #555;
  position: relative;
  padding: .8rem 0;
  background: #fff;
  z-index: 10;
  text-align: center;
}

/* ------------------------------------- MODALS - CHECKLIST ------------------------------------- */
.checklist {
  margin-top: 2rem;
}

.checklist input {
  display: none;
}

.checklist label {
  display: block;
  padding: .6rem 1rem;
  font-size: 1em;
  cursor: pointer;
}

.checklist label > ul {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.checklist label > ul > * {
  display: table-cell;
  vertical-align: middle;
}

.checklist label p {
  font-size: 1.4em;
  font-weight: 500;
  color: #777;
  line-height: 1.28571;
}

.checklist .checkbox {
  width: 4.2rem;
  min-width: 4.2rem;
  padding-right: 1.6rem;
}

.checklist .checkbox span {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  padding: .3rem 0 0;
  border: .2rem solid #ccc;
  border-radius: .3rem;
  background: #fff;
  text-align: center;
}

.checklist .icon-checkmark {
  display: inline-block;
  position: relative;
  height: 0;
  width: 2rem;
  padding-top: 1.6rem;
  fill: none;
  stroke: transparent;
  stroke-width: 3.25;
}

.checklist .icon-checkmark svg {
  position: absolute;
  top: 0;
  left: 0;
}

.checklist .answer {
  padding-left: 2rem;
}

.checklist .answer p {
  font-size: 1.6em;
  font-weight: 600;
  color: #393939;
  line-height: 1.125;
}

.checklist label:hover {
  background: rgba(0, 173, 188, 0.07);
  box-shadow: 0 0 0 0.1rem rgba(0, 173, 188, 0.15) inset, 0 0 0 0.1rem rgba(0, 0, 0, 0.05) inset;
}

.checklist label:hover .checkbox span {
  border-color: #00adbc;
}

.checklist label:active .checkbox span {
  box-shadow: 0 3rem rgba(0, 173, 188, 0.15) inset;
}

.checklist label:active .checkbox span .icon-checkmark {
  opacity: .5;
}

.checklist input:checked + label .checkbox span {
  background: #00adbc;
  border-color: #00adbc;
}

.checklist input:checked + label .icon-checkmark {
  stroke: #fff;
}

.checklist-label-width-5 label .checkbox + li {
  width: 5%;
}

.checklist-label-width-10 label .checkbox + li {
  width: 10%;
}

.checklist-label-width-15 label .checkbox + li {
  width: 15%;
}

.checklist-label-width-20 label .checkbox + li {
  width: 20%;
}

.checklist-label-width-25 label .checkbox + li {
  width: 25%;
}

.checklist-label-width-30 label .checkbox + li {
  width: 30%;
}

.checklist-label-width-35 label .checkbox + li {
  width: 35%;
}

.checklist-label-width-40 label .checkbox + li {
  width: 40%;
}

.checklist-label-width-45 label .checkbox + li {
  width: 45%;
}

.checklist-label-width-50 label .checkbox + li {
  width: 50%;
}

.checklist-label-width-55 label .checkbox + li {
  width: 55%;
}

.checklist-label-width-60 label .checkbox + li {
  width: 60%;
}

.checklist-label-width-65 label .checkbox + li {
  width: 65%;
}

.checklist-label-width-70 label .checkbox + li {
  width: 70%;
}

.checklist-label-width-75 label .checkbox + li {
  width: 75%;
}

.checklist-label-width-80 label .checkbox + li {
  width: 80%;
}

.checklist-label-width-85 label .checkbox + li {
  width: 85%;
}

.checklist-label-width-90 label .checkbox + li {
  width: 90%;
}

.checklist-label-width-95 label .checkbox + li {
  width: 95%;
}

.checklist-label-width-100 label .checkbox + li {
  width: 100%;
}

/* ------------------------------------- MODALS - ALERTS ------------------------------------- */
.alerts {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 4rem;
  background: #fff6da;
  text-align: center;
}

.alerts ul {
  display: table;
  table-layout: fixed;
  height: 4rem;
}

.alerts ul > * {
  display: table-cell;
  vertical-align: middle;
}

.alerts p {
  font-size: 1.4em;
  font-weight: 500;
  color: #393939;
  padding-left: 1rem;
}

.icon-alert-modal {
  display: inline-block;
  position: relative;
  height: 0;
  width: 2.5rem;
  padding-top: 2.5rem;
  fill: #fa0;
}

.icon-alert-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-alert-modal path {
  fill: #fff;
}

/* ------------------------------------- MODALS - WARNINGS ------------------------------------- */
.warning {
  max-width: 48rem;
}

.warning .icon + .body {
  padding: 2rem 4rem 0;
}

.warning .body {
  max-height: none;
  overflow: visible;
}

.warning .buttons button {
  min-width: 12rem;
}

/* ------------------------------------- MODALS - ICONS ------------------------------------- */
.icon {
  padding: 3rem 0 0;
  text-align: center;
}

.icon-confirmation-check {
  display: inline-block;
  position: relative;
  height: 0;
  width: 6.1rem;
  padding-top: 6.1rem;
  fill: rgba(31, 127, 57, 0.7);
}

.icon-confirmation-check svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-confirmation-check polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 3.5;
}

.icon-warning {
  display: inline-block;
  position: relative;
  height: 0;
  width: 5.8rem;
  padding-top: 5.2rem;
  stroke: #ff6a4c;
}

.icon-warning svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-warning path {
  fill: none;
  stroke-width: 2;
}

.icon-warning line {
  stroke-width: 4;
  stroke-linecap: round;
}

.icon-warning circle {
  fill: #ff6a4c;
  stroke-width: 0;
}

/* ===================================== CUSTOMER BAR ===================================== */
.customer-bar {
  background: #fff;
}

.customer-bar > div {
  padding: 0 2.3rem;
  text-align: center;
}

.customer-bar > div ul {
  height: 6rem;
  background-image: url(../images/session-bar-1.png);
  background-repeat: no-repeat;
  background-position: center top;
}

/* ========================================== SPINNER ========================================== */
@-webkit-keyframes spinner-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spinner-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;
}

.spinner i {
  position: absolute;
  top: 2.4rem;
  left: 2.8rem;
  display: inline-block;
  -webkit-animation: spinner-animation 1s linear infinite;
  animation: spinner-animation 1s linear infinite;
  width: .4rem;
  height: 1.2rem;
  background: #00adbc;
  border-radius: .1rem;
}

.spinner i:nth-of-type(1) {
  -webkit-animation-delay: -0.41667s;
  animation-delay: -0.41667s;
  -webkit-transform: rotate(0deg) translate(0, -2.1rem);
  transform: rotate(0deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(2) {
  -webkit-animation-delay: -0.33333s;
  animation-delay: -0.33333s;
  -webkit-transform: rotate(30deg) translate(0, -2.1rem);
  transform: rotate(30deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(3) {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  -webkit-transform: rotate(60deg) translate(0, -2.1rem);
  transform: rotate(60deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(4) {
  -webkit-animation-delay: -0.16667s;
  animation-delay: -0.16667s;
  -webkit-transform: rotate(90deg) translate(0, -2.1rem);
  transform: rotate(90deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(5) {
  -webkit-animation-delay: -0.08333s;
  animation-delay: -0.08333s;
  -webkit-transform: rotate(120deg) translate(0, -2.1rem);
  transform: rotate(120deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(6) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(150deg) translate(0, -2.1rem);
  transform: rotate(150deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(7) {
  -webkit-animation-delay: 0.08333s;
  animation-delay: 0.08333s;
  -webkit-transform: rotate(180deg) translate(0, -2.1rem);
  transform: rotate(180deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(8) {
  -webkit-animation-delay: 0.16667s;
  animation-delay: 0.16667s;
  -webkit-transform: rotate(210deg) translate(0, -2.1rem);
  transform: rotate(210deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(9) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-transform: rotate(240deg) translate(0, -2.1rem);
  transform: rotate(240deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(10) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
  -webkit-transform: rotate(270deg) translate(0, -2.1rem);
  transform: rotate(270deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(11) {
  -webkit-animation-delay: 0.41667s;
  animation-delay: 0.41667s;
  -webkit-transform: rotate(300deg) translate(0, -2.1rem);
  transform: rotate(300deg) translate(0, -2.1rem);
}

.spinner i:nth-of-type(12) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-transform: rotate(330deg) translate(0, -2.1rem);
  transform: rotate(330deg) translate(0, -2.1rem);
}

/* ===================================== CONTACT VERIFICATION ===================================== */
.contact-verification {
  min-width: 60rem;
  width: 100vw;
}

@media (min-width: 1024px) {
  .contact-verification {
    width: 98.2rem;
  }
}
