﻿<div class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <!--HEADER ICON-->
        <li class="icon">
            <ng-container *ngIf="state === _ResolveBalanceModalState.Completed; else notCompleted">
                <div class="icon-confirmation-check">
                    <svg viewBox="0 0 51 51">
                        <circle cx="25.5" cy="25.5" r="24.5" />
                        <polyline points="13,25.5 21.25,33.75 38,17" />
                    </svg>
                </div>
            </ng-container>
            <ng-template #notCompleted>
                <div class="icon-warning-hybrid">
                    <svg viewBox="0 0 45 42">
                        <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                        <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                        <circle cx="22.5" cy="31.5" r="2.5" />
                    </svg>
                </div>
            </ng-template>
        </li>
        <!--END HEADER ICON-->
        <!--BODY-->
        <li class="body center" [ngSwitch]="state">

            <!--AVAILABLE-->
            <div *ngSwitchCase="_ResolveBalanceModalState.Available">
                <p>To resolve the negative balance, {{debtCollectionInfo?.amountDue | money}} will be charged to bankcard {{debtCollectionInfo?.bankcardCharged?.maskedPan}}.</p>
                
                <ul class="form-fields-horizontal full-width" *ngIf="!requestBody.customerId">
                    <!-- NOTE: Added new "form-field-width-FULL" class for a text field to expand to the full width of its parent. -->
                    <li class="form-field-width-FULL">
                        <label for="email-receipt-to">Email receipt to:</label>
                        <div class="form-field-text">
                            <input type="text" 
                                   id="email-receipt-to"
                                   [(ngModel)]="email" />
                        </div>
                    </li>
                </ul>
            </div>

            <!--AVAILABLE WAIT-->
            <div *ngSwitchCase="_ResolveBalanceModalState.AvailableWait">
                <ng-container *ngIf="debtCollectionInfo?.remainingAttemptsForDay > 0; else noRemainingAttempts">
                    <p>
                        The negative balance cannot be resolved because a recent attempt failed. Please try again in {{nextAttemptRemainingTime}}.
                    </p>
                    <p class="red">
                        Only {{debtCollectionInfo?.remainingAttemptsForDay}} more attempt{{debtCollectionInfo?.remainingAttemptsForDay !== 1 ? 's' : ''}} can be made today.
                    </p>
                </ng-container>
                <ng-template #noRemainingAttempts>
                    <p>The negative balance cannot be resolved because all attempts to resolve the balance have failed.</p>
                    <p>Please try again tomorrow.</p>
                </ng-template>
            </div>

            <!--COMPLETED-->
            <div *ngSwitchCase="_ResolveBalanceModalState.Completed">
                <p>
                    {{debtCollectionInfo?.amountDue | money}} has been charged to bankcard {{debtCollectionInfo?.bankcardCharged?.maskedPan}}. The resulting balance is {{updatedDebtCollectionInfo?.amountDue | money}}
                </p>
                <p>
                    <strong>Order #: {{responseBody?.orderId}}</strong>
                </p>
            </div>

            <!--UNABLE TO RESOLVE-->
            <div *ngSwitchCase="_ResolveBalanceModalState.UnableToResolve">
                <p>The negative balance cannot be resolved.</p>
                <p *ngFor="let e of responseBody?.errors">
                    {{e.errorKey}}: {{e.errorMessage}}
                </p>
                <p *ngIf="!!responseBody?.orderId">
                    <strong>Order #: {{responseBody?.orderId}}</strong>
                </p>
                <ng-container *ngIf="updatedDebtCollectionInfo?.remainingAttemptsForDay > 0 && updatedDebtCollectionInfo?.attemptInSeconds > 0">
                    <p>Another attempt can be made in {{nextAttemptRemainingTime}}.</p>
                    <p class="red">Only {{updatedDebtCollectionInfo?.remainingAttemptsForDay}} more attempt{{updatedDebtCollectionInfo?.remainingAttemptsForDay === 1 ? '' : 's'}} can be made today.</p>
                </ng-container>
            </div>

            <!--UNKNOWN ERROR CATCH-ALL-->
            <div *ngSwitchDefault>
                <p>
                    The negative balance cannot be resolved because of an unknown error. Please try again later.
                </p>
                <p *ngIf="!!responseBody?.orderId">
                    <strong>Order #: {{responseBody?.orderId}}</strong>
                </p>
            </div>
        </li>
        <!--END BODY-->
        <!--FOOTER BUTTONS-->
        <li class="footer">
            <ul class="buttons">
                <li *ngIf="!!responseBody?.orderId && state !== _ResolveBalanceModalState.Available && state !== _ResolveBalanceModalState.AvailableWait">
                    <button type="button"
                            class="button-primary"
                            (click)="viewDetailsClicked()">
                        <p>View Details</p>
                    </button>
                </li>
                <li *ngIf="state === _ResolveBalanceModalState.Available">
                    <button type="button"
                            class="button-primary"
                            (click)="resolveBalanceClicked()">
                        <p>OK</p>
                    </button>
                </li>
                <li>
                    <button type="button"
                            [class.button-primary]="state === _ResolveBalanceModalState.AvailableWait"
                            [class.button-cancel]="state !== _ResolveBalanceModalState.AvailableWait"
                            (click)="cancelClicked()">
                        <p>{{state === _ResolveBalanceModalState.Available ? 'Cancel' : 'OK'}}</p>
                    </button>
                </li>
            </ul>
        </li>
        <!--END FOOTER BUTTONS-->
    </ul>
</div>