<body class="white-background">
    <div class="hybrid">
        <ul class="opposite-sides shift-down">
            <li></li>
            <li>
                <button type="button" class="button-plus" (click)="addVehicleClicked()">
                    <p>Add Vehicle</p>
                </button>
            </li>
        </ul>
        <div class="grid-container">
            <p-dataTable [value]="vehicleDetail" dataKey="id" [rows]="rowsPerPage" [paginator]="true">
                <!--Year column-->
                <p-column styleClass="grid-column-width-S" field="year" header="Year">
                    <ng-template let-col let-record="rowData"
                                 let-ri="rowIndex" pTemplate="body"
                                 styleClass="ui-cell-data">
                        <span class="value-secondary">{{record.year}}</span>
                    </ng-template>
                </p-column>
                <!--Make column-->
                <p-column styleClass="grid-column-width-XL" field="make" header="Make">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.make}}</span>
                    </ng-template>
                </p-column>
                <!--Model column-->
                <p-column styleClass="grid-column-width-XL" field="model" header="Model">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.model}}</span>
                    </ng-template>
                </p-column>
                <!--Color column-->
                <p-column styleClass="grid-column-width-XL" field="color" header="Color">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.color}}</span>
                    </ng-template>
                </p-column>
                <!--Axles column-->
                <p-column styleClass="grid-column-width-S" field="axles" header="# of Axles">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.axles}}</span>
                    </ng-template>
                </p-column>
                <!--License Plate column-->
                <p-column styleClass="grid-column-width-S" field="licensePlateNo" header="License Plate #">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.licensePlateNo}}</span>
                    </ng-template>
                </p-column>
                <!--State column-->
                <p-column styleClass="grid-column-width-S" field="state" header="State">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.state}}</span>
                    </ng-template>
                </p-column>
                <!--Type column-->
                <p-column styleClass="grid-column-width-XL" field="type" header="Type">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.type}}</span>
                    </ng-template>
                </p-column>
                <!--Status column-->
                <p-column styleClass="grid-column-width-S" field="isActive" header="Status">
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <span class="value-secondary">{{record.isActive}}</span>
                    </ng-template>
                </p-column>
            </p-dataTable>

        </div>
    </div>

    <!--tam-add-vehicle *ngIf="showAddVehicle" (cancelClicked)="cancelAddVehicle()" [id]="id">
    </tam-add-vehicle-->

</body>