<!-- Use the "unsupported" class on the <div> when used inside of an unsupported modal window. -->
<div class="hybrid modal-small visible" *ngIf="!showFinalMessage">
    <ul class="window modal-width-S">
        <li class="header center">
            <h1>Update Tap Location</h1>
        </li>
        <li class="body">
            <div>
                <div class="section">
                    <div class="form-fields-vertical label-width-35">
                        <ul class="form-field-row-short">
                            <li>
                                <label>Trip ID</label>
                            </li>
                            <li>
                                <div class="form-field-value">
                                    <p>{{tapEntry.tripId}}</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="form-field-row-short">
                            <li>
                                <label>Tap ID</label>
                            </li>
                            <li>
                                <div class="form-field-value">
                                    <p>{{tapEntry.tapId}}</p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="reason-code">Location<i class="required">*</i></label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-85">
                                        <!-- NOTE: Add class "error" to <div> form field container when the field is in error. -->
                                        <!-- NOTE: Add class "show-error-message" to <div> form field container to display the error message -->
                                        <div class="form-field-drop-down required">
                                            <select id="reason-code" required
                                                    [(ngModel)]="locationSelected"
                                                    (ngModelChange)="onLocationChanged()">
                                                <option selected>Select...</option>
                                                <option *ngFor="let l of locations" [ngValue]="l">{{l.stopPointDesc}}</option>
                                            </select>
                                            <div>
                                                <span class="icon-drop-down-arrow">
                                                    <svg viewBox="0 0 16 11">
                                                        <polyline points="2,2 8,8 14,2" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <i></i>
                                            <span class="error-message">
                                                <p>Location is required.</p>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="form-field-width-15"></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="reason-code">Reason<i class="required">*</i></label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-85">
                                        <!-- NOTE: Add class "error" to <div> form field container when the field is in error. -->
                                        <!-- NOTE: Add class "show-error-message" to <div> form field container to display the error message -->
                                        <div class="form-field-drop-down required">
                                            <select id="reason-code" required
                                                    [(ngModel)]="reasonCodeSelected"
                                                    (ngModelChange)="onReasonCodeChanged()">
                                                <option selected>Select...</option>
                                                <option *ngFor="let o of reasonCodeTypeSelected?.reasonCodes" [ngValue]="o">{{o.description}}</option>
                                            </select>
                                            <div>
                                                <span class="icon-drop-down-arrow">
                                                    <svg viewBox="0 0 16 11">
                                                        <polyline points="2,2 8,8 14,2" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <i></i>
                                            <span class="error-message">
                                                <p>Adjustment Reason is required.</p>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="form-field-width-15"></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <label for="notes">Notes<i class="required" *ngIf="reasonCodeSelected?.notesMandatoryFlag">*</i></label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-85">
                                        <div class="form-field-textarea">
                                            <!-- NOTE: Use the native "rows" attribute to control the height of the <textarea> box. -->
                                            <textarea maxlength="256" pInputTextarea
                                                      [(ngModel)]="notes"
                                                      (focusout)="validateForm()"
                                                      rows="4"></textarea>
                                        </div>
                                    </li>
                                    <li class="form-field-width-15"></li>
                                </ul>
                            </li>
                        </ul>
                        <ul *ngIf="!customerId">
                            <li>
                                <label for="notification-email">Notification Email</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-85">
                                        <div class="form-field-text">
                                            <input id="unregisteredEmail" type="text"
                                                   pInputText [(ngModel)]="unregisteredEmail" />
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- .form-fields-vertical -->
                </div>
            </div>
        </li> <!-- .body -->
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            id="adjust-value-button"
                            (click)="onTapCorrectionButtonClicked()"
                            [disabled]="!isFormValid">
                        <p>Update</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel"
                            (click)="closeFinalMessage()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li> <!-- <li class="body">-->
    </ul> <!-- <ul class="window"> -->
</div> <!-- <div class="hybrid modal-small unsupported">-->

<div *ngIf="showFinalMessage" align="center">
    <br />
    <br />
    <br />
    <br />
    <ul class="window modal-width-XS">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5" />
                    <polyline points="16,30.5 25.25,39.75 45,20 " />
                </svg>
            </div>
        </li>
        <li class="header left">
            <br />
            <br />
            <h1>Order Adjustment created</h1>
            <br />
            <h2>Order Number: {{orderNumber}}</h2>
            <br />
            <h2>Response Code: {{responseCode}}</h2>
            <br />
            <ul class="left error" *ngIf="errors != null && errors.length != 0">
                <li>
                    <h2>Errors</h2>
                </li>
                <li class="left">
                    <h2 *ngFor="let e of errors">- {{e.errorKey}}</h2>
                </li>
            </ul>
        </li>
        <li class="center">
            <br />
            <br />
            <br />
            <button type="button"
                    class="button-primary"
                    id="close-button"
                    (click)="closeFinalMessage()">
                <p>Close</p>
            </button>
        </li>
    </ul>
</div>