﻿<div class="form-fields-vertical {{labelWidthClass}}">
    <ng-container *ngFor="let key of controlsOrder">
        <ul *ngIf="!controls[key].isHidden"
            [class.divider]="controls[key].type === 'Divider'"
            [class.row-x]="controls[key].isRemovable">

            <ng-container [ngSwitch]="controls[key].type">
                <!-- START NEW 2018-03-12:
                    • Add one extra empty <li></li> inside <ul class="divider">, so it appears as below:
                -->
                <ng-container *ngSwitchCase="'Divider'">
                    <li></li>
                    <li></li>
                </ng-container>
                <!-- END NEW 2018-03-12 -->

                <ng-container *ngSwitchCase="'Dropdown'">
                    <li>
                        <label for="{{controls[key].id}}">{{controls[key].label}}</label>
                    </li>
                    <li *ngSwitchCase="'Dropdown'"
                        cub-dropdown
                        (onChange)="inputChange($event)"
                        [control]="controls[key]">
                    </li>
                </ng-container>

                <ng-container *ngSwitchCase="'Textbox'">
                    <li>
                        <label for="{{controls[key].id}}">{{controls[key].label}}</label>
                    </li>
                    <li cub-textbox
                        (onChange)="inputChange($event)"
                        (onFocusOut)="inputFocusOut($event)"
                        (onEnterPress)="inputEnterPress($event)"
                        [control]="controls[key]"
                        [mask]="!!controls[key].mask ? {mask: controls[key].mask, placeholderChar: controls[key].placeholderChar} : null">
                    </li>
                </ng-container>

                <ng-container *ngSwitchCase="'OptionSelect'">
                    <li>
                        <label for="{{controls[key].id}}">{{controls[key].label}}</label>
                    </li>
                    <li cub-optionselect
                        (onChange)="inputChange($event)"
                        [value]="controls[key].value"
                        [control]="controls[key]">
                    </li>
                </ng-container>

                <ng-container *ngSwitchCase="'Button'">
                    <li></li>
                    <li>
                        <ul class="{{controls[key].formFieldClass}}">
                            <li cub-button
                                class="{{controls[key].fieldWidthClass}}"
                                [control]="controls[key]"
                                (onClick)="buttonClicked($event)">
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>

            <!-- The "X" button only exists for optionally-added rows. -->
            <!-- START NEW 2018-03-12:
                • The <button> must remain a sibling of the <li> due to development complexities.
                • The <button> must be given a class of "button-x". This may have been "row-x" or no class at all in previous versions.
            -->
            <button *ngIf="controls[key].isRemovable"
                    id="{{controls[key].id}}"
                    (click)="removedClicked($event)"
                    type="button"
                    class="button-x">
                <div>
                    <span class="icon-row-x">
                        <svg viewBox="0 0 16 16">
                            <line x1="2.25" y1="2.25" x2="13.75" y2="13.75" />
                            <line x1="13.75" y1="2.25" x2="2.25" y2="13.75" />
                        </svg>
                    </span>
                </div>
            </button>
            <!-- END NEW 2018-03-12 -->
        </ul>
    </ng-container>
</div>