﻿<ul *ngIf="!control.isVerticalStackedLabel" [attr.class]="control.formFieldClass">
    <li [attr.class]="overrideFieldWidthClass || control.fieldWidthClass">
        <label *ngIf="!!control.label && control.includeLabel" for="{{control.id}}">
            {{control.label}}
        </label>
        <div class="form-field-text"
             [class.error]="control.isErrored || control.isInvalid || control.showErrorMessage"
             [class.show-error-message]="control.showErrorMessage">
            <input type="text" *ngIf="!control.dateConfiguration" [attr.id]="control.id"
                   [textMask]="mask"
                   [ngModel]="control.value"
                   (input)="inputChange($event)"
                   (focusout)="inputFocusOut($event)"
                   (focus)="inputFocus($event)"
                   (keypress)="inputKeyPress($event)"
                   [attr.required]="control.isRequired && !control.hideRequiredIndicator ? '' : null"
                   [attr.disabled]="control.isDisabled ? '' : null"
                   [attr.placeholder]="control?.placeholder || ''"
                   [attr.maxlength]="control.maxLength > 0 ? control.maxLength : null" />
            <form *ngIf="control.dateConfiguration" [formGroup]="dateFormGroup">
                <input type="text" [attr.id]="control.id"
                       [textMask]="mask"
                       [ngModel]="control.value"
                       (ngModelChange)="inputChange($event)"
                       (focusout)="inputFocusOut($event)"
                       (focus)="inputFocus($event)"
                       (keypress)="inputKeyPress($event)"
                       [attr.required]="control.isRequired && !control.hideRequiredIndicator ? '' : null"
                       [attr.disabled]="control.isDisabled ? '' : null"
                       [attr.placeholder]="control?.placeholder || ''"
                       [attr.maxlength]="control.maxLength > 0 ? control.maxLength : null"
                       ngui-datetime-picker
                       date-only="true"
                       formControlName="date"
                       [date-format]="control.dateConfiguration.dateFormat" />
            </form>
            <i></i>
            <span class="error-message">
                <p *ngIf="control.isErrored">{{control.errorMessage}}</p>
                <p *ngIf="!control.isErrored && control.isInvalid">{{control.validationMessage}}</p>
            </span>
        </div>
    </li>

    <!--Additional controls-->
    <ng-template ngFor let-key [ngForOf]="arrayOfAdditionalControlKeys">
        <li *ngIf="control.additionalControls[key].type != 'Button'"
            [attr.class]="control.additionalControls[key].fieldWidthClass">
            <div class="{{control?.additionalControls[key]?.formFieldClass}} {{control?.additionalControls[key]?.labelWidthClass || ''}}"
                 [class.error]="control?.additionalControls[key]?.isErrored || control?.additionalControls[key]?.isInvalid || control?.additionalControls[key]?.showErrorMessage"
                 [class.show-error-message]="control?.additionalControls[key]?.showErrorMessage">
                <ul>
                    <!--Additional LABEL control-->
                    <li cub-controllabel *ngIf="control.additionalControls[key].label" [id]="control.additionalControls[key].id" [label]="control.additionalControls[key].label"></li>

                    <!--Additional TEXTBOX control-->
                    <li *ngIf="control.additionalControls[key].type == 'Textbox'" cub-textbox
                        (onChange)="additionalInputChange($event)"
                        [control]="control.additionalControls[key]"
                        [overrideFieldWidthClass]="'form-field-width-100'">
                    </li>

                    <!--Additional OPTION SELECT control-->
                    <li *ngIf="control.additionalControls[key].type=='OptionSelect'" cub-optionselect
                        (onChange)="additionalInputChange($event)"
                        [control]="control.additionalControls[key]">
                    </li>

                    <!--Additional HELP control-->
                    <li *ngIf="control.additionalControls[key].type=='Help'" cub-help
                        [control]="control.additionalControls[key]">
                    </li>
                </ul>
            </div>
        </li>

        <!--Additional BUTTON control-->
        <li *ngIf="control.additionalControls[key].type == 'Button'"
            cub-button
            class="{{control.additionalControls[key].fieldWidthClass}}"
            [control]="control.additionalControls[key]"
            (onClick)="additionalInputChange($event)">
        </li>
    </ng-template>
    <li *ngIf="!!control.spacerWidthClass" [attr.class]="control.spacerWidthClass">
    </li>
</ul>

<label for="{{control.id}}" *ngIf="control.isVerticalStackedLabel">{{control.label}}</label>
<div *ngIf="control.isVerticalStackedLabel"
     class="form-field-text"
     [class.error]="control.isErrored || control.isInvalid || control.showErrorMessage"
     [class.show-error-message]="control.showErrorMessage">
    <input type="text" *ngIf="!control.dateConfiguration" id="{{control.id}}"
           [textMask]="mask"
           [ngModel]="control.value"
           (input)="inputChange($event)"
           (focusout)="inputFocusOut($event)"
           (focus)="inputFocus($event)"
           (keypress)="inputKeyPress($event)"
           [attr.required]="control.isRequired && !control.hideRequiredIndicator ? '' : null"
           [attr.disabled]="control.isDisabled ? '' : null"
           [attr.placeholder]="control?.placeholder || ''"
           [attr.maxlength]="control.maxLength > 0 ? control.maxLength : null" />
    <form *ngIf="control.dateConfiguration" [formGroup]="dateFormGroup">
        <input type="text" [attr.id]="control.id"
               [textMask]="mask"
               [ngModel]="control.value"
               (ngModelChange)="inputChange($event)"
               (focusout)="inputFocusOut($event)"
               (focus)="inputFocus($event)"
               (keypress)="inputKeyPress($event)"
               [attr.required]="control.isRequired && !control.hideRequiredIndicator ? '' : null"
               [attr.disabled]="control.isDisabled ? '' : null"
               [attr.placeholder]="control?.placeholder || ''"
               [attr.maxlength]="control.maxLength > 0 ? control.maxLength : null"
               ngui-datetime-picker
               date-only="true"
               formControlName="date"
               [date-format]="control.dateConfiguration.dateFormat" />
    </form>
    <i></i>
    <span class="error-message">
        <p *ngIf="control.isErrored">{{control.errorMessage}}</p>
        <p *ngIf="!control.isErrored && control.isInvalid">{{control.validationMessage}}</p>
    </span>
</div>