﻿<!--Native radio list-->
<p *ngIf="!control.isButton && !!control.label">{{control.label}}</p>
<ul *ngIf="!control.isButton" id="{{control.id}}">
    <ng-container *ngFor="let key of control.controls">
        <li cub-radio class="{{key.radioClass || ''}}"
            [checkedValue]="control.value"
            (onChange)="inputChange($event)"
            [control]="key"
            [group]="control.group">
        </li>
    </ng-container>
</ul>

<!--Custom button-styled radio list-->
<label *ngIf="control.isButton && !!control.label">{{control.label}}</label>
<div *ngIf="control.isButton" class="form-field-toggle">
    <ul id="{{control.id}}">
        <ng-container *ngFor="let key of control.controls">
            <li cub-radio class="{{key.radioClass || ''}}"
                [checkedValue]="control.value"
                (onChange)="inputChange($event)"
                [control]="key"
                [group]="control.group">
            </li>
        </ng-container>
    </ul>
</div>