<body>

    <div class="hybrid">

        <div class="list-totals">

            <ul class="header">
                <li>
                    <h2>Current Balance</h2>
                </li>
                <li>
                    <p>${{balancesDetail.currentBalance}}</p>
                </li>
            </ul>

            <div class="list">
                <ul>
                    <li>
                        <p>Last Statement/Invoice</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.lastInvBalance}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Tolls since last statement</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.lastInvTolls}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Payments since last statement</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.lastInvPayments}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Adjustments since last statement</p>
                    </li>
                    <!-- Use class "zero" when value = 0. -->
                    <li>
                        <p>${{balancesDetail.lastInvAdjustments}}</p>
                    </li>
                </ul>
            </div>

            <div class="list-large">
                <ul>
                    <li>
                        <p>Due Date</p>
                    </li>
                    <li>
                        <!-- Use class "red" to color text red. -->
                        <p class="red">6/15/2017</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Last Statement Date</p>
                    </li>
                    <li>
                        <p>5/21/2017</p>
                    </li>
                </ul>
            </div>

            <h4>Other Balances</h4>

            <div class="list">
                <ul>
                    <li>
                        <p>Prepaid</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.prepaidBalance}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Postpaid</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.postapaidBalance}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Violations</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.violationBalance}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Collections</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.collectionBalance}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>Payment Plan</p>
                    </li>
                    <li>
                        <p>${{balancesDetail.paymentPlanBalance}}</p>
                    </li>
                </ul>
            </div>
        </div> <!-- End list-totals -->
    </div> <!-- End hybrid -->
</body>