﻿<router-outlet name="session"></router-outlet>
<div class="content">
    <div *ngIf="!displayAsLinkPage" cub-flydown [control]="masterSearchFlydown" (onChange)="onMasterSearchSelectDropdownChanged($event)"></div>
    <div *ngIf="displayAsLinkPage" class="header">
        <ul class="header-toggle">
            <li>
                <h1>Link {{subsystemAccountNickname || 'Token'}} To {{customerName}}</h1>
            </li>
            <li>
                <button id="cancelButton"
                        type="button"
                        class="button-primary-text"
                        (click)="cancelButtonClicked()">
                    <p>Cancel</p>
                </button>
            </li>
        </ul>
    </div>
    <ul class="form-fields-horizontal">
        <li cub-dropdown
            [control]="tokenTypeDropdown"
            (onChange)="onTokenTypeDropdownChanged($event)"
            class="form-field-width-M"></li>
        <li cub-dropdown
            [control]="subsystemDropdown"
            (onChange)="onSubsystemDropdownChanged($event)"
            class="form-field-width-M"></li>
        <li cub-textbox
            [control]="bankCardNumber"
            [mask]="bankCardNumberMask"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchTokenButtonClicked($event)"
            (onFocusOut)="textChanged($event)"
            class="form-field-width-XL"></li>
        <li cub-textbox
            [control]="expirationDate"
            [mask]="expirationDateMask"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchTokenButtonClicked($event)"
            class="form-field-width-XS"></li>
        <li>
            <div cub-button
                 class="form-field-button"
                 [control]="searchTokenButton"
                 (onClick)="searchTokenButtonClicked($event)">
            </div>
        </li>
        <li class="divider">
            <p>OR</p>
        </li>
        <li class="form-field-width-XL">
            <label for="transit-account-number">Transit Account #</label>
            <div class="form-field-text">
                <input type="text"
                       id="transit-account-number"
                       required
                       [textMask]="{ mask: numMask, guide: false }"
                       [(ngModel)]="subsystemAccountReference"
                       #transitAccountInput="ngModel" />
                       <!--(keyup.enter)="transitAccountButton.click()" />-->
            </div>
        </li>
        <li>
            <div class="form-field-button">
                <button type="button"
                        class="button-primary"
                        (click)="displayAsLinkPage ? promptLinkDialog() : searchTransitAccount()"
                        #transitAccountButton>
                    <p>{{displayAsLinkPage ? 'Link' : 'Search'}}</p>
                </button>
                <!--   [disabled]="transitAccountInput.invalid" -->
            </div>
        </li>
        <li>
            <div class="form-field-button">
                <button type="button" class="button-primary-text" (click)="clearButtonClicked($event)">
                    <p>Clear</p>
                </button>
            </div>
        </li>
    </ul>

    <div *ngIf="_cub_dataService.masterSearchTokenResults?.length > 0 && displaySearchResults"
         class="section">
        <ul class="grid-header">
            <li>
                <p><strong>{{_cub_dataService.masterSearchTokenResults.length}}</strong> Result{{_cub_dataService.masterSearchTokenResults.length > 1 ? 's' : ''}}</p>
            </li>
        </ul>

        <!-- PrimeNg Data Table -->
        <div class="grid-large">
            <p-dataTable [value]="_cub_dataService.masterSearchTokenResults"
                         [rows]="rowsOnPage"
                         [paginator]="true"
                         selectionMode="single"
                         [(selection)]="_cub_dataService.selectedTokenToLink"
                         (onRowDblclick)="navigateToTransitAccount($event.data.Account.Line1)"
                         dataKey="ContactId">

                <!-- CUSTOMER NAME COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Customer"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary">
                            <a href="javascript:void(0)"
                               (click)="customerClicked(record)"
                               cubTooltip="{{record.Customer?.Line1 || 'None'}}"
                               innerHTML="{{record.Customer?.Line1 || 'None'}}">
                            </a>
                        </p>
                        <p class="value-tertiary" cubTooltip="{{record.Customer?.Line2}}"></p>
                    </ng-template>
                </p-column>

                <!-- ONEACCOUNT COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="OneAccount"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary" cubTooltip="{{record.OneAccount || 'None'}}"></p>
                    </ng-template>
                </p-column>

                <!-- TOKEN COLUMN -->
                <p-column headerStyleClass="grid-column-width-L left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Token"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary"
                           cubTooltip="{{record.Token?.Line1Unformatted}}"
                           [innerHTML]='record.Token?.Line1'>
                        </p>
                        <p class="value-tertiary" cubTooltip="{{record.Token?.Line2}}"></p>
                        <p class="value-tertiary" cubTooltip="{{record.Token?.Line3}}"></p>
                    </ng-template>
                </p-column>

                <!-- SUBSYSTEM COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Subsystem"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary" cubTooltip="{{record.Subsystem?.Line1}}"></p>
                        <p class="value-tertiary" cubTooltip="{{record.Subsystem?.Line2}}"></p>
                    </ng-template>
                </p-column>

                <!-- ACCOUNT COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Account"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary" cubTooltip="{{record.Account?.Line1}}"></p>
                        <p class="value-tertiary" cubTooltip="{{record.Account?.Line2}}"></p>
                    </ng-template>
                </p-column>

                <!-- ACTIONS MENU COLUMN -->
                <p-column headerStyleClass="actions center actions-column-width-L"
                          bodyStyleClass="actions center actions-one">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Actions"></p>
                    </ng-template>
                    <ng-template let-record="rowData" let-i="rowIndex" pTemplate="body">
                        <input type="checkbox" id="actions-{{i}}">
                        <label for="actions-{{i}}" class="actions-dots">
                            <span></span>
                        </label>
                        <ul class="actions-menu">
                            <li *ngIf="!displayAsLinkPage">
                                <button type="button" (click)="linkToCustomerClicked(record)">
                                    <p>Link To Customer</p>
                                </button>
                            </li>
                            <li *ngIf="displayAsLinkPage">
                                <button type="button" (click)="promptLinkDialog(record)">
                                    <p>Link To {{customerName}}</p>
                                </button>
                            </li>
                        </ul>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

    <ul class="action-message" *ngIf="displaySearchResults && !_cub_dataService.masterSearchTokenResults?.length">
        <li>
            <p>No results found</p>
        </li>
        <li>
            <div class="form-field-button"
                 cub-button
                 [control]="issueTokenButton"
                 (onClick)="issueTokenButtonClicked($event)">
            </div>
        </li>
    </ul>
</div>

<div *ngIf="showLinkToTransitAccount" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Are you sure you want to link Transit Account {{subsystemAccountReference}} to {{customerName}}?</p>
                <ul class="form-fields-horizontal full-width">
                    <!-- NOTE: Added new "form-field-width-FULL" class for a text field to expand to the full width of its parent. -->
                    <li class="form-field-width-FULL">
                        <label for="subsystem-account-nickname">Nickname:</label>
                        <div class="form-field-text">
                            <input type="text"
                                   id="subsystem-account-nickname"
                                   required
                                   autofocus
                                   [(ngModel)]="subsystemAccountNickname"
                                   #nicknameInput="ngModel"
                                   (keyup.enter)="linkButton.click()" />
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            (click)="completeLinkProcess()"
                            [disabled]="nicknameInput.invalid"
                            #linkButton>
                        <p>OK</p>
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="button-cancel"
                            (click)="showLinkToTransitAccount = false">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div> 