﻿@model CUB.MSD.Web.Models.CustomerRegistrationModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account Registration - Contact Search</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jsGrid.min.js" ></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        var CRM_URL = '@ViewBag.CRM_URL';
        var USER_NAME_REQUIRE_EMAIL = @ViewBag.UsernameRequireEmail;

        // Set the User Name to readonly if the Email is the User Name
        // Setting from the Global UsernameValidation.UsernameRequireEmail
        $(document).ready(function () {
            $('#UserName').attr('readonly', USER_NAME_REQUIRE_EMAIL);
        });
    </script>
    <script src="~/Scripts/CustomerRegistration/index.js"></script>
</head>
<body>
    <div id="ContactSearchDiv">
        <h4>Contact Search</h4>
        <hr />
        <div class="form-group">
            <label for="SearchFirstName">First Name</label>
            <input  id="SearchFirstName" name="SearchFirstName" type="text" value="" />
        </div>
        <div class="form-group">
            <label for="SearchLastName">Last Name</label>
            <input id="SearchLastName" name="SearchLastName" type="text" value="" />
        </div>
        <div class="form-group">
            <label for="SearchEmail">Email</label>
            <input id="SearchEmail" name="SearchEmail" type="text" value="" />
        </div>
        <div class="form-group">
            <label  for="SearchPhone">Phone</label>
            <input id="SearchPhone" name="SearchPhone" type="text" value="" />
        </div>
        <div class="form-group">
            <div >
                <input type="button" value="Search" onclick="return SearchContact();" />
                <input type="button" value="Clear" onclick="return ClearSearch();" />
            </div>
        </div>
        <div id="SearchResultsGrid"></div>
        <div >
            <input type="submit" id ="ShowCreateNewCustomerButton" value="Create New Customer" onclick="return ShowFindDuplicates();" disabled/>
        </div>
    </div>
    <div id="FindDuplicatesDiv" hidden>
        <h4>Create New Customer: Find Duplicates</h4>
        <form id="FindDuplicatesForm" method="post" action="/CustomerRegistration/FindDuplicates">
            <div class="form-group">
                <label for="FindDuplicatesFirstName">First Name</label>
                <input id="FindDuplicatesFirstName" name="FindDuplicatesFirstName" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="FindDuplicatesLastName">Last Name</label>
                <input id="FindDuplicatesLastName" name="FindDuplicatesLastName" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="FindDuplicatesEmail">Email</label>
                <input id="FindDuplicatesEmail" name="FindDuplicatesEmail" type="text" value="" required />
            </div>
            <input id="FindDuplicatesButton" type="button" value="Find Duplicates" onclick="return FindDuplicates();" />
            <input id="FindDuplicatesCancelButton" type="button" value="Cancel" onclick="return FindDuplicatesCancel();" />
        </form>
        <div id="DuplicatedCustomersDiv"></div>
    </div>

    <div id="CreateNewCustomerDiv" hidden>
        <h4>Create New Customer</h4>
        <form id="CustomerRegistrationForm" method="post" action="/CustomerRegistration/Register">
            <div class="form-group">
                <label for="AccountType">Account Type</label>
                 @Html.DropDownList("AccountType", new SelectList(ViewBag.AccountTypes, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="ContactType">Contact Type</label>
                @Html.DropDownList("ContactType", new SelectList(ViewBag.ContactTypes, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input id="FirstName" name="FirstName" type="text" value="" required readonly/>
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input id="LastName" name="LastName" type="text" value="" required readonly/>
            </div>
            <div class="form-group">
                <label for="MiddleNameInitial">Middle Name Initial</label>
                <input id="MiddleNameInitial" name="MiddleNameInitial" type="text" value="" />
            </div>
            <div class="form-group">
                <label for="BirthDate">Birth Date</label>
                <input id="BirthDate" name="BirthDate" type="text" value="" />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" name="Email" type="text" value="" required readonly/>
            </div>
            <div class="form-group">
                <label for="Phone1Type">Phone Type 1</label>
                @Html.DropDownList("Phone1Type", new SelectList(ViewBag.PhoneTypes, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="Phone1">Phone 1</label>
                <input id="Phone1" name="Phone1" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="Phone2Type2">Phone 2 Type</label>
                @Html.DropDownList("Phone2Type", new SelectList(ViewBag.PhoneTypes, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="Phone2">Phone 2</label>
                <input id="Phone2" name="Phone2" type="text" value="" />
            </div>
            <div class="form-group">
                <label for="Phone3Type">Phone 3 Type</label>
                @Html.DropDownList("Phone3Type", new SelectList(ViewBag.PhoneTypes, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="Phone3">Phone 3</label>
                <input id="Phone3" name="Phone3" type="text" value="" />
            </div>
            <div class="form-group">
                <label for="Zip">Zip</label>
                <input id="Zip" name="Zip" type="text" value="" required />
                <input id="ZipPostalCodeId" name="ZipPostalCodeId" type="text" value="" hidden />
                <button id="CheckZipPostalCode" onclick="return CheckZip();">Check Postal Code</button>
            </div>
            <div class="form-group">
                <label for="Address1">Address 1</label>
                <input id="Address1" name="Address1" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="Address2">Address 2</label>
                <input id="Address2" name="Address2" type="text" value="" />
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <input id="City" name="City" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="State">State</label>
                @Html.DropDownList("State", new SelectList(ViewBag.States, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                @Html.DropDownList("Country", new SelectList(ViewBag.Countries, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="SecurityQuestion">Security Question</label>
                @Html.DropDownList("SecurityQuestion", new SelectList(ViewBag.SecurityQuestions, "Key", "Value"))
            </div>
            <div class="form-group">
                <label for="SecurityQuestionAnswer">Security Question Answer</label>
                <input id="SecurityQuestionAnswer" name="SecurityQuestionAnswer" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="PIN">PIN</label>
                <input id="PIN" name="PIN" type="text" value="" required />
            </div>
            <div class="form-group">
                <label for="UserName">User Name</label>
                <input id="UserName" name="UserName" type="text" value="" readonly required/>
                <button id="CheckUserName" onclick="return ValidateUserName();">Check User Name</button>
            </div>
            <div class="form-group">
                <div>
                    <input id="CreateNewCustomerButton" type="button" value="Register Customer" onclick="return CreateNewCustomer();" />
                    <input id="CancelNewCustomerButton" type="button" value="Cancel" onclick="return CancelCreateNewCustomer();" />
                </div>
            </div>
        </form>
        <div id="ZipPostalCodeDiv"></div>
    </div>
</body>
</html>
