﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        Customer Registration completed: 
        <a target="_blank" 
           href="@Url.Content("http://usdced-msdyn08:5555/NextContact-DEV8/main.aspx?etc=1&extraqs=&histKey=599875425&id=" + 
           @ViewBag.AccountId + "&newWindow=true&pagetype=entityrecord#725117735")">Open in CRM</a>
    </div>
</body>
</html>
