    <div class="hybrid">
        <ul class="form-fields-horizontal">
            <li class="form-field-width-XL">
                <cub-date-range [offset]="dateOffset"
                                [requireBoth]="true"
                                (startChange)="onStartDateChanged($event)"
                                (endChange)="onEndDateChanged($event)"
                                (onEnterKey)="onEnterKey()"></cub-date-range>
            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="Travel Mode"
                controlId="travelModeControl"
                [options]="travelModeControl.options"
                (onChange)="onMultiDropdownChanged($event, 'travelModeControl')">
            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="Status"
                controlId="statusControl"
                [options]="statusControl.options"
                (onChange)="onMultiDropdownChanged($event, 'statusControl')">
            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="Indicator"
                controlId="indicatorControl"
                [options]="indicatorControl.options"
                (onChange)="onMultiDropdownChanged($event, 'indicatorControl')">
            </li>
            <!-- Hiding Show dropdown as per cappability document -->
            <li cub-multi-dropdown *ngIf="false"
                class="form-field-width-L"
                label="Show"
                controlId="showControl"
                [options]="showControl.options"
                (onChange)="onMultiDropdownChanged($event, 'showControl')">
            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="View Type"
                controlId="viewTypeControl"
                [options]="viewTypeControl.options"
                (onChange)="onMultiDropdownChanged($event, 'viewTypeControl')">
            </li>
            <li class="form-field-width-S">
                <button type="button"
                        class="button-primary"
                        id="search-button"
                        [attr.disabled]="disableSearch ? '' : null"
                        (click)="onSearchClicked()">
                    <p>Search</p>
                </button>
            </li>
            <li class="form-field-width-XS">
                <button type="button"
                        class="button-primary"
                        id="reset-button"
                        (click)="onResetClicked()">
                    <p>Reset</p>
                </button>
            </li>
            <li class="form-field-width-XS">
                <button type="button"
                        class="button-primary"
                        id="refresh-button"
                        (click)="onRefreshClicked()">
                    <p>Refresh</p>
                </button>
            </li>
        </ul>
        <cub-customizablegrid [data]="sortedTripsHistory"
                              gridName="TA.TripsHistory"
                              [totalCount]="totalRecordCount"
                              [lazy]="true"
                              [scope]="this"
                              (onLazyLoad)="onLazyLoad($event)"
                              (onRowDblClick)="onRowDblClick($event)">
        </cub-customizablegrid>
    </div>

    <cub_ta_travelhistorydetail *ngIf="showDetail"
                                subsystemId="{{subsystemId}}"
                                transitaccountId="{{transitAccountId}}"
                                [tripId]="selectedTripId"
                                (onCancel)="hideDetail()">
    </cub_ta_travelhistorydetail>

    <cub-ta-voidtrip *ngIf="showVoidTrip"
                     subsystemId="{{subsystemId}}"
                     transitaccountId="{{transitAccountId}}"
                     customerId="{{customerId}}"
                     [tripId]="selectedTripId"
                     (onCancel)="hideVoidTrip()">

    </cub-ta-voidtrip>
