﻿<div *ngIf="requestBody?.block && !showSaveModal" class="hybrid modal-small unsupported">
    <ul class="window">
        <li class="header center">
            <h1>Block Transit Account</h1>
        </li>
        <li class="body">
            <div>
                <div class="form-fields-vertical label-width-20">
                    <ul>
                        <li>
                            <label for="{{reasonCodeControl.id}}">Reason</label>
                        </li>
                        <li cub-dropdown [control]="reasonCodeControl" (onChange)="onReasonCodeChanged()">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label for="Notes">Notes</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li  class="form-field-width-100">
                                    <div class="form-field-textarea show-error-message"  [class.error]="showNotesError">
                                        <textarea [(ngModel)]="notes" [id]="notes" [rows]="5" [required]="reasonCodeSelected?.notesRequired">{{reasonCodeControl?.notesRequired}}</textarea>
                                        <i></i>
                                        <span *ngIf="showNotesError" class="error-message">
                                            <p>Notes are required.</p>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>                    
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="submitBlockClicked()">
                        <p>Block Account</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="cancelClicked()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div *ngIf="!requestBody?.block && !showSaveModal" class="hybrid modal-small unsupported">
    <ul class="window">
        <li class="header center">
            <h1>Unblock Transit Account</h1>
        </li>
        <li class="body">
            <div>
                <div class="form-fields-vertical label-width-20">
                    <ul>
                        <li>
                            <label for="{{reasonCodeControl.id}}">Reason</label>
                        </li>
                        <li cub-dropdown [control]="reasonCodeControl" (onChange)="onReasonCodeChanged()">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label for="Notes">Notes</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-100">
                                    <div class="form-field-textarea show-error-message" [class.error]="showNotesError" >
                                        <textarea [(ngModel)]="notes" [id]="notes" [rows]="5" [required]="reasonCodeSelected?.notesRequired">{{reasonCodeControl?.notesRequired}}</textarea>
                                        <i></i>
                                        <span *ngIf="showNotesError" class="error-message">
                                            <p>Notes are required.</p>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="submitUnBlockClicked()">
                        <p>Unblock Account</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="cancelClicked()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="showSaveModal" class="hybrid modal-small unsupported">
    <ul class="window">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 51 51">
                    <circle cx="25.5" cy="25.5" r="24.5" />
                    <polyline points="13,25.5 21.25,33.75 38,17" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <h1>Transit Account {{requestBody.block ? 'Blocked' : 'Unblocked'}}</h1>
                <p> Account ID: {{requestBody.subsystemAccount}}</p>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary" (click)="okClicked()">
                        <p>OK</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Add class "visible" to modal <div> to display modal window. -->
<div *ngIf="showErrorsModal" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Transit Account {{subsystemAccount}} could not be {{requestBody.block ? 'Blocked' : 'Unblocked'}} because following error:</p>
            </div>
        </li>
        <li class="body center" *ngFor="let e of responseBody?.errors">
            <div>
                - {{e.errorKey}}: {{e.errorMessage}}
            </div>
        </li>

        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-cancel" (click)="okErrors()">
                        <p>OK</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>