﻿<div class="hybrid">
    <ul class="section">
        <li>
            <ul class="opposite-sides align-bottom">
                <li>
                    <h2>Tokens</h2>
                </li>
                <li>
                    <ul class="form-fields-horizontal form-label-left">
                        <li cub-controllabel
                            [id]="subsystemDropdownControl.id"
                            label="Subsystem"
                            class="form-field-label">
                        </li>
                        <li cub-dropdown
                            [control]="subsystemDropdownControl"
                            class="form-field-width-M subsystemControl"
                            (onChange)="onSubsystemChange($event)">
                        </li>
                        <li cub-controllabel
                            [id]="'status-control-radiolist'"
                            label="Status"
                            class="form-field-label">
                        </li>
                        <li cub-radiolist
                            class="form-field-width-L"
                            [control]="statusControl"
                            (onChange)="statusChange($event)">
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="grid-small no-row-hover">
                <!-- PrimeNg Data Table -->
                <p-dataTable [value]="filteredTokens" 
                             [rows]="numberOfRows" 
                             [paginator]="true"
                             selectionMode="single" 
                             dataKey="tokenInfo">

                    <!-- TOKEN INFO COLUMN -->
                    <p-column headerStyleClass="grid-column-width-XL left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Token Info"></p>
                        </ng-template>
                        <ng-template let-record="rowData" pTemplate="body">
                            <p class="value-secondary" cubTooltip="{{record.subsystemTokenTypeDescription}} {{record | travelTokenId}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- NICKNAME COLUMN -->
                    <p-column headerStyleClass="grid-column-width-L left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Nickname"></p>
                        </ng-template>
                        <ng-template let-record="rowData" pTemplate="body">
                            <p class="value-secondary" cubTooltip="{{record.tokenInfo?.tokenNickname}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- SUBSYSTEM ID COLUMN -->
                    <p-column headerStyleClass="grid-column-width-L left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Subsystem ID"></p>
                        </ng-template>
                        <ng-template let-record="rowData" pTemplate="body">
                            <p class="value-secondary">
                            <a href="javascript:void(0)"
                               (click)="onSubsystemIdClicked($event, record)"
                               cubTooltip="{{record.subsystem}} - {{record.subsystemAccountReference}}"></a>
                                </p>
                        </ng-template>
                    </p-column>

                    <!-- STATUS COLUMN -->
                    <p-column headerStyleClass="grid-column-width-M left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Status"></p>
                        </ng-template>
                        <ng-template let-record="rowData" pTemplate="body">
                            <p class="value-secondary" cubTooltip="{{record.statusDescription}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- LAST USED COLUMN -->
                    <p-column headerStyleClass="grid-column-width-XXL left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Last Used"></p>
                        </ng-template>
                        <ng-template let-record="rowData" pTemplate="body">
                            <p class="value-secondary" cubTooltip="{{record.tokenInfo?.lastUseDTM | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </li>
    </ul>
</div>
