﻿@using CUB.MSD.Web.Models.TransitAccount
@model BalanceHistoryViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html>
<head>
    <title>Master Seacrh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/jsGrid.min.js"></script>
    <script src="~/Content/js/jquery-date-format.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
        * {
            font-family: Verdana,sans-serif;
            font-size: 11px;
        }
    </style>

</head>
<body>
    <script>
        var AccountBalanceHistory = {};
        var _AccountId = '@Model.AccountId';
        var _Subsystem = '@Model.Subsystem';

        $(document).ready(function () {
            var startDate = '@Model.StartDate';
            var endDate = '@Model.EndDate';
            $("#balanceStartDatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#balanceEndDatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#balanceStartDatepicker").val(DateFormat.format.date(startDate, "yyyy-MM-dd"));
            $("#balanceEndDatepicker").val(DateFormat.format.date(endDate, "yyyy-MM-dd"));
        });

        function searchTransitAccountBalanceHistory() {
            startDate = $("#balanceStartDatepicker").val();
            endDate = $("#balanceEndDatepicker").val();
            $("#AccountBalanceHistoryGrid").jsGrid({ data: [], noDataContent: "Loading..." });
            $("#SearchAccountBalanceHistoryButton").prop("disabled", true);
            var url_params = "?accountId=" + _AccountId +
                                "&subSystem=" + _Subsystem +
                                "&startDate=" + startDate +
                                "&endDate=" + endDate;
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/TransitAccount/GetBalanceHistory' + url_params,
                success: function (response, textStatus, jqXHR) {
                    AccountBalanceHistory = JSON.parse(response);
                    prepareAccountBalanceHistory();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function prepareAccountBalanceHistory() {
            $("#AccountBalanceHistoryGrid").jsGrid({
                noDataContent: "No data found!",
                width: "900px",
                sorting: true,
                paging: true,
                pageSize: 3,
                pageButtonCount: 10,
                pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                pagePrevText: "Prev",
                pageNextText: "Next",
                pageFirstText: "First",
                pageLastText: "Last",
                pageNavigatorNextText: "...",
                pageNavigatorPrevText: "...",
                data: AccountBalanceHistory.lineItems,
                headerRowRenderer: function () {
                    var $result = $("<tr>")
                                    .append($("<th class='account_status_header'>").width(100).text("Date"))
                                    .append($("<th class='account_status_header'>").width(120).text("Purse Type"))
                                    .append($("<th class='account_status_header'>").width(120).text("Purse Restriction"))
                                    .append($("<th class='account_status_header'>").width(150).text("Entry Type"))
                                    .append($("<th class='account_status_header'>").width(100).text("Reversal?"))
                                    .append($("<th class='account_status_header'>").width(75).text("Transaction Amount"))
                                    .append($("<th class='account_status_header'>").width(75).text("Ending Balance"));
                    return $result;
                },
                fields: [
                    {
                        title: "Date", name: "entryDateTime", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    { title: "Purse Type", name: "purseTypeDescription", type: "text", width: 120 },
                    { title: "Purse Restriction", name: "purseRestrictionDescription", type: "text", width: 120 },
                    { title: "Entry Type", name: "entryTypeDescription", type: "text", width: 150 },
                    {
                        title: "Reversal?", name: "isReversal", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return value == true ? "<td>Yes</td>" : "<td>No</td>";
                        }
                    },
                    {
                        title: "Transaction Amount", name: "journalEntryAmount", type: "text", width: 75, align: "right",
                        cellRenderer: function (value, item) {
                            return "<td>" + value / 100 + "</td>";
                        }
                    },
                    {
                        title: "Ending Balance", name: "endingBalance", type: "text", width: 75, align: "right",
                        cellRenderer: function (value, item) {
                            return "<td>" + value / 100 + "</td>";
                        }
                    },
                ]
            });

            $("#SearchAccountBalanceHistoryButton").prop("disabled", false);
        }

    </script>
    <div id="AccountBalanceHistory">
        <span class="ui-helper-hidden-accessible"><input type="text" /></span>
        <p>
            Start Date: <input type="text" style="width:120px" maxlength="10" id="balanceStartDatepicker">
            End Date:   <input type="text" style="width:120px" maxlength="10" id="balanceEndDatepicker">
            <button id="SearchAccountBalanceHistoryButton" onclick="return searchTransitAccountBalanceHistory();">Search</button>
        </p>
        <div id="AccountBalanceHistoryGrid"></div>
    </div>
</body>
</html>


