<div class="hybrid">
    <ul class="form-fields-horizontal">
        <li cub-textbox
            [control]="orderNumberControl">
        </li>
        <li class="form-field-width-XL">
            <cub-date-range [offset]="dateRangeOffset"
                            (startChange)="onStartDateChanged($event)"
                            (endChange)="onEndDateChanged($event)"
                            (onEnterKey)="onEnterKey()"></cub-date-range>
        </li>
        <li cub-multi-dropdown
            class="form-field-width-L"
            controlId="order-type-dropdown"
            label="Order Type"
            [options]="orderTypeOptions"
            (onChange)="onMultiDropdownChanged($event, 'orderTypeValues')">
        </li>
        <li cub-multi-dropdown
            class="form-field-width-L"
            controlId="order-status-dropdown"
            label="Order Status"
            [options]="orderStatusOptions"
            (onChange)="onMultiDropdownChanged($event, 'orderStatusValues')">
        </li>
        <li>
            <ul>
                <li>
                    <label for="realtimeFlag">Realtime flag</label>
                    <div>
                        <input type="checkbox"
                               name="realtimeFlag"
                               [(ngModel)]="realtimeFlag">
                        <i></i>
                        <span class="error-message"></span>
                    </div>
                </li>
            </ul>
        </li>
        <li class="form-field-width-S">
            <button type="button"
                    class="button-primary"
                    id="search-button"
                    [attr.disabled]="disableSearch ? '' : null"
                    (click)="onSearchClicked()">
                <p>Search</p>
            </button>
        </li>
    </ul>
    <cub-customizablegrid [data]="orderHistorySorted"
                          gridName="TransitAccount.OrderHistory"
                          [totalCount]="totalRecordCount"
                          [lazy]="true"
                          [scope]="this"
                          (onLazyLoad)="onLazyLoad($event)"
                          (onRowDblClick)="onRowDblClick($event)">
    </cub-customizablegrid>
</div>
