﻿<!--Used in checkboxlist control-->
<input *ngIf="control.checkboxClass === 'icon-checkbox-hybrid'"
       type="checkbox"
       [attr.id]="control.name"
       [checked]="control.value"
       [attr.disabled]="control.isDisabled ? '' : null"
       (change)="inputChange(control)" />
<label *ngIf="control.checkboxClass === 'icon-checkbox-hybrid'" [for]="control.name">
    <p *ngIf="control.label">{{control.label}}</p>
    <div>
        <span [class]="control.checkboxClass">
            <svg viewBox="0 0 12 10">
                <polyline points="2,4.5 5,7.5 10,2.5" />
            </svg>
        </span>
    </div>
</label>

<!--Used for notification preferences at category, subcategory, and individual notification levels-->
<input *ngIf="control.checkboxClass === 'fancy-checkbox'" 
       type="checkbox" 
       [attr.id]="control.id"
       [checked]="control.value"
       [class.partial]="control.partial"
       [attr.disabled]="control.isDisabled ? '' : null"
       (change)="inputChange(control)" />
<label *ngIf="control.checkboxClass === 'fancy-checkbox'" for="{{control.id}}">
    <p *ngIf="control.label">{{control.label}}</p>
    <div class="{{control.checkboxClass}}">
        <span>
            <svg viewBox="0 0 16 16">
                <line x1="3.5" y1="12.5" x2="12.5" y2="3.5" />
                <line x1="4" y1="8" x2="12" y2="8" />
                <polyline points="4,7.5 7,10.5 12,5.5" />
                <polyline points="2,7.5 6,11.5 14,3.5" />
            </svg>
        </span>
    </div>
</label>

<!-- Used for Notification Prefrences -> Apply settings to other contacts flyover-->
<input *ngIf="control.checkboxClass === 'regular-checkbox'" 
       type="checkbox" 
       [attr.id]="control.id"
       [checked]="control.value"
       [class.partial]="control.partial"
       [attr.disabled]="control.isDisabled ? '' : null"
       (change)="inputChange(control)">
<label *ngIf="control.checkboxClass === 'regular-checkbox'"
       [attr.for]="control.id">
    <ul>
        <li class="checkbox">
            <span>
                <div class="icon-checkmark">
                    <svg viewBox="0 0 16 13">
                        <polyline points="2.25,5.75 6.5,10 14.25,2.25" />
                    </svg>
                </div>
            </span>
        </li>
        <li>
            <p>{{control.label}}</p>
        </li>
    </ul>
</label>

<!-- Used for Travel History History -> Allow Multiselect -->
<input  *ngIf="startsWithFormFieldWidth()" 
        type="checkbox" 
        id="{{control.id}}" 
        name="travel-mode" 
        [checked]="control.value"
        (change)="inputChange(control)">
<label *ngIf="startsWithFormFieldWidth()" for="{{control.id}}">{{control.label}}</label>
