﻿<div class="hybrid">
    <!-- NEW 2017-12-29: The "custom-page" <div> should wrap all custom web resources' content. -->
    <!-- NEW 2017-12-29: Use class "custom-page-portion" when the custom web resouce only occupies a portion of the page's UI. -->
    <div class="custom-page custom-page-portion">
        <ul class="page-title">
            <li class="record-icon">
                <!-- NEW 2017-12-29: This icon is specifically for Subsystem Accounts. -->
                <div class="icon-record-subsystem">
                    <svg viewBox="0 0 50 50">
                        <polygon points="15,23 24,23 24,46 8,46" />
                        <polygon points="35,23 26,23 26,46 42,46" />
                        <polygon points="30,4 26,4 26,17 33.5,17" />
                        <polygon points="20,4 24,4 24,17 16.5,17" />
                        <polygon points="37,21 13,21 13,23 9,23 9,21 5,21 5,19 45,19 45,21 41,21 41,23 37,23" />
                    </svg>
                </div>
            </li>
            <li>
                <p class="record-type">Subsystem: {{subsystemId}} - MTA</p>
                <p class="record-title">{{transitAccountId}}</p>
            </li>
        </ul> <!-- End .page-title -->

        <ul class="section columns-left-uneven">
            <li>
                <h2>Account Information</h2>
                <div class="information-box information-box-emulate-dynamics">
                    <!-- NOTE: Class "column-1-width-*" sets the % width of the first column and can be set in increments of 5. -->
                    <ul class="columns-2-uneven column-1-width-60">
                        <li>
                            <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                            <div class="information label-width-50">
                                <ul>
                                    <li>
                                        <p>Customer</p>
                                    </li>
                                    <li>
                                        <p>
                                            <a *ngIf="customerName; else noCustomer"
                                               href="javascript:void(0)"
                                               (click)="customerClicked()">{{customerName}}</a>
                                            <ng-template #noCustomer>Unregistered</ng-template>
                                        </p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Contact</p>
                                    </li>
                                    <li>
                                        <p>
                                            <a *ngIf="contactName; else noContact"
                                               href="javascript:void(0)"
                                               (click)="contactClicked()">{{contactName}}</a>
                                            <ng-template #noContact>Unregistered</ng-template>
                                        </p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Rider Class</p>
                                    </li>
                                    <li>
                                        <p>{{summary?.riderClassDescription}}</p>
                                    </li>
                                </ul>
                                <!--<ul>
                                    <li>
                                        <p>Concession Level</p>
                                    </li>
                                    <li>
                                        <p>Unknown</p>
                                    </li>
                                </ul>-->
                            </div>
                        </li>
                        <li>
                            <div class="information label-width-55">
                                <ul>
                                    <li>
                                        <p>Status</p>
                                    </li>
                                    <li>
                                        <!-- NEW 2017-12-29: New "dotted-link-container" HTML for links with tooltips that trigger unsupported modal windows. -->
                                        <div class="dotted-link-container" *ngIf="!!summary?.accountStatusDescription">
                                            <button type="button" class="dotted-link" (click)="statusClicked()">
                                                <!-- NOTE: The tooltip alignment is determined by the following classes:
                                                    • "tooltip-left" - Tooltip bubble is aligned to the left end of the referenced text.
                                                    • "tooltip-center" - Tooltip bubble is aligned to the center of the referenced text.
                                                    • "tooltip-right" - Tooltip bubble is aligned to the right end of the referenced text.
                                                -->
                                                <!-- NOTE: The tooltip bubble width is determined by the following class names:
                                                    • tooltip-width-XXXS
                                                    • tooltip-width-XXS
                                                    • tooltip-width-XS
                                                    • tooltip-width-S
                                                    • tooltip-width-M
                                                    • tooltip-width-L
                                                    • tooltip-width-XL
                                                    • tooltip-width-XXL
                                                    • tooltip-width-XXXL
                                                    • tooltip-width-XXXXL
                                                -->
                                                <div class="tooltip-left tooltip-width-M">
                                                    <p>{{summary.accountStatusDescription}}</p>
                                                    <span>Click to view Status History</span>
                                                </div>
                                            </button>
                                            <span></span> <!-- Blank span necessary for right-side spacing -->
                                        </div>
                                        <!-- NEW 2017-12-29: End new "dotted-link-container" HTML. -->
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Last Modified</p>
                                    </li>
                                    <li>
                                        <p>{{summary?.accountStatusChangeDateTime | momentDate:'M/D/YYYY' | async}}</p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>Creation Date</p>
                                    </li>
                                    <li>
                                        <p>{{summary?.accountCreatedDateTime | momentDate:'M/D/YYYY' | async}}</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <!--Subsystem Balances-->
            <li>
                <cub-balances [balances]="summary?.purses"
                              balancesLabel="Subsystem Balances"
                              (addValue)="onAddValue($event)"
                              (viewAutoloads)="onViewAutoloads($event)"
                              (adjustValue)="onAdjustValue($event)"></cub-balances>
            </li>
            <!--<li class="form-field-width-XXXS">
                <button type="button"
                        class="button-primary"
                        id="adjust-values-button"
                        (click)="onAdjustValueClicked()">
                    <p>Adjust Values</p>
                </button>
            </li>-->
        </ul>
        <ul class="section columns-2-even">
            <li>
                <ul class="opposite-sides align-bottom">
                    <li>
                        <h2>Tokens</h2>
                    </li>
                    <li></li>
                </ul>
                <!-- NEW 2017-12-29: The "grid-container" class has been replaced with one of two possible classes:
                    • "grid-small" - Used for the "hybrid" (smaller) grid UI.
                    • "grid-large" - Used for the larger grid UI (Master Search, etc.).
                -->
                <div class="grid-small">
                    <!--TOKENS TABLE-->
                    <p-dataTable [value]="tokens"
                                 (onRowClick)="onTokenRowClicked($event.data)">
                        <!-- NEW 2017-12-29: The "grid-column-width-*" classes only need to be added to the <th> tags; <td> tags are unnecessary. -->
                        <!-- NEW 2017-12-29: All <th> tags require an alignment class:
                            • "left" - Align text left. This is a new class.
                            • "center" - Align text center.
                            • "right" - Align text right.
                        -->
                        <!--TOKEN COLUMN-->
                        <p-column headerStyleClass="grid-column-width-XL left">
                            <ng-template pTemplate="header">
                                <!-- NEW 2017-12-29: The <span class="ui-column-title"> requires the text to be wrapped in a <p> tag. -->
                                <p cubTooltip="Token"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData">
                                <p class="value-secondary" cubTooltip="{{record.tokenInfo?.tokenType}} {{record | travelTokenId}}"></p>
                                <p class="value-tertiary" cubTooltip="{{record.tokenInfo?.tokenNickname || record.subsystemTokenTypeDescription}}"></p>
                            </ng-template>
                        </p-column>

                        <!--CONTACT COLUMN-->
                        <p-column headerStyleClass="grid-column-width-L left">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Contact"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData">
                                <p class="value-tertiary" cubTooltip="{{contactName || 'Unregistered'}}">
                                    <a *ngIf="!!contactName; else unregisteredColumn"
                                       href="javascript:void(0)"
                                       (click)="contactClicked()">{{contactName}}</a>
                                    <ng-template #unregisteredColumn>Unregistered</ng-template>
                                </p>
                            </ng-template>
                        </p-column>

                        <!--STATUS COLUMN-->
                        <p-column headerStyleClass="grid-column-width-XL left">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Status"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData">
                                <!-- NEW 2017-12-29: New "dotted-link-container" HTML for links with tooltips that trigger unsupported modal windows. -->
                                <div class="dotted-link-container">
                                    <button type="button" class="dotted-link" (click)="tokenStatusClicked(record)">
                                        <!-- NOTE: The tooltip alignment is determined by the following classes:
                                            • "tooltip-left" - Tooltip bubble is aligned to the left end of the referenced text.
                                            • "tooltip-center" - Tooltip bubble is aligned to the center of the referenced text.
                                            • "tooltip-right" - Tooltip bubble is aligned to the right end of the referenced text.
                                        -->
                                        <!-- NOTE: The tooltip bubble width is determined by the following class names:
                                            • tooltip-width-XXXS
                                            • tooltip-width-XXS
                                            • tooltip-width-XS
                                            • tooltip-width-S
                                            • tooltip-width-M
                                            • tooltip-width-L
                                            • tooltip-width-XL
                                            • tooltip-width-XXL
                                            • tooltip-width-XXXL
                                            • tooltip-width-XXXXL
                                        -->
                                        <div class="tooltip-left tooltip-width-M">
                                            <p>{{record.statusDescription}}</p>
                                            <span>Click to view Status History</span>
                                        </div>
                                    </button>
                                    <span></span> <!-- Blank <span> necessary for right-side spacing -->
                                </div>
                                <!-- NEW 2017-12-29: End new "dotted-link-container" HTML -->
                                <p class="value-tertiary" cubTooltip="{{record.statusChangeDateTime | momentDate:'M/D/YYYY h:mm A' | async}}"></p>
                            </ng-template>
                        </p-column>

                        <!--LAST USED COLUMN-->
                        <p-column headerStyleClass="grid-column-width-XL left">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Last Used"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData">
                                <p class="value-secondary" cubTooltip="{{record.tokenLastUsageDetails?.location}}"></p>
                                <p class="value-tertiary" cubTooltip="{{record.tokenLastUsageDetails?.transactionDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                            </ng-template>
                        </p-column>

                        <!--LAST USED DEVICE COLUMN-->
                        <p-column headerStyleClass="grid-column-width-XL left">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Last Used Device"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData">
                                <p class="value-secondary" cubTooltip="{{record.tokenLastUsageDetails?.device}}"></p>
                                <p class="value-tertiary" cubTooltip="{{record.tokenLastUsageDetails?.statusDescription}}"></p>
                            </ng-template>
                        </p-column>

                        <!--PASSES COLUMN-->
                        <!-- NEW 2017-12-29: The "row-select-indicator" class has been replaced with the "row-selection" class. -->
                        <!-- NEW 2017-12-29: The "row-selection" <th> does not require the "grid-column-width-*" class. Instead, a new "row-selection-column-width-*" class is required. Width is determined by the class names:
                            • row-selection-column-width-XXXS
                            • row-selection-column-width-XXS
                            • row-selection-column-width-XS
                            • row-selection-column-width-S
                            • row-selection-column-width-M
                            • row-selection-column-width-L
                            • row-selection-column-width-XL
                            • row-selection-column-width-XXL
                            • row-selection-column-width-XXXL
                            • row-selection-column-width-XXXXL
                        -->
                        <p-column headerStyleClass="center row-selection row-selection-column-width-XXS" bodyStyleClass="row-selection">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Passes"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData" let-i="rowIndex">
                                <input type="radio"
                                       id="token-{{i}}"
                                       name="tokens"
                                       [value]="i"
                                       [(ngModel)]="selectedTokenIndex">
                                <label for="token-{{i}}">
                                    <!-- NEW 2017-12-29: A new <span> tag wraps the <p> number. -->
                                    <span>
                                        <p>{{summary?.passes?.length}}</p>
                                    </span>
                                </label>
                            </ng-template>
                        </p-column>

                        <!--ACTIONS COLUMN-->
                        <!-- NOTE: "actions" class for column containing actions. -->
                        <!-- NEW 2017-12-29: The "actions" <th> does not require the "grid-column-width-*" class. Instead, a new "actions-column-width-*" class is required. Width is determined by the class names:
                            • actions-column-width-XXXS
                            • actions-column-width-XXS
                            • actions-column-width-XS
                            • actions-column-width-S
                            • actions-column-width-M
                            • actions-column-width-L
                            • actions-column-width-XL
                            • actions-column-width-XXL
                            • actions-column-width-XXXL
                            • actions-column-width-XXXXL
                            • actions-column-width-FULL
                        -->
                        <p-column headerStyleClass="center actions actions-column-width-XXS" bodyStyleClass="actions center actions-multiple">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Actions"></p>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="rowData" let-i="rowIndex">
                                <cub-menu-toggle inputId="actions-{{i}}">
                                    <!-- NOTE: The <input> checkbox is invisible and works behind the scenes to hide/show the corresponding actions menu (only necessary when multiple actions exist) -->
                                    <!-- NOTE: When the user does one of the following, remove the "checked" attribute from the <input>:
                                    • User clicks a button in the "actions-menu".
                                    • User clicks outside of the "actions-menu".
                                    • User leaves hover of the <ul> search row result containing the "actions-menu".
                                    -->
                                    <input type="checkbox" id="actions-{{i}}">
                                    <!-- NEW 2017-12-29: The "dots" class has been replaced with the "actions-dots" class. -->
                                    <label for="actions-{{i}}" class="actions-dots">
                                        <span></span>
                                    </label>
                                    <!-- NOTE: New classes! The actions menu alignment is determined by the following classes:
                                        • "actions-menu-align-left" - The actions menu is aligned to the left edge of the actions column.
                                        • "actions-menu-align-center" - The actions menu is aligned in the center of the actions column.
                                        • "actions-menu-align-right" - The actions menu is aligned to the right edge of the actions column.
                                        >>> NOTE: These classes are NOT needed when the actions menu is using the "actions-one" class (as opposed to "actions-multiple").
                                    -->
                                    <!-- NOTE: New classes! The actions menu width is determined by the following class names:
                                        • actions-menu-width-XXXS
                                        • actions-menu-width-XXS
                                        • actions-menu-width-XS
                                        • actions-menu-width-S
                                        • actions-menu-width-M
                                        • actions-menu-width-L
                                        • actions-menu-width-XL
                                        • actions-menu-width-XXL
                                        • actions-menu-width-XXXL
                                        • actions-menu-width-XXXXL
                                        >>> NOTE: These classes are NOT needed when the actions menu is using the "actions-one" class (as opposed to "actions-multiple").
                                    -->
                                    <ul class="actions-menu actions-menu-align-center actions-menu-width-M">
                                        <ng-container [ngSwitch]="record?.status">
                                            <ng-container *ngSwitchCase="activeOrSuspended(record)">
                                                <li>
                                                    <button type="button" (click)="blockTermClicked(record, true, false)">
                                                        <p>Block</p>
                                                    </button>
                                                </li>
                                            </ng-container>
                                            <ng-container *ngSwitchCase="'Closed'">
                                                <li>
                                                    <button type="button" (click)="blockTermClicked(record, false, false)">
                                                        <p>Unblock</p>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button type="button" (click)="blockTermClicked(record, false, true)">
                                                        <p>Terminate</p>
                                                    </button>
                                                </li>
                                            </ng-container>

                                            <ng-container *ngSwithDefalt>
                                                <li>
                                                </li>
                                            </ng-container>
                                        </ng-container>
                                    </ul>
                                </cub-menu-toggle>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </li>

            <li>
                <ul class="opposite-sides align-bottom">
                    <li>
                        <h2>Passes</h2>
                    </li>
                    <li>
                        <!--PASSES TABLE FILTER CONTROLS-->
                        <ul class="form-fields-horizontal form-label-left">
                            <li class="form-field-label">
                                <label for="{{passesTokenControl.id}}">Token</label>
                            </li>
                            <li class="form-field-width-L">
                                <ul cub-dropdown class="form-field-width-L"
                                    [control]="passesTokenControl"
                                    (onChange)="null"></ul>
                            </li>
                            <li class="form-field-label">
                                <label>Status</label>
                            </li>
                            <li cub-radiolist class="form-field-width-M"
                                [control]="passesStatusControl"
                                (onChange)="onPassesStatusChanged()">
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="grid-small no-row-hover">
                    <!--PASSES TABLE-->
                    <p-dataTable [value]="getPassesForTable()" dataKey="passSerialNbr">

                        <!--DESCRIPTION COLUMN-->
                        <p-column headerStyleClass="grid-column-width-L">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Description"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.passDescription}}"></p>
                                <p class="value-tertiary" cubTooltip="{{record.passSerialNbr}}"></p>
                            </ng-template>
                        </p-column>

                        <!--ACTIVITY COLUMN-->
                        <p-column headerStyleClass="grid-column-width-XL center">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Activity"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                                <div class="data-stack label-width-50">
                                    <ul>
                                        <li>
                                            <p class="value-tertiary">Added</p>
                                        </li>
                                        <li>
                                            <p class="value-tertiary">{{record.createdDateTime | momentDate:'M/D/YYYY' | async}}</p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p class="value-tertiary">First Used</p>
                                        </li>
                                        <li>
                                            <p class="value-tertiary">N/A</p>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>

                        <!--START & END DATES COLUMN-->
                        <p-column headerStyleClass="grid-column-width-L center">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Start & End"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <div class="data-stack label-width-35">
                                    <ul>
                                        <li>
                                            <p class="value-tertiary">Start</p>
                                        </li>
                                        <li>
                                            <p class="value-tertiary" cubTooltip="{{record.startDateTime | momentDate:'M/D/YYYY' | async}}"></p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p class="value-tertiary">End</p>
                                        </li>
                                        <li>
                                            <p class="value-tertiary" cubTooltip="{{record.endDateTime | momentDate:'M/D/YYYY' | async}}"></p>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </p-column>

                        <!--EXPIRATION DATE COLUMN-->
                        <p-column headerStyleClass="grid-column-width-L center">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Expiration Date"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-tertiary" cubTooltip="{{record.expirationDateTime | momentDate:'M/D/YYYY' | async}}"></p>
                            </ng-template>
                        </p-column>

                        <p-column headerStyleClass="grid-column-width-M">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Status"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.activeStatus}}"></p>
                                <p *ngIf="!record.isActive" class="value-tertiary" cubTooltip="{{record.deactivatedReason}}"></p>
                            </ng-template>
                        </p-column>

                        <!--DURATION COLUMN-->
                        <p-column headerStyleClass="grid-column-width-M center">
                            <ng-template pTemplate="header">
                                <p cubTooltip="Duration"></p>
                            </ng-template>
                            <ng-template let-record="rowData" pTemplate="body">
                                <p class="value-secondary" cubTooltip="{{record.remainingDuration}} {{record.durationType}}"></p>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </li>
        </ul>
    </div>
</div>
<cub_ta_statushistory *ngIf="showStatusHistory"
                            subsystemId="{{subsystemId}}"
                            transitAccountId="{{transitAccountId}}"
                            (closeClicked)="hideStatusHistory()">
</cub_ta_statushistory>
<cub_ta_token_statushistory *ngIf="showTokenStatusHistory"
                      subsystemId="{{subsystemId}}"
                      tokenId="{{tokenId}}"
                      (closeClicked)="hideTokenStatusHistory()">
</cub_ta_token_statushistory>
<cub-subsystem-acct-tkn-block-unblock *ngIf="showConfirmBlockTerminatePage"
                                      subsystemId="{{subsystemId}}"
                                      subsystemAccount="{{transitAccountId}}"
                                      customerId="{{customerId}}"
                                      tokenId="{{tokenId}}"
                                      [block]="block"
                                      [terminate]="terminate"
                                      (onClose)="onModalClose($event)">
</cub-subsystem-acct-tkn-block-unblock>