﻿<ul [attr.class]="control.formFieldClass">
    <li [attr.class]="control.fieldWidthClass">
        <div class="form-field-toggle">
            <ul>
                <li *ngIf="control.option1!=null" [attr.class]="control.option1.fieldWidthClass">
                    <input type="radio"
                           (change)="dropdownChange($event.target.value)"
                           [attr.id]="control.option1.id"
                           [attr.name]="control.id"
                           [attr.value]="control.option1.value"
                           [attr.disabled]="control.isDisabled ? '' : null">
                    <label [attr.for]="control.option1.id">{{control.option1.name}}</label>
                </li>
                <li *ngIf="control.option2!=null" [attr.class]="control.option2.fieldWidthClass">
                    <input type="radio"
                           (change)="dropdownChange($event.target.value)"
                           [attr.id]="control.option2.id"
                           [attr.name]="control.id"
                           [attr.value]="control.option2.value"
                           [attr.disabled]="control.isDisabled ? '' : null">
                    <label [attr.for]="control.option2.id">{{control.option2.name}}</label>
                </li>
                <li *ngIf="control.additionalOptions && control.additionalOptions.length > 0" [attr.class]="control.dropdownFieldWidthClass">
                    <div class="form-field-drop-down-toggle">
                        <select (change)="dropdownChange($event.target.value)"
                                [attr.id]="control.selectId"
                                [attr.disabled]="control.isDisabled ? '' : null">
                            <option *ngFor="let option of control.additionalOptions"
                                    [attr.disabled]="option.isDisabled ? '' : null"
                                    [attr.value]="option.value"
                                    [attr.selected]="option.value == 0 ? '' : null">
                                {{option.name}}
                            </option>
                        </select>
                        <div>
                            <span class="icon-drop-down-arrow">
                                <svg viewBox="0 0 16 11">
                                    <polyline points="2,2 8,8 14,2"></polyline>
                                </svg>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>