﻿<div class="hybrid">
    <!-- NOTE: Class "session-in-web-resource" is used when the session UI is used in a standalone web resource. -->
    <div class="session"
         [class.session-in-web-resource]="isStandalone"
         [class.session-master-search]="!isStandalone">
        <!-- NOTE: These <input> checkboxes trigger the hiding/showing of the corresponding tiles in the session bar when "View All" / "Close" is clicked. Only applies to the IVR History, Messages, and Alerts. -->
        <input type="checkbox"
               id="ivr-history"
               class="session-tiles-toggle"
               [(ngModel)]="ivrHistoryShowAll" />
        <input type="checkbox"
               id="messages"
               class="session-tiles-toggle"
               [(ngModel)]="messagesShowAll" />
        <input type="checkbox"
               id="alerts"
               class="session-tiles-toggle"
               [(ngModel)]="alertsShowAll" />

        <ul class="session-groups">
            <!--SESSION INFORMATION-->
            <!-- CLASSES: Use class "session-active" on <li> if session is active. Use class "session-inactive" if there is no active session. -->
            <li class="session-information"
                [class.session-active]="isActive"
                [class.session-inactive]="!isActive">
                <div class="session-group-header">
                    <p>Session Information</p>
                </div>
                <ul class="session-tiles">
                    <li>
                        <div>
                            <ng-container *ngIf="isActive; else isInactive">
                                <!--<p class="small">-->
                                    <!-- NOTE: The ID# length is currently 10 characters. If this changes, styling should be adjusted to account for more/less tile width. -->
                                <!--<span class="session-id">-->
                                    <div class="dotted-link-container">
                                        <button type="button" class="dotted-link" (click)="showSessionDetailsClicked(session?.sessionId)">
                                            <div class="tooltip-left tooltip-width-M">
                                                <p class="small">ID# {{session?.sessionNumber}}</p>
                                                <span>Click to view Session Details</span>
                                            </div>
                                        </button>
                                        <span></span> <!-- Blank span necessary for right-side spacing -->
                                    </div>
                                    <span class="session-date">{{session?.startDateTime | momentDate | async}}</span>
                               <!-- </span>-->
                                <!--/p>-->
                                <div class="buttons">
                                    <button type="button"
                                            class="button-secondary"
                                            (click)="endSession()">
                                        <p>End</p>
                                    </button>
                                    <!-- NOTE: Transferring the session with this <button> will allow the user to select a different user to pass along the active session. As of 11/16/2017, this functionality has not been defined, and there is no corresponding UI to display upon click of this button. -->
                                    <button type="button"
                                            class="button-secondary"
                                            (click)="unimplemented($event)">
                                        <p>Transfer</p>
                                    </button>
                                </div>
                            </ng-container>
                            <ng-template #isInactive>
                                <p class="small">No active session</p>
                                <div class="buttons">
                                    <button type="button"
                                            class="button-secondary"
                                            (click)="startSession()">
                                        <p>Start Session</p>
                                    </button>
                                </div>
                            </ng-template>
                        </div>
                    </li>
                </ul>
            </li>

            <!--CUSTOMER-->
            <!-- CLASSES: Use class "different-contact" on the <li> if the person the CSR is currently interacting with is NOT the primary contact/customer on the account. If the CSR is interacting with the primary contact, do not use this class. -->
            <li *ngIf="session?.isRegistered || session?.subsystemAccountReference"
                class="customer"
                [class.different-contact]="session?.isRegistered && !session?.isPrimaryContact">
                <div class="session-group-header">
                    <p>Customer</p>
                </div>
                <ul class="session-tiles">
                    <li *ngIf="!session?.isRegistered">
                        <!-- NOTE: This <a> links to the create new customer page. -->
                        <a href="javascript:void(0)" (click)="registerClicked()">
                            <p>Unregistered</p>
                            <p class="link">Register</p>
                        </a>
                    </li>
                    <li *ngIf="session?.isRegistered">
                        <!-- NOTE: This <a> links to the customer record. -->
                        <a href="javascript:void(0)" (click)="customerClicked()">
                            <!-- CLASSES: Use class "verified" on the <div> if the contact is verified. Use class "unverified" if the contact is not verified. -->
                            <div *ngIf="session?.isPrimaryContact"
                                 class="verification-status"
                                 [class.verified]="session?.isVerified"
                                 [class.unverified]="!session?.isVerified">
                                <span>
                                    <div class="icon-verified">
                                        <svg viewBox="0 0 14 12">
                                            <polyline points="2.75,5.75 5.5,8.5 11.25,2.75" />
                                        </svg>
                                    </div>
                                    <div class="icon-unverified">
                                        <svg viewBox="0 0 12 12">
                                            <line x1="2.75" y1="9.25" x2="9.25" y2="2.75" />
                                            <line x1="9.25" y1="9.25" x2="2.75" y2="2.75" />
                                        </svg>
                                    </div>
                                </span>
                                <p>{{session?.isVerified ? 'Verified' : 'Unverified'}}</p>
                            </div>
                            <p class="large">{{session?.customerFirstName}}</p>
                            <p class="small">{{session?.customerLastName}}</p>
                        </a>
                    </li>
                    <li *ngIf="isActive && (session?.isPrimaryContact || !session?.isRegistered)">
                        <div>
                            <p class="small">Call From</p>
                            <p class="nowrap">312-555-1234</p>
                        </div>
                    </li>
                    <li *ngIf="session?.isRegistered && !session?.isPrimaryContact">
                        <!-- NOTE: This <a> links to the contact record. -->
                        <a href="javascript:void(0)" (click)="contactClicked()">
                            <!-- CLASSES: Use class "verified" on the <div> if the contact is verified. Use class "unverified" if the contact is not verified. -->
                            <div class="verification-status"
                                 [class.verified]="session?.isVerified"
                                 [class.unverified]="!session?.isVerified">
                                <span>
                                    <div class="icon-verified">
                                        <svg viewBox="0 0 14 12">
                                            <polyline points="2.75,5.75 5.5,8.5 11.25,2.75" />
                                        </svg>
                                    </div>
                                    <div class="icon-unverified">
                                        <svg viewBox="0 0 12 12">
                                            <line x1="2.75" y1="9.25" x2="9.25" y2="2.75" />
                                            <line x1="9.25" y1="9.25" x2="2.75" y2="2.75" />
                                        </svg>
                                    </div>
                                </span>
                                <p>{{session?.isVerified ? 'Verified' : 'Unverified'}}</p>
                            </div>
                            <ul class="label-values">
                                <li *ngIf="isActive">
                                    <div>
                                        <p class="small">Call From</p>
                                    </div>
                                    <div>
                                        <p>312-555-1234</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p class="small">Contact</p>
                                    </div>
                                    <div>
                                        <p>{{session?.contactFirstName}} {{session?.contactLastName}}</p>
                                    </div>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>

            <!--LINKED ACCOUNTS-->
            <li class="linked-accounts" *ngIf="session?.isRegistered && oneAccountData?.linkedAccounts?.length">
                <div class="session-group-header">
                    <p>{{oneAccountData.linkedAccounts.length}} Linked Account{{oneAccountData.linkedAccounts.length > 1 ? 's' : ''}}</p>
                    <!-- NOTE: This <a> links to the customer record where Subsystem Accounts / Tokens allows the user to view all. -->
                    <a href="javascript:void(0)"
                       *ngIf="oneAccountData.linkedAccounts.length > 1"
                       (click)="customerClicked()">View All</a>
                </div>
                <ul class="session-tiles session-tiles-even">
                    <li *ngFor="let account of oneAccountData.linkedAccounts">
                        <!-- NOTE: This <a> links to the corresponding Subsystem Account with the token and corresponding passes displayed (ideally). -->
                        <a href="javascript:void(0)" (click)="subsystemAccountClicked(account.subsystemInfo.subsystem, account.subsystemAccountReference)">
                            <p>{{account.nickname || account.displayToken?.subsystemTokenTypeDescription + ' ' + (account.displayToken | travelTokenId)}}</p>
                            <p class="small">{{account.subsystemInfo?.subsystem}} &ndash; {{account.subsystemAccountReference}}</p>
                            <p class="small">Last activity {{account.displayToken?.lastUseDTM | momentDate:'MM/DD/YYYY' | async}}</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!--UNREGISTERED ACCOCUNT-->
            <li class="linked-accounts" *ngIf="!session?.isRegistered && !!subsystemData?.displayToken">
                <div class="session-group-header">
                    <p>Subsystem Account</p>
                </div>
                <ul class="session-tiles session-tiles-even">
                    <li>
                        <!-- NOTE: This <a> links to the corresponding Subsystem Account with the token and corresponding passes displayed (ideally). -->
                        <a href="javascript:void(0)" (click)="subsystemAccountClicked(session?.subsystem, session?.subsystemAccountReference)">
                            <p>{{subsystemData.displayToken?.subsystemTokenTypeDescription}} {{subsystemData.displayToken | travelTokenId}}</p>
                            <p class="small">{{session?.subsystem}} &ndash; {{session?.subsystemAccountReference}}</p>
                            <p class="small">Last activity {{subsystemData.displayToken?.tokenLastUsageDetails?.transactionDateTime | momentDate:'MM/DD/YYYY' | async}}</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!--IVR-->
            <!-- CLASSES: Depending on the number of IVR options selected, use one of the following classes on the <li>:
                • "tiles-1" = 0 or 1 option selected.
                • "tiles-2" = 2 options selected.
                • "tiles-3" = 3 options selected.
                • "tiles-4-plus" = 4 or more options selected.
            -->
            <li class="ivr-history tiles-4-plus" *ngIf="false">
                <div class="session-group-header">
                    <p>IVR History</p>
                    <!-- NOTE: Change "View All" text to "Close" when corresponding <input> checkbox is checked. -->
                    <label for="ivr-history">{{ivrHistoryShowAll ? 'Close' : 'View All'}}</label>
                </div>
                <ul class="session-tiles session-tiles-even session-tiles-fixed">
                    <li>
                        <div>
                            <p class="small">1<sup>st</sup> Selection</p>
                            <p>This is the first option selected by the caller.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="small">2<sup>nd</sup> Selection</p>
                            <p>This is the second option selected by the caller.</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p class="small">3<sup>rd</sup> Selection</p>
                            <p>Third option selected.</p>
                        </div>
                    </li>
                    <li>
                        <!-- NOTE: By default, only the last selection tile displays. The other tiles are revealed when the user clicks the corresponding "View All" link. -->
                        <div>
                            <!-- NOTE: If this is the ONLY selection the user made, or if the user selected no options, change "Last Selection" text to "Option Selected". -->
                            <p class="small">Last Selection</p>
                            <!-- NOTE: If the user did not select any options, use the text "None" in the <p>. -->
                            <p>This is the most recent option that was selected by the caller.</p>
                        </div>
                    </li>
                </ul>
            </li>

            <!--MESSAGES-->
            <!-- CLASSES: Depending on the number of messages, use one of the following classes on the <li>:
                • "tiles-1" = 0 or 1 option selected.
                • "tiles-2" = 2 options selected.
                • "tiles-3" = 3 options selected.
                • "tiles-4-plus" = 4 or more options selected.
            -->
            <li class="messages tiles-4-plus" *ngIf="false">
                <div class="session-group-header">
                    <p>5 Messages</p>
                    <!-- NOTE: Change "View All" text to "Close" when corresponding <input> checkbox is checked. -->
                    <label for="messages">{{messagesShowAll ? 'Close' : 'View All'}}</label>
                </div>
                <ul class="session-tiles session-tiles-even session-tiles-fixed">
                    <li>
                        <!-- NOTE: This <a> links to the corresponding activity record. -->
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/17/2017</p>
                            <p>This is a shorter message.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/17/2017</p>
                            <p>This is a longer message that wraps to the next line and eventually disappears from view because it's ridiculously long.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">9/7/2017</p>
                            <p>This is a message. Read it or else. Or else what? Exactly.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">9/1/2017</p>
                            <p>Short message here.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">8/30/2017</p>
                            <p>This is the message. It goes here. I love it because I can read it.</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!--ALERTS-->
            <!-- CLASSES: Depending on the number of alerts, use one of the following classes on the <li>:
                • "tiles-1" = 0 or 1 option selected.
                • "tiles-2" = 2 options selected.
                • "tiles-3" = 3 options selected.
                • "tiles-4-plus" = 4 or more options selected.
            -->
            <li class="alerts tiles-4-plus" *ngIf="false">
                <div class="session-group-header">
                    <p>4 Alerts</p>
                    <!-- NOTE: Change "View All" text to "Close" when corresponding <input> checkbox is checked. -->
                    <label for="alerts">{{alertsShowAll ? 'Close' : 'View All'}}</label>
                </div>
                <ul class="session-tiles session-tiles-even session-tiles-fixed">
                    <li>
                        <!-- NOTE: This <a> links to the corresponding activity record. -->
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/27/2017</p>
                            <p>Funding source Visa xxxx-3210 has expired.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/24/2017</p>
                            <p>This is the title of another alert.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/10/2017</p>
                            <p>This is an alert. Read it or else. Or else what? Exactly.</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="unimplemented($event)">
                            <p class="small">10/9/2017</p>
                            <p>Short alert here.</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>