﻿<input type="radio" id="{{control.id}}" name="{{group}}"
       [checked]="control.id === checkedValue"
       (change)="inputChange($event)" />
<label for="{{control.id}}">
    <p>{{control.label}}</p>
    <span></span>
</label>