<body class="white-background hybrid">
    <div>
        <ul class="form-fields-horizontal">
            <li class="form-field-width-XL">
                <cub-date-range [offset]="dateOffset"
                                [requireBoth]="true"
                                (startChange)="onStartDateChanged($event)"
                                (endChange)="onEndDateChanged($event)"
                                (onEnterKey)="onEnterKey()"></cub-date-range>
            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="Journal Entry Type"
                controlId="entryTypeControl"
                [options]="entryTypeControl.options"
                (onChange)="onMultiDropdownChanged($event, 'entryTypeControl')">
            </li>
            <li cub-dropdown
                [control]="entrySubTypeControl"
                (onChange)="onEntrySubTypeChanged($event)"
                class="form-field-width-L">

            </li>
            <li cub-multi-dropdown
                class="form-field-width-L"
                label="Purse Type"
                controlId="purseTypeControl"
                [options]="purseTypeControl.options"
                (onChange)="onMultiDropdownChanged($event, 'purseTypeControl')">
            </li>
            <li>
                <label for="showReversedControl">Show<br/>Reversed</label>
            </li>
            <li>
                <input type="checkbox"
                       id="showReversedControl"
                       (change)="onReversedChange()"
                       [(ngModel)]="reversedShow" />
            </li>
            <li class="form-field-width-S">
                <button type="button"
                        class="button-primary"
                        id="search-button"
                        [attr.disabled]="disableSearch ? '' : null"
                        (click)="onSearchClicked()">
                    <p>Search</p>
                </button>
            </li>
            <li class="form-field-width-XS">
                <button type="button"
                        class="button-primary"
                        id="reset-button"
                        (click)="onResetClicked()">
                    <p>Reset</p>
                </button>
            </li>
            <li class="form-field-width-XS">
                <button type="button"
                        class="button-primary"
                        id="refresh-button"
                        (click)="onRefreshClicked()">
                    <p>Refresh</p>
                </button>
            </li>
        </ul>
        <cub-customizablegrid [data]="sortedBalanceHistory"
                              gridName="TA.BalanceHistory"
                              [totalCount]="totalRecordCount"
                              [lazy]="true"
                              [scope]="this"
                              (onLazyLoad)="onLazyLoad($event)">
        </cub-customizablegrid>
    </div>
    <cub-ta-bankcard-charge-aggregation *ngIf="showDetail"
                                subsystemId="{{subsystemId}}"
                                transitAccountId="{{transitAccountId}}"
                                [paymentId]="selectedPaymentId"
                                (closeClicked)="hideDetail()">
    </cub-ta-bankcard-charge-aggregation>
</body>