﻿<router-outlet name="session"></router-outlet>
<div class="content">
    <div [class.header]="!displayAsLinkPage">
        <div cub-flydown
             *ngIf="!displayAsLinkPage"
             [control]="masterSearchFlydown"
             (onChange)="onMasterSearchSelectDropdownChanged($event)">
        </div>
        <div *ngIf="displayAsLinkPage">
            <ul class="form-fields-horizontal">
                <li class="header">
                    <h1>Link {{subsystemAccountNickname || subsystemId + ' ' + subsystemAccountReference}} to Customer</h1>
                </li>
                <li>
                    <button type="button"
                            class="button-secondary-text"
                            (click)="cancelLinkButtonClicked($event)">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <ul class="form-fields-horizontal">
        <li cub-dropdown
            [control]="customerTypeDropdown"
            (onChange)="onCustomerTypeDropdownChanged($event)"
            class="form-field-width-M"></li>
        <li cub-textbox
            [control]="firstName"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchButtonClicked()"
            class="form-field-width-M"></li>
        <li cub-textbox
            [control]="lastName"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchButtonClicked()"
            class="form-field-width-M"></li>
        <li cub-textbox
            [control]="phone"
            [mask]="phoneMask"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchButtonClicked()"
            class="form-field-width-L"></li>
        <li cub-textbox
            [control]="email"
            (onChange)="textChanged($event)"
            (onEnterPress)="searchButtonClicked()"
            class="form-field-width-XL"></li>
        <li>
            <div class="form-field-button"
                 cub-button
                 [control]="searchButton"
                 (onClick)="searchButtonClicked()">
            </div>
        </li>
        <li>
            <div class="form-field-button">
                <button type="button" class="button-primary-text" (click)="clearButtonClicked($event)">
                    <p>Clear</p>
                </button>
            </div>
        </li>
    </ul>
    <div *ngIf="_cub_dataService.masterSearchContactResults?.length > 0 && displaySearchResults"
         class="section">
        <ul class="grid-header">
            <li>
                <p><strong>{{_cub_dataService.sortedMasterSearchContactResults.length}}</strong> Result{{_cub_dataService.sortedMasterSearchContactResults.length !== 1 ? 's' : ''}}</p>
            </li>
            <li class="min-width-M">
                <ul class="form-fields-vertical">
                    <li cub-controllabel
                        [id]="sortOrderControl.id"
                        [label]="sortOrderControl.label"
                        class="form-field-width-M">
                    </li>
                    <li cub-dropdown
                        [control]="sortOrderControl"
                        (onChange)="onSortDropdownChanged($event)"
                        class="sortControl form-field-width-XL">
                    </li>
                </ul>
            </li>
        </ul>

        <!-- CONTACT RESULTS GRID -->
        <div class="grid-large">
            <p-dataTable [value]="_cub_dataService.sortedMasterSearchContactResults"
                         [rows]="rowsOnPage"
                         [paginator]="true"
                         selectionMode="single"
                         [(selection)]="selectedContact"
                         dataKey="ContactId"
                         (onRowDblclick)="verifyContactClicked()">

                <!-- CUSTOMER NAME COLUMN -->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Customer"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary">
                            <a href="javascript:void(0)"
                               (click)="customerClicked(record)"
                               cubTooltip="{{record.AccountName}}"
                               innerHTML="{{record.AccountName?.split(' ')[0] | highlight:firstName.value}} {{record.AccountName?.split(' ')[1] | highlight:lastName.value}}">
                            </a>
                        </p>
                        <p class="value-tertiary" cubTooltip="{{record.AccountType?.Name}}"></p>
                    </ng-template>
                </p-column>

                <!-- CONTACT NAME COLUMN-->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Contact"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-primary">
                            <a href="javascript:void(0)"
                               (click)="contactClicked(record)"
                               cubTooltip="{{record['FirstName'] + ' ' + record['LastName']}}"
                               innerHTML="{{record['FirstName'] | highlight:firstName.value}} {{record['LastName'] | highlight:lastName.value}}">
                            </a>
                        </p>
                        <p class="value-tertiary" cubTooltip="{{record['ContactTypeID']?.Name}}"></p>
                    </ng-template>
                </p-column>

                <!-- EMAIL ADDRESS COLUMN -->
                <p-column headerStyleClass="grid-column-width-XL left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Email"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary"
                           cubTooltip="{{record['Email']}}"
                           innerHTML="{{record['Email'] | highlight:email.value}}">
                        </p>
                    </ng-template>
                </p-column>

                <!-- PHONE NUMBERS COLUMN -->
                <p-column headerStyleClass="grid-column-width-S left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Phone"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary"
                           cubTooltip="{{record['Phone1'] | phone}}"
                           innerHTML="{{record['Phone1'] | phone | highlight:phone.value:phone.placeholderChar}}">
                        </p>
                        <p class="value-secondary"
                           cubTooltip="{{record['Phone2'] | phone}}"
                           innerHTML="{{record['Phone2'] | phone | highlight:phone.value:phone.placeholderChar}}">
                        </p>
                        <p class="value-secondary"
                           cubTooltip="{{record['Phone3'] | phone}}"
                           innerHTML="{{record['Phone3'] | phone | highlight:phone.value:phone.placeholderChar}}">
                        </p>
                    </ng-template>
                </p-column>

                <!-- CITY COLUMN -->
                <p-column headerStyleClass="grid-column-width-M left">
                    <ng-template pTemplate="header">
                        <p cubTooltip="City"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <p class="value-secondary" cubTooltip='{{record["City"]}}'></p>
                    </ng-template>
                </p-column>

                <!-- ACTIONS MENU COLUMN -->
                <p-column headerStyleClass="actions center actions-column-width-L"
                          bodyStyleClass="actions center actions-multiple">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Actions"></p>
                    </ng-template>
                    <ng-template let-record="rowData" pTemplate="body">
                        <cub-menu-toggle inputId="action-{{record.ContactId}}">
                            <input type="checkbox" id="action-{{record.ContactId}}">
                            <label for="action-{{record.ContactId}}" class="actions-dots">
                                <span></span>
                            </label>
                            <ul class="actions-menu actions-menu-align-center actions-menu-width-L">
                                <li>
                                    <button type="button" (click)="promptVerification()">
                                        <p>{{ !displayAsLinkPage ? 'Verify Contact' : 'Link ' + (subsystemAccountNickname || subsystemId + ' ' + subsystemAccountReference)}}</p>
                                    </button>
                                </li>
                                <li *ngIf="!displayAsLinkPage">
                                    <button type="button" (click)="linkToContactClicked()">
                                        <p>Link Token</p>
                                    </button>
                                </li>
                            </ul>
                        </cub-menu-toggle>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

    <ul class="action-message" *ngIf="displaySearchResults">
        <li>
            <p *ngIf="_cub_dataService.masterSearchContactResults && _cub_dataService.masterSearchContactResults.length > 0">Not the right customer?</p>
            <p *ngIf="!_cub_dataService.masterSearchContactResults || _cub_dataService.masterSearchContactResults.length <= 0">No results found</p>
        </li>
        <li>
            <button type="button"
                    class="button-primary"
                    (click)="createNewCustomerButtonClicked()">
                <p>Create New Customer</p>
            </button>
        </li>
    </ul>
</div>

<!-- CUSTOMER VERIFICATION MODAL -->
<cub-customerverification *ngIf="showVerification"
                          [contact]="selectedContact"
                          (onResolve)="resolveVerification($event)">
</cub-customerverification>

<div *ngIf="showLinkDialog" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="icon">
            <div class="icon-warning-hybrid">
                <svg viewBox="0 0 45 42">
                    <path d="M22.5,2.009c-1.467,0-2.891,1.102-4.011,3.102 L3.006,32.766c-1.123,2.006-1.313,3.842-0.534,5.17C3.252,39.267,4.952,40,7.258,40h30.485c2.306,0,4.005-0.733,4.785-2.064 c0.779-1.329,0.59-3.165-0.533-5.17L26.511,5.111C25.391,3.11,23.967,2.009,22.5,2.009z" />
                    <line x1="22.5" y1="12.5" x2="22.5" y2="24.5" />
                    <circle cx="22.5" cy="31.5" r="2.5" />
                </svg>
            </div>
        </li>
        <li class="body center">
            <div>
                <p>Are you sure you want to link Transit Account {{subsystemAccountReference}} to {{selectedContact.AccountName}}?</p>
                <ul class="form-fields-horizontal full-width">
                    <!-- NOTE: Added new "form-field-width-FULL" class for a text field to expand to the full width of its parent. -->
                    <li class="form-field-width-FULL">
                        <label for="subsystem-account-nickname">Nickname:</label>
                        <div class="form-field-text">
                            <input type="text"
                                   id="subsystem-account-nickname"
                                   required
                                   autofocus
                                   [(ngModel)]="subsystemAccountNickname"
                                   #nicknameInput="ngModel" 
                                   (keyup.enter)="linkButton.click()"/>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            (click)="completeLinkProcess()"
                            [disabled]="nicknameInput.invalid"
                            #linkButton>
                        <p>OK</p>
                    </button>
                </li>
                <li>
                    <button type="button"
                            class="button-cancel"
                            (click)="showLinkDialog = false">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div> 