﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        function SendMessage() {
            var message = $('#message').val();
            PostMessage('send_message', message);
        }

        function SendFistName() {
            var firstName = $('#first_name').val();
            PostMessage('send_first_name', firstName);
        }

        function SendSaveForm() {
            PostMessage('send_save_form', null);
        }

        function PostMessage(type, data) {
            window.parent.postMessage(type + "___" + data, "*");
        }
    </script>
</head>
<body>
    <div>
        <label>I am an iFrame</label>
        <hr />
        <a href="http://usdced-msdyn08:5555/NextContact-DEV8/main.aspx?etc=2&id=@Request.QueryString["id"]&newWindow=true&pagetype=entityrecord" target="_blank">Open in CRM</a>
        <br />
        <input id="message" type="text" value="" />
        <button id="SendMessageButton" onclick="return SendMessage();">Send Message</button>
        <br />
        <input id="first_name" type="text" value="" />
        <button id="SendFirstNameButton" onclick="return SendFistName();">Send First Name</button>
        <button id="SendSaveFormButton" onclick="return SendSaveForm();">Save CRM Form</button>
    </div>
</body>
</html>
