﻿<div class="hybrid">

    <!-- Remove class "visible" from modal to hide modal window. -->
    <!-- Add class "modal-under" when the modal window appears BEHIND another modal window. -->
    <div class="modal-small visible">
        <!-- NOTE: Use the optional "modal-max-height" classes to control the maximum height of the body content of the modal window. This is an OPTIONAL class, do not use if not needed. Classes are in increments of 50 pixels:
                    • modal-max-height-50  = Maximum height is 50px
                    • modal-max-height-100 = Maximum height is 100px
                    • modal-max-height-150 = Maximum height is 150px
                    • modal-max-height-200 = Maximum height is 200px
                    • modal-max-height-250 = Maximum height is 250px
                    • modal-max-height-300 = Maximum height is 300px
                    • modal-max-height-350 = Maximum height is 350px
                    • modal-max-height-400 = Maximum height is 400px
                    • modal-max-height-450 = Maximum height is 450px
                    • modal-max-height-500 = Maximum height is 500px
        -->
        <ul class="window modal-width-XXXXL">
            <li class="header center">
                <h1>Session Details</h1>
            </li>
            <li class="body padding-bottom-30">
                <div>
                    <!-- NOTE: Class "column-2-width-*" sets the % width of the middle column and can be set in increments of 5. -->
                    <ul class="columns-3-uneven column-2-width-50">
                        <li>
                            <div class="information-box">
                                <h3>Customer Information</h3>
                                <!-- NOTE: Class "label-width-*" sets the % width of the first column (in this case, the field label), and can be set in increments of 5. -->
                                <div class="information label-width-45">
                                    <ul>
                                        <li>
                                            <p>Customer</p>
                                        </li>
                                        <li>
                                            <p>
                                                <a *ngIf="session?.customerId; else noCustomer"
                                                   href="javascript:void(0)"
                                                   (click)="customerClicked(session?.customerId)">{{session?.customerFirstName}}{{session?.customerLastName}}</a>
                                                <ng-template #noCustomer>Unregistered</ng-template>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Contact</p>
                                        </li>
                                        <li>
                                            <p>
                                                <a *ngIf="session?.contactId; else noContact"
                                                   href="javascript:void(0)"
                                                   (click)="contactClicked(session?.contactId)">{{session?.contactFirstName}}{{session?.contactLastName}}</a>
                                                <ng-template #noContact>Unregistered</ng-template>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Subsystem ID</p>
                                        </li>
                                        <li>
                                            <p>
                                                <a *ngIf="session?.subsystem; else noSubSystem"
                                                   href="javascript:void(0)"
                                                   (click)="subsystemClicked()">{{session?.subsystemAccountReference}}</a>
                                                <ng-template #noSubSystem>Unregistered</ng-template>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="information-box">
                                <h3>Session Information</h3>
                                <ul class="columns-2-even">
                                    <li>
                                        <div class="information label-width-35">
                                            <ul>
                                                <li>
                                                    <p>Status</p>
                                                </li>
                                                <li>
                                                    <p>{{session?.status}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Channel</p>
                                                </li>
                                                <li>
                                                    <p>{{session?.channelName}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Session ID</p>
                                                </li>
                                                <li>
                                                    <p>{{session?.sessionNumber}}</p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Transcript</p>
                                                </li>
                                                <li>
                                                    <!-- NOTE: The value for the Transcript field varies depending on the existence and type of Transcript:
                                                        • "&mdash;" - If no Transcript exists. Be sure to add class "null" to the <p> tag.
                                                        • <a href="#">View</a> - If Transcript type of "text" or "link" exists.
                                                            - If "text" - <a> triggers the "Edit Transcript" modal window.
                                                            - If "link" - <a> links to the URL in a new window.
                                                        • <a href="#">Download</a> - If Transcript type of "attachment" exists.
                                                            - <a> links to the actual attachment file to begin downloading.
                                                    -->
                                                    <p>
                                                        <a  *ngIf="session?.transcriptUrl" href="#">Download</a>
                                                        <!-- NOTE: If no Transcript exists, change <button> class to "button-add" instead of "button-edit". -->
                                                        <button type="button" class="button-edit" (click)="onEdiTranscriptClicked()">
                                                            <div class="icon-edit">
                                                                <svg viewBox="0 0 17 17">
                                                                    <polygon points="4.983,14.155 1.811,15.207 2.872,12.025" />
                                                                    <path d="M14.185,6.368L10.65,2.833l-7.438,7.438c0,0,1.355,0.294,2.298,1.237s1.237,2.298,1.237,2.298L14.185,6.368 z" />
                                                                    <path d="M6.938,13.616l-5.126,1.591l1.591-5.126l8.485-8.485 c0,0,1.355,0.294,2.298,1.237c0.943,0.942,1.237,2.298,1.237,2.298L6.938,13.616z" />
                                                                </svg>
                                                            </div>
                                                            <!-- NOTE: If no Transcript exists, change <span> text to "Add". -->
                                                            <span>{{session?.transcriptUrl ? 'Edit' : 'Add'}}</span>
                                                        </button>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="editTranscript" class="hybrid">
                                            <div class="modal-small visible">
                                                <ul class="window modal-width-M">
                                                    <li class="header center">
                                                        <!-- NOTE: <h1> text will read "Edit Transcript" if modal is launched from the "Edit" button as opposed to "Add". -->
                                                        <h1>Add Transcript</h1>
                                                        <h1><strong>NOT IMPLEMENTED</strong></h1>
                                                    </li> <!-- .header -->
                                                    <li class="body">
                                                        <div>
                                                            <div class="form-fields-vertical label-width-20">
                                                                <ul>
                                                                    <li>
                                                                        <label>Type</label>
                                                                    </li>
                                                                    <li>
                                                                        <ul class="form-fields-siblings">
                                                                            <li class="form-field-width-60">
                                                                                <div class="form-field-toggle">
                                                                                    <ul>
                                                                                        <li class="form-field-width-25">
                                                                                            <input type="radio" id="type-text" name="transcript-type">
                                                                                            <label for="type-text">Text</label>
                                                                                        </li>
                                                                                        <li class="form-field-width-25">
                                                                                            <input type="radio" id="type-link" name="transcript-type">
                                                                                            <label for="type-link">Link</label>
                                                                                        </li>
                                                                                        <li class="form-field-width-50">
                                                                                            <input type="radio" id="type-attachment" name="transcript-type" checked>
                                                                                            <label for="type-attachment">Attachment</label>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </li>
                                                                            <li class="form-field-width-40"></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul>
                                                                    <li>
                                                                        <label for="transcript-attachment">Transcript</label>
                                                                    </li>
                                                                    <li>
                                                                        <ul class="form-fields-siblings">
                                                                            <li class="form-field-width-100">
                                                                                <div class="form-field-link form-field-link-inline">
                                                                                    <!-- NOTE: On click of the <a>, the <input type="file" id="transcript-file"> should be triggered. After file is selected, us the UI from Session-Details-Edit-Transcript.html. Vice-versa for removing the attachment. -->
                                                                                    <a href="#">Add Attachment</a>
                                                                                    <input type="file" id="transcript-file">
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li> <!-- .body -->
                                                    <li class="footer">
                                                        <ul class="buttons">
                                                            <li>
                                                                <button type="button" class="button-primary">
                                                                    <p>Save</p>
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="button-cancel" (click)="onTranscriptCancelClicked()">
                                                                    <p>Cancel</p>
                                                                </button>
                                                            </li>
                                                        </ul> <!-- .buttons -->
                                                    </li> <!-- .footer -->
                                                </ul> <!-- .window -->
                                            </div>
                                       </div>
</li>                                    
                                    <li>
                                        <div class="information label-width-35">
                                            <ul>
                                                <li>
                                                    <p>Created Date</p>
                                                </li>
                                                <li>
                                                    <!-- NOTE: Use non-breaking space (&nbsp;) to create additional spacing between date and time. -->
                                                    <p><span class="session-date">{{session?.modifiedOnDateTime | momentDate | async}}</span></p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Created By</p>
                                                </li>
                                                <li>
                                                    <p><span>{{session?.createdByUserFullName}}</span></p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Last Updated</p>
                                                </li>
                                                <li>
                                                    <p><span class="session-date">{{session?.modifiedOnDateTime | momentDate | async}}</span></p>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <p>Last Updated By</p>
                                                </li>
                                                <li>
                                                    <p><span>{{session?.modifiedByUserFullName}}</span></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul> <!-- .columns-2-even -->
                                <div *ngIf="!editNotes" class="information-textbox">
                                    <p class="title">
                                        Notes
                                        <button type="button" class="button-edit" (click)="onEditNotesClicked()">
                                            <div class="icon-edit">
                                                <svg viewBox="0 0 17 17">
                                                    <polygon points="4.983,14.155 1.811,15.207 2.872,12.025" />
                                                    <path d="M14.185,6.368L10.65,2.833l-7.438,7.438c0,0,1.355,0.294,2.298,1.237s1.237,2.298,1.237,2.298L14.185,6.368 z" />
                                                    <path d="M6.938,13.616l-5.126,1.591l1.591-5.126l8.485-8.485 c0,0,1.355,0.294,2.298,1.237c0.943,0.942,1.237,2.298,1.237,2.298L6.938,13.616z" />
                                                </svg>
                                            </div>
                                            <span>Edit</span>
                                        </button>
                                    </p>
                                    <p>{{sessionNotes}}</p>
                                </div>
                                    <div *ngIf="editNotes" class="hybrid">
                                        <!-- Remove class "visible" from modal to hide modal window. -->
                                        <div class="modal-small visible">
                                            <ul class="window modal-width-XS">
                                                <li class="header center">
                                                    <h1>Edit Notes</h1>
                                                </li> <!-- .header -->
                                                <li class="body">
                                                    <div>
                                                        <div class="form-field-textarea padding-top-5">
                                                            <!-- NOTE: Use the native "rows" attribute to control the height of the <textarea> box. -->
                                                            <textarea [rows]="5" pInputTextarea [(ngModel)]="sessionNotes" ></textarea>
                                                        </div>
                                                    </div>
                                                </li> <!-- .body -->
                                                <li class="footer">
                                                    <ul class="buttons">
                                                        <li>
                                                            <button type="button" class="button-primary" (click)="onNotesSaveClicked()">
                                                                <p>Save</p>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="button-cancel" (click)="onNotesCancleClicked()">
                                                                <p>Cancel</p>
                                                            </button>
                                                        </li>
                                                    </ul> <!-- .buttons -->
                                                </li> <!-- .footer -->
                                            </ul> <!-- .window -->
                                        </div> <!-- .modal-small -->
                                    </div> <!-- .hybrid -->
                                
                            </div> <!-- .information-box -->
                        </li>
                        <li>
                            <div class="information-box">
                                <h3>Session Times</h3>
                                <div class="information label-width-35">
                                    <ul>
                                        <li>
                                            <p>Duration</p>
                                        </li>
                                        <li>
                                            <p><span *ngIf="session?.durationTime" class="session-date">{{session?.durationTime.Hours}}:{{session?.durationTime.Minutes}}:{{session?.durationTime.Seconds}}</span></p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>Start Date</p>
                                        </li>
                                        <li>
                                            <p><span *ngIf="session?.startDateTime" class="session-date">{{session?.startDateTime | momentDate | async}}</span></p>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p>End Date</p>
                                        </li>
                                        <li>
                                            <p><span *ngIf="session?.endDateTime" class="session-date">{{session?.endDateTime | momentDate | async}}</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="section">
                        <div class="grid-small">
                            <ul class="opposite-sides padding-top-10 padding-bottom-5">
                                <li>
                                    <h3>Associated Activities</h3>
                                </li>
                           </ul>
                            <p-dataTable [value]="sessionActivities"
                                         dataKey="activityId"
                                         [paginator]="true"
                                         [rows]="5">
                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Created Date"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.createdOnDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Group Id"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.groupId}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Reference Id"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.activityId}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Channel"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.channelName}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Record Subject"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.subject}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Record Type"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.activityType}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Status"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.status}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Created By"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.createdByName}}"></p>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    <div class="section">
                        <div class="grid-small">
                            <ul class="opposite-sides padding-top-10 padding-bottom-5">
                                <li>
                                    <h3>Associated Cases</h3>
                                </li>
                                <!--<li>
                                    <button type="button" class="button-plus">
                                        <p>Add Case</p>
                                    </button>
                                </li>-->
                            </ul>
                            <!--<p-datatable>-->
                            <p-dataTable [value]="sessionCases"
                                         dataKey=""
                                         [paginator]="true"
                                         [rows]="5">
                                <p-column headerStyleClass="grid-column-width-S left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Created Date"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData" >
                                        <p class="value-secondary" cubTooltip="{{record?.createdOnDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Case Number"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.caseNumber}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Title"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.title}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Priority"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.priority}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Origin"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.origin}}"></p>
                                    </ng-template>
                                </p-column>             
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Status"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.status}}"></p>
                                    </ng-template>
                                </p-column>                   
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Customer"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.customerName}}"></p>
                                    </ng-template>
                                </p-column>
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Owner"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.ownerName}}"></p>
                                    </ng-template>
                                </p-column>                               
                                <p-column headerStyleClass="grid-column-width-XS left">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Escalated"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.isEscalated ?'Yes':'No'}}"></p>
                                    </ng-template>
                                </p-column>  
                            </p-dataTable>
                            <!--</p-datatable>-->
                        </div>
                    </div>
                    <div class="section">
                        <div class="grid-small">
                            <ul class="opposite-sides padding-top-10 padding-bottom-5">
                                <li>
                                    <h3>Associated Sessions</h3>
                                </li>                                
                                <li>
                                    <button type="button" class="button-plus" (click)="this.showsearchSessionPage=true;">
                                        <p>Add Session</p>
                                    </button>
                                </li>
                            </ul>
                            <p-dataTable [value]="linkedSessions"
                                         dataKey=""
                                         [paginator]="true"
                                         [rows]="5"
                                         selectionMode="none"
                                          sortMode="single">

                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Created Date"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.startDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                    </ng-template>
                                </p-column>

                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="End Date"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.endDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                    </ng-template>
                                </p-column>

                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Session Id"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.sessionNumber}}"></p>
                                    </ng-template>
                                </p-column>

                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Channel"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.channelName}}"></p>
                                    </ng-template>
                                </p-column>

                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Status"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.status}}"></p>
                                    </ng-template>
                                </p-column>
                               
                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Last Updated By"></p>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                        <p class="value-secondary" cubTooltip="{{record?.modifiedByUserFullName}}"></p>
                                    </ng-template>
                                </p-column>

                                <p-column headerStyleClass="actions center actions-column-width-L"
                                          bodyStyleClass="actions center actions-one">
                                    <ng-template pTemplate="header">
                                        <p cubTooltip="Actions"></p>
                                    </ng-template>
                                    <ng-template let-record="rowData" let-i="rowIndex" pTemplate="body">
                                        <input type="checkbox" id="actions-{{i}}">
                                        <label for="actions-{{i}}" class="actions-dots">
                                            <span></span>
                                        </label>
                                        <ul class="actions-menu">
                                            <li>
                                                <button type="button" (click)="confirmSessionLinkDeletion(record?.linkSessionsId)">
                                                    <p>Remove Link</p>
                                                </button>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                    <div class="modal-small visible" *ngIf="showsearchSessionPage" >
                        <ul class="window modal-width-XXXXL">
                            <li class="header center">
                                <h1>Add Session</h1>
                            </li> <!-- .header -->
                            <li class="body center">
                                <div>
                                    <!-- NOTE: Use the "max-width" classes to control the maximum width of the content. The content will center itself inside its parent:
                            • max-width-XXXXXXS
                            • max-width-XXXXXS
                            • max-width-XXXXS
                            • max-width-XXXS
                            • max-width-XXS
                            • max-width-XS
                            • max-width-S
                            • max-width-M
                            • max-width-L
                            • max-width-XL
                            • max-width-XXL
                            • max-width-XXXL
                            • max-width-XXXXL
                            • max-width-XXXXXL
                            • max-width-XXXXXXL-->
                                    <div class="form-fields-vertical label-width-25 max-width-XXXXXS">
                                        <ul>
                                            <li>
                                                <label for="activity-id">Session ID</label>
                                            </li>
                                            <li>
                                                <ul class="form-fields-siblings">
                                                    <li class="form-field-width-60">
                                                        <div class="form-field-text">
                                                            <input type="text"
                                                                   id="lookup-session-number"
                                                                   required                                                                   
                                                                   [textMask]="{mask: numMask, guide: false}"
                                                                   [(ngModel)]="lookupSessionNumber"
                                                                   #lookupSessionNumberInput="ngModel"/>
                                                        </div>
                                                    </li>
                                                    <li class="form-field-width-35">                                                        
                                                        <button type="button"
                                                                class="button-primary"
                                                                [disabled]="lookupSessionNumberInput.invalid"
                                                                (click)="searchSessionClicked()"
                                                                #searchSessionButton>
                                                            <p>Search</p>
                                                        </button>
                                                    </li>
                                                    <li class="form-field-width-5"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="section">
                                        <!-- NOTE: The "left" class is used here to align the text left in the grid by default. -->
                                        <div class="grid-small no-row-hover left padding-top-20" *ngIf="sessionSearchHasResult && runSessionSearch">
                                            <p-dataTable [value]="lookupSession"
                                                         [paginator]="false">
                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="Created Date"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.startDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                                    </ng-template>
                                                </p-column>
                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="End Date"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.endDateTime | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                                                    </ng-template>
                                                </p-column>

                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="Session Id"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.sessionNumber}}"></p>
                                                    </ng-template>
                                                </p-column>

                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="Channel"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.channelName}}"></p>
                                                    </ng-template>
                                                </p-column>

                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="Status"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.status}}"></p>
                                                    </ng-template>
                                                </p-column>

                                                <p-column headerStyleClass="grid-column-width-S left" sortable="true">
                                                    <ng-template pTemplate="header">
                                                        <p cubTooltip="Last Updated By"></p>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-col let-record="rowData">
                                                        <p class="value-secondary" cubTooltip="{{record?.modifiedByUserFullName}}"></p>
                                                    </ng-template>
                                                </p-column>
                                            </p-dataTable>
                                        </div>
                                        <p *ngIf="!sessionSearchHasResult && runSessionSearch" class="red padding-top-25"><strong>No Session match this ID.</strong></p>
                                    </div>
                                </div>
                            </li> <!-- .body -->
                            <li class="footer">
                                <ul class="buttons">
                                    <li>
                                        <!-- Remove the "disabled" attribute from the <button> only when the Activity can be added. -->
                                        <button type="button" class="button-primary"
                                                [disabled]="!sessionSearchHasResult"
                                                (click)="addLinkedSession()">
                                            <p>Add</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="button-cancel" (click) ="linkSessionCancel()">
                                            <p>Cancel</p>
                                        </button>
                                    </li>
                                </ul> <!-- .buttons -->
                            </li> <!-- .footer -->
                        </ul> <!-- .window -->
                    </div> <!-- .modal-small -->
                    <div *ngIf="showConfirmRemoveSessionPage" class="hybrid modal-small visible">
                        <ul class="window modal-width-XS">
                            <li class="icon">
                                <div class="icon-information-prompt">
                                    <svg viewBox="0 0 41 41">
                                        <line x1="20.5" y1="10.5" x2="20.5" y2="22.5" />
                                        <circle cx="20.5" cy="29.5" r="2.5" />
                                        <circle cx="20.5" cy="20.5" r="18.5" />
                                    </svg>
                                </div>
                            </li>
                            <li class="body center">
                                <div>
                                    <p>Are you sure you want to remove this Session?</p>
                                </div>
                            </li>
                            <li class="footer">
                                <ul class="buttons">
                                    <li>
                                        <button type="button" class="button-primary" (click)="onRemoveSessionClicked()">
                                            <p>Yes</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="button-cancel" (click)="this.showConfirmRemoveSessionPage = false;">
                                            <p>No</p>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <button type="button" class="button-primary" (click)="onCloseClicked()">
                            <p>Close</p>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</div> <!-- end hybrid -->
