﻿<button [attr.id]="control.id"
        type="button"
        [attr.disabled]="control.isDisabled ? '' : null"
        (click)="click($event)"
        class="{{control.class}}">
    <p>{{control.label}}</p>
</button>