﻿<div class="hybrid">
        <ul class="form-fields-horizontal">
            <!-- NOTE: Use the "form-field-width" classes to control form field widths:
                • form-field-width-XXXS
                • form-field-width-XXS
                • form-field-width-XS
                • form-field-width-S
                • form-field-width-M
                • form-field-width-L
                • form-field-width-XL
                • form-field-width-XXL
                • form-field-width-XXXL
                • form-field-width-XXXXL
            -->
            <!-- Remove the "disabled" attribute from <button> when a new search can be performed. Example: after first typing into a field, or changing a field after performing a search. -->
            <!-- NOTE: this cub-textbox contains an additional control for the search button. -->
            <li cub-textbox
                class="form-field-width-XXXL"
                [control]="searchControl"
                (onChange)="onSearchControlChanged($event)"
                (onEnterPress)="onEnterKey()">
            </li>
            <li class="form-field-width-XL">
                <cub-date-range [offset]="dateRangeOffset"
                                (startChange)="onStartDateChanged($event)"
                                (endChange)="onEndDateChanged($event)"
                                (onEnterKey)="onEnterKey()"></cub-date-range>
            </li>
            <!-- NOTE: If a filter only contains 1 possibility (one contact, one channel, one status) regardless of the date range selected, the filter should be hidden. -->
            <li cub-dropdown *ngIf="multipleContacts"
                class="form-field-width-L"
                [control]="contactControl"
                (onChange)="onControlChanged()">
            </li>
            <li cub-radiolist *ngIf="multipleChannels"
                class="form-field-width-L"
                [control]="channelControl"
                (onChange)="onControlChanged()">
            </li>
            <li cub-radiolist
                class="form-field-width-M"
                [control]="statusControl"
                (onChange)="onControlChanged()">
            </li>
            <li class="form-field-width-S">
                <button type="button"
                        class="button-primary"
                        id="search-button"
                        [attr.disabled]="disableSearch ? '' : null"
                        (click)="onSearchClicked()">
                    <p>Search</p>
                </button>
            </li>
        </ul>

        <div class="grid-small">
            <!--NOTIFICATION HISTORY TABLE-->
            <p-dataTable [value]="customerNotificationResults"
                         [rows]="rowsPerPage"
                         [paginator]="true"
                         dataKey="notificationId"
                         sortMode="multiple"
                         [multiSortMeta]="multiSortMeta"
                         [lazy]="true"
                         [totalRecords]="totalRecordCount"
                         (onLazyLoad)="onLazyLoad($event)"
                         (onRowDblclick)="onRowDoubleClicked($event)">
                    
                <!--DATE/TIME SENT COLUMN-->
                <p-column headerStyleClass="grid-column-width-M left"
                          field="sendDateTime"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Date/Time Sent"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field] | momentDate:'M/D/YYYY h:mm A' | async}}"></p>
                    </ng-template>
                </p-column>

                <!--TYPE COLUMNN-->
                <p-column headerStyleClass="grid-column-width-M left"
                          field="type"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Type"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--SUBJECT COLUMNN-->
                <p-column headerStyleClass="grid-column-width-XXL left"
                          field="subject"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Subject"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--CHANNEL COLUMNN-->
                <p-column headerStyleClass="grid-column-width-XS left"
                          field="channel"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Channel"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--SENT TO COLUMNN-->
                <p-column headerStyleClass="grid-column-width-XL left"
                          field="recipient"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Sent To"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--CONTACT COLUMNN-->
                <p-column headerStyleClass="grid-column-width-M left"
                          field="contactName"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Contact"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--REFERENCE # COLUMNN-->
                <p-column headerStyleClass="grid-column-width-XS left"
                          field="notificationReference"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Reference #"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>

                <!--STATUS COLUMNN-->
                <p-column headerStyleClass="grid-column-width-XS left"
                          field="status"
                          sortable="true">
                    <ng-template pTemplate="header">
                        <p cubTooltip="Status"></p>
                    </ng-template>
                    <ng-template let-col
                                 let-record="rowData"
                                 pTemplate="body">
                        <p class="value-secondary" cubTooltip="{{record[col.field]}}"></p>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

    <!--NOTIFICATION DETAIL MODAL WINDOW-->
    <!-- Add class "visible" to modal <div> to display modal window. -->
    <div *ngIf="!!_cub_notificationService.selected" class="hybrid modal-small" [class.visible]="showNotificationDetail">
        <!-- Use class "notification-email" on the <ul> for emailed notifications. Use class "notification-sms-push" for SMS or push notifications. -->
        <ul class="window modal-width-L notification-preview"
            [class.notification-email]="_cub_notificationService.selected.channel === 'EMAIL'"
            [class.notification-sms-push]="_cub_notificationService.selected.channel !== 'EMAIL'">
            <li class="header center">
                <h1>{{_cub_notificationService.selected.subject}}</h1>
            </li>
            <li class="body" id="notification-detail-message">
                <div>
                    <!-- NOTE: When displaying the notification message:
                    • Email: Only the stripped-down message text should be displayed in this area, not the entire HTML of the email.
                    • SMS/Push: Only the actual notification message should be displayed in this area, with quotes surrounding the message. Example: "Your pass ending in 1234 will expire in 7 days"
                    -->
                </div>
            </li>
            <li class="body-details">
                <div>
                    <ul>
                        <li>
                            <ul>
                                <li>
                                    <div>
                                        <p>{{_cub_notificationService.selected.status}}</p>
                                    </div>
                                    <div>
                                        <p>{{statusDate}} <span>{{statusTime}}</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>Processed</p>
                                    </div>
                                    <div>
                                        <p>{{processedDate}} <span>{{processedTime}}</span></p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <div>
                                        <p>Channel</p>
                                    </div>
                                    <div>
                                        <p>{{_cub_notificationService.selected.channel}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>Sent To</p>
                                    </div>
                                    <div>
                                        <p class="long-line-wrap">{{_cub_notificationService.selected.recipient}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>Contact</p>
                                    </div>
                                    <div>
                                        <p>{{_cub_notificationService.selected.contactName}}</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <div>
                                        <p>Status</p>
                                    </div>
                                    <div>
                                        <p>{{_cub_notificationService.selected.status}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <p>Reference #</p>
                                    </div>
                                    <div>
                                        <p>{{_cub_notificationService.selected.notificationReference}}</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li *ngIf="_cub_notificationService.selected.allowResend">
                        <!-- NOTE: If there is only 1 possible contact and 1 possible channel, the "resend-notification" modal window (below) is irrelevant. If the user clicks the "Resend" button, it should automatically trigger the resending action without an additional prompt. -->
                        <button type="button"
                                class="button-primary-text"
                                (click)="promptResend()">
                            <p>Resend</p>
                        </button>
                    </li>
                    <li>
                        <button type="button"
                                class="button-cancel"
                                (click)="closeDetail()">
                            <p>Close</p>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--RESEND NOTIFICATION MODAL WINDOW-->
    <!-- Add class "visible" to modal <div> to display modal window. -->
    <div *ngIf="!!_cub_notificationService.selected" class="hybrid modal-small" [class.visible]="showResend">
        <ul class="window modal-width-XS resend-notification">
            <li class="header center">
                <h1>Resend Notification</h1>
            </li>
            <li class="body">
                <div>
                    <div class="form-fields-vertical label-width-30">
                        <ul *ngIf="multipleContacts">
                            <li>
                                <label for="{{resendContactControl.id}}">{{resendContactControl.label}}</label>
                            </li>
                            <li cub-dropdown
                                [control]="resendContactControl"
                                (onChange)="onResendContactChanged()">
                            </li>
                        </ul>
                        <ul *ngIf="multipleChannels">
                            <li>
                                <label for="{{resendChannelControl.id}}">Channel</label>
                            </li>
                            <li>
                                <ul class="form-fields-siblings">
                                    <li class="form-field-width-100">
                                        <!-- NOTE: By default, the original notification channel should be checked, while the others are unchecked. -->
                                        <div cub-checkboxlist
                                             class="form-field-checkbox-stack"
                                             [control]="resendChannelControl"
                                             (onChange)="onResendChannelChanged($event)">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="footer">
                <ul class="buttons">
                    <li>
                        <button type="button"
                                class="button-primary"
                                (click)="resend()"
                                [disabled]="!selectedResendChannels.size">
                            <p>Resend</p>
                        </button>
                    </li>
                    <li>
                        <button type="button"
                                class="button-cancel"
                                (click)="cancelResend()">
                            <p>Cancel</p>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>