<!-- Use the "unsupported" class on the <div> when used inside of an unsupported modal window. -->
<div class="hybrid modal-small unsupported"
     *ngIf="!showFinalMessage">
    <ul class="window">
        <li class="header center">
            <h1>Create Adjustment</h1>
        </li>
        <li class="body">
            <div>
                <div class="form-fields-vertical label-width-30 max-width-XXXS">
                    <ul *ngIf="!contactId">
                        <li>
                            <label for="unregisteredEmail">Email Receipt To</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-text">
                                        <input id="unregisteredEmail"
                                                type="text"
                                                pInputText [(ngModel)]="unregisteredEmail" />
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul *ngIf="contactId">
                        <li>
                            <label for="contact">Contact</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-text">
                                        <input id="contact" type="text" disabled value="{{contactName}}"/>
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul *ngIf="contactId">
                        <li>
                            <label for="email">Email</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-text">
                                        <input id="email" type="text" disabled value="{{contactEmail}}" />
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label for="reason-code">Adjustment Reason</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <!-- NOTE: Add class "error" to <div> form field container when the field is in error. -->
                                    <!-- NOTE: Add class "show-error-message" to <div> form field container to display the error message -->
                                    <div class="form-field-drop-down required">
                                        <select id="reason-code" required
                                                [(ngModel)]="reasonCodeSelected"
                                                (ngModelChange)="onReasonCodeChanged()">
                                            <option selected>Select...</option>
                                            <option *ngFor="let o of reasonCodeTypeSelected?.reasonCodes" [ngValue]="o">{{o.description}}</option>
                                        </select>
                                        <div>
                                            <span class="icon-drop-down-arrow">
                                                <svg viewBox="0 0 16 11">
                                                    <polyline points="2,2 8,8 14,2" />
                                                </svg>
                                            </span>
                                        </div>
                                        <i></i>
                                        <span class="error-message">
                                            <p>Adjustment Reason is required.</p>
                                        </span>
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label for="operator">Operator</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-drop-down required">
                                        <select id="operator" required
                                                [(ngModel)]="operatorSelected"
                                                (ngModelChange)="validateForm()">
                                            <option *ngIf="reasonCodeSelected?.financiallyResponsibleOperators?.length > 1" selected>Select...</option>
                                            <option *ngFor="let o of reasonCodeSelected?.financiallyResponsibleOperators" [ngValue]="o">{{o.financiallyResponsibleOperatorDescription}}</option>
                                        </select>
                                        <div>
                                            <span class="icon-drop-down-arrow">
                                                <svg viewBox="0 0 16 11">
                                                    <polyline points="2,2 8,8 14,2" />
                                                </svg>
                                            </span>
                                        </div>
                                        <i></i>
                                        <span class="error-message">
                                            <p>Adjustment Reason is required.</p>
                                        </span>
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label for="notes">Notes</label>
                           <label *ngIf="reasonCodeSelected?.notesMandatoryFlag">(*)</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-textarea">
                                        <!-- NOTE: Use the native "rows" attribute to control the height of the <textarea> box. -->
                                        <textarea maxlength="256" pInputTextarea 
                                                    [(ngModel)]="notes" 
                                                    (focusout)="validateForm()" 
                                                    rows="4"></textarea>
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul *ngIf="reasonCodeSelected?.minAmount">
                        <li>
                            <label for="interval">Min/Max</label>
                        </li>
                        <li>
                            <ul class="form-fields-siblings">
                                <li class="form-field-width-85">
                                    <div class="form-field-text">
                                        <input id="email" type="text" disabled 
                                               value="{{reasonCodeSelected?.minAmount | money}} - {{reasonCodeSelected?.maxAmount| money}}" />
                                    </div>
                                </li>
                                <li class="form-field-width-15"></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- .form-fields-vertical -->
                <div class="section">
                    <h3>Purses</h3>
                    <div class="grid-small no-row-hover">
                        <div>
                            <div class="ui-datatable ui-widget">
                                <div class="ui-datatable-tablewrapper">
                                    <table class="undefined">
                                        <thead class="ui-datatable-thead">
                                            <tr class="ui-state-default">
                                                <th class="ui-state-default ui-unselectable-text ui-state-active grid-column-width-L left">
                                                    <span class="ui-column-title">
                                                        <p>Name</p>
                                                    </span>
                                                </th>
                                                <th class="ui-state-default ui-unselectable-text grid-column-width-L left">
                                                    <span class="ui-column-title">
                                                        <p>Restriction</p>
                                                    </span>
                                                </th>
                                                <th class="ui-state-default ui-unselectable-text grid-column-width-S left">
                                                    <span class="ui-column-title">
                                                        <p>Balance</p>
                                                    </span>
                                                </th>
                                                <th class="ui-state-default ui-unselectable-text grid-column-width-XXXXL left">
                                                    <span class="ui-column-title">
                                                        <p>Adjustment Amount</p>
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="ui-datatable-data ui-widget-content">
                                            <tr class="ui-widget-content ui-datatable-even"
                                                *ngFor="let purse of filteredPurses">
                                                <td>
                                                    <span class="ui-cell-data">
                                                        <p class="value-tertiary">{{purse.purseTypeDescription}}</p>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="ui-cell-data">
                                                        <p class="value-tertiary">{{purse.purseRestrictionDescription}}</p>
                                                    </span>
                                                </td>
                                                <td align="right">
                                                    <span class="ui-cell-data">
                                                        <p class="value-tertiary">{{purse.balance| money}}</p>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="ui-cell-data">
                                                        <!-- NOTE: The "form-fields-text-width-label" class styles a text field with additional text to the right of the text field. -->
                                                        <div class="form-fields-siblings form-fields-text-with-label">
                                                            <li class="form-field-width-50">
                                                                <div class="form-field-text">
                                                                    <input type="text"
                                                                           class="ng-untouched ng-pristine ng-valid"
                                                                           pInputText [(ngModel)]="purse.adjustmentValue"
                                                                           (focusout)="validateForm()"
                                                                           [textMask]="{mask: numberMask}" />
                                                                </div>
                                                            </li>
                                                            <li class="form-field-width-70">
                                                                <div class="form-field-none">
                                                                        <p (ngModel)="purse.adjustmentValueOutOfInterval"
                                                                           *ngIf="purse?.adjustmentValueOutOfInterval">Invalid value. <br /> Check Min/Max.</p>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .grid-small -->
                    <button *ngIf="showAllPurses"
                            id="showAllPurses" type="button" class="button-primary-text margin-top-10" (click)="onShowAllPursesClicked()">
                        <p>Show All Purses</p>
                     </button>
                    <button *ngIf="!showAllPurses"
                            id="hideUnchangedPurses" type="button" class="button-primary-text margin-top-10" (click)="onShowAllPursesClicked()">
                        <p>Hide Unchanged Purses</p>
                    </button>
                </div> <!-- .section -->
            </div>
        </li> <!-- .body -->
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button"
                            class="button-primary"
                            id="adjust-value-button"
                            (click)="onAdjustValueButtonClicked()"
                            [disabled]="!isFormValid">
                        <p>Create Adjustment</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel"
                            (click)="closeFinalMessage()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li> <!-- <li class="body">-->
    </ul> <!-- <ul class="window"> -->
</div> <!-- <div class="hybrid modal-small unsupported">-->

<div *ngIf="showFinalMessage" align="center">
    <br />
    <br />
    <br />
    <br />
    <ul class="window modal-width-XS">
        <li class="icon">
            <div class="icon-confirmation-check">
                <svg viewBox="0 0 61 61">
                    <circle cx="30.5" cy="30.5" r="29.5" />
                    <polyline points="16,30.5 25.25,39.75 45,20 " />
                </svg>
            </div>
        </li>
        <li  class="header left">
            <br />
            <br />
            <h1>Order Adjustment created</h1>
            <br />
            <h2>Order Number: {{orderNumber}}</h2>
            <br />
            <h2>Response Code: {{responseCode}}</h2>
            <br />
            <ul class="left error" *ngIf="errors != null && errors.length != 0">
                <li>
                    <h2>Errors</h2>
                </li>
                <li class="left">
                    <h2 *ngFor="let e of errors">- {{e.errorKey}}</h2>
                </li>
            </ul>
        </li>
        <li class="center">
            <br />
            <br />
            <br />
            <button type="button"
                    class="button-primary"
                    id="close-button"
                    (click)="closeFinalMessage()">
                <p>Close</p>
            </button>
        </li>
    </ul>
</div>