﻿/* -----
SVG Icons - svgicons.sparkk.fr
----- */

/*.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}*/

.svg-icon-container {
  display: inline-block;
  position: relative;
  height: 0;
  width: 2.4rem;
  padding-top: 2.4rem;
}

.svg-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.svg-icon:hover {
    cursor: pointer;
}

.svg-icon path {
    fill: #c4c4c4;
}

.svg-icon:hover path {
    fill: #00adbc;
}
