﻿@using CUB.MSD.Web.Models.TransitAccount
@model AccountStatusViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html>
<head>
    <title>Master Seacrh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/jsGrid.min.js"></script>
    <script src="~/Content/js/jquery-date-format.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
        div.tablink {
            font-size: 1.5em;
        }

        body {
            font-size: 75%;
        }

        input[type=text], input[type=email] {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input.err {
            border: 2px solid #bd3131;
        }

        select {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        .button {
            padding: 8px 17px;
            font-size: 1.25em;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #575ADB;
            border: none;
            border-radius: 8px;
            box-shadow: 0 3px #999;
            width: 80px;
        }

            .button:hover {
                background-color: #3333FF;
            }

            .button:active {
                background-color: #575ADB;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #4CAF50;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: lightslategrey;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }

        /*input[type=text]:focus {
             width: 350px;
         }*/
    </style>

    <style>
        .account_status_header {
            background: #d9d9d9;
            /*color: white;*/
            text-align: center;
            display: table-cell;
            /*font-weight: normal;*/
            box-sizing: border-box;
            padding: 4px 10px;
            overflow: hidden;
            /*font-family: Helvetica, Arial, sans-serif !important;
            font-size: 13px !important;*/
        }

        .jsgrid-align-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <script>
        var AccountStatusData = {};
        var _AccountId = '@Model.AccountId';
        var _Subsystem = '@Model.Subsystem';

        $(document).ready(function () {
            searchTransitAccountStatusByAccountId(_AccountId, _Subsystem);
        });

        function refresh() {
            $("#AccountPurses").jsGrid({ data: [], noDataContent: "Loading..." });
            $("#AccountTokens").jsGrid({ data: [], noDataContent: "Loading..." });
            $("#AccountPasses").jsGrid({ data: [], noDataContent: "Loading..." });
            searchTransitAccountStatusByAccountId(_AccountId, _Subsystem);
        }

        function searchTransitAccountStatusByAccountId(accountId, subsystem) {
            var url_params = "?accountId=" + _AccountId + "&subSystem=" + _Subsystem
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/TransitAccount/GetAccountStatus' + url_params,
                success: function (response, textStatus, jqXHR) {
                    AccountStatusData = JSON.parse(response);
                    prepareUnregisteredCustomerSubsystemPage();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function prepareUnregisteredCustomerSubsystemPage() {
            prepareAccountTokens();
            prepareAccountPurses();
            prepareAccountPasses();
        }

        function prepareAccountTokens() {
            var statusChanged = DateFormat.format.date(AccountStatusData.accountStatusChangeDateTime, "MM/dd/yyyy");
            var accountCreation = DateFormat.format.date(AccountStatusData.accountCreatedDateTime, "MM/dd/yyyy");
            var lastUded = DateFormat.format.date(AccountStatusData.accountLastUsageDetails.transactionDateTime, "MM-dd-yyyy hh:mm a");

            $('#account_status').html(AccountStatusData.accountStatus);
            $('#rider_class').html(AccountStatusData.riderClassDescription);
            $('#status_changed').html(statusChanged);
            $('#account_creation').html(accountCreation);
            $('#last_used_date_time').html(lastUded);
            $('#last_used_device').html(AccountStatusData.accountLastUsageDetails.device);
            $('#last_used_status').html(AccountStatusData.accountLastUsageDetails.statusDescription);
            $('#last_used_location').html(AccountStatusData.accountLastUsageDetails.location);

            $("#AccountTokens").jsGrid({
                noDataContent: "No data found!",
                width: "1200px",
                sorting: true,
                paging: false,
                data: AccountStatusData.tokens,
                headerRowRenderer: function () {
                    var $result = $("<tr>").height(0)
                                  .append($("<th>").width(75))
                                  .append($("<th>").width(75))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(75))
                                  .append($("<th>").width(200))
                                  .append($("<th>").width(180))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(140))
                                  .append($("<th>").width(150));
                    $result = $result.add($("<tr>").append($("<th class='account_status_header'>").attr("colspan", 9).text("TOKENS")));
                    $result = $result.add($("<tr>")
                              .append($("<th class='account_status_header'>").attr("colspan", 5).text(""))
                              .append($("<th class='account_status_header'>").attr("colspan", 4).text("Last Used")))
                    return $result.add($("<tr>")
                           .append($("<th class='account_status_header'>").width(75).text("Type"))
                           .append($("<th class='account_status_header'>").width(75).text("PAN"))
                           .append($("<th class='account_status_header'>").width(100).text("Expiry Date"))
                           .append($("<th class='account_status_header'>").width(75).text("Status"))
                           .append($("<th class='account_status_header'>").width(200).text("Status Changed on"))
                           .append($("<th class='account_status_header'>").width(180).text("Date/Time"))
                           .append($("<th class='account_status_header'>").width(100).text("Device"))
                           .append($("<th class='account_status_header'>").width(140).text("Status"))
                           .append($("<th class='account_status_header'>").width(150).text("Location")));
                },

                fields: [
                    { title: "Token Type", name: "subsystemTokenTypeDescription", type: "text", width: 75 },
                    { title: "Masked PAN", name: "tokenInfo.maskedPAN", type: "text", width: 75, align: "center" },
                    { title: "Card Expiry", name: "tokenInfo.cardExpiryMMYY", type: "text", width: 100, align: "center" },
                    { title: "Status", name: "statusDescription", type: "text", width: 75 },
                    {
                        title: "Status Changed On", name: "statusChangeDateTime", type: "text", width: 200, align: "center",
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    {
                        title: "Date/Time", name: "tokenLastUsageDetails.transactionDateTime", type: "text", width: 180, align: "center",
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM-dd-yyyy hh:mm a") + "</td>";
                        }
                    },
                    { title: "Device", name: "tokenLastUsageDetails.device", type: "text", width: 100 },
                    { title: "Status", name: "tokenLastUsageDetails.statusDescription", type: "text", width: 140 },
                    { title: "Location", name: "tokenLastUsageDetails.location", type: "text", width: 150 },
                ]
            });
        }

        function prepareAccountPurses() {
            // Set the Account Balance
            var balance = 0;
            if (AccountStatusData.purses[0].balance != null) {
                balance = AccountStatusData.purses[0].balance / 100;
            }
            $("#account_balance").html("$" + balance);

            $("#AccountPurses").jsGrid({
                noDataContent: "No data found!",
                width: "450px",
                sorting: true,
                paging: false,
                data: AccountStatusData.purses,
                headerRowRenderer: function () {
                    var $result = $("<tr>")
                                 .append($("<th class='account_status_header'>").width(150).text("Type"))
                                 .append($("<th class='account_status_header'>").width(150).text("Restriction"))
                                 .append($("<th class='account_status_header'>").width(75).text("Balance"));
                    return $result;
                },
                fields: [
                    { title: "Type", name: "purseTypeDescription", type: "text", width: 150 },
                    { title: "Restriction", name: "purseRestrictionDescription", type: "text", width: 150 },
                    {
                        title: "Balance", name: "balance", type: "text", width: 75, align: "right",
                        cellRenderer: function (value, item) {
                            return "<td>" + value / 100 + "</td>";
                        }
                    },
                ]
            });
        }

        function prepareAccountPasses() {
            $("#AccountPasses").jsGrid({
                noDataContent: "No data found!",
                width: "1200px",
                sorting: true,
                paging: false,
                data: AccountStatusData.passes,
                headerRowRenderer: function () {
                    var $result = $("<tr>").height(0)
                                  .append($("<th>").width(200))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(100))
                                  .append($("<th>").width(180))
                                  .append($("<th>").width(180))
                                  .append($("<th>").width(100));
                    $result = $result.add($("<tr>").append($("<th class='account_status_header'>").attr("colspan", 9).text("PASSES ")));
                    return $result.add($("<tr>")
                           .append($("<th class='account_status_header'>").width(200).text("Description"))
                           .append($("<th class='account_status_header'>").width(100).text("Created On"))
                           .append($("<th class='account_status_header'>").width(100).text("Start On"))
                           .append($("<th class='account_status_header'>").width(100).text("End On"))
                           .append($("<th class='account_status_header'>").width(100).text("Remaining"))
                           .append($("<th class='account_status_header'>").width(100).text("Expiration"))
                           .append($("<th class='account_status_header'>").width(180).text("Deactivated On"))
                           .append($("<th class='account_status_header'>").width(180).text("Deactivation Reason"))
                           .append($("<th class='account_status_header'>").width(100).text("Serial #")));
                },

                fields: [
                    { title: "Description", name: "passDescription", type: "text", width: 200 },
                    {
                        title: "Created On", name: "createdDateTime", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    {
                        title: "Start On", name: "createdDateTime", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    {
                        title: "End On", name: "createdDateTime", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    {
                        title: "Remaining", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + item.remainingDuration + ' ' + item.durationType + "</td>";
                        }
                    },
                    {
                        title: "Expiration", name: "expirationDateTime", type: "text", align: "center", width: 100,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM/dd/yyyy") + "</td>";
                        }
                    },
                    {
                        title: "Deactivation On", name: "deactivatedDateTime", type: "text", align: "center", width: 180,
                        cellRenderer: function (value, item) {
                            return "<td>" + DateFormat.format.date(value, "MM-dd-yyyy hh:mm a") + "</td>";
                        }
                    },
                    { title: "Deactivation Reason", name: "deactivatedReason", type: "text", width: 180 },
                    { title: "Serial #", name: "passSerialNbr", type: "text", align: "center", width: 100 },
                ]
            });
        }

    </script>

    <div id="AccountStatus" class="searchResultDetails">
        <button onclick="return refresh();">Refresh</button>
        <table>
            <tr>
                <td valign="top">
                    <table>
                        <tr><td class="account_status_header">Account Status</td><td id="account_status"></td></tr>
                        <tr><td class="account_status_header">Rider Class</td><td id="rider_class"></td></tr>
                        <tr><td class="account_status_header">Status Changed</td><td id="status_changed"></td></tr>
                        <tr><td class="account_status_header">Account Creation On</td><td id="account_creation"></td></tr>
                    </table>
                </td>
                <td valign="top">
                    <table>
                        <tr><td class="account_status_header" colspan="2">Account Last Used</td></tr>
                        <tr><td class="account_status_header">Date/Time</td><td id="last_used_date_time"></td></tr>
                        <tr><td class="account_status_header">Device</td><td id="last_used_device"></td></tr>
                        <tr><td class="account_status_header">Status</td><td id="last_used_status"></td></tr>
                        <tr><td class="account_status_header">Location</td><td id="last_used_location"></td></tr>
                    </table>
                </td>
                <td valign="top">
                    <table>
                        <tr>
                            <td class="account_status_header">Account Blance</td>
                            <td id="account_balance" align="right"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div id="AccountPurses"></div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div rel="Tokens">
                        <div id="AccountTokens"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div rel="Tokens">
                        <div id="AccountPasses"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>


