﻿@using CUB.MSD.Web.Models.TransitAccount
@model TransitAccountViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html>
<head>
    <title>Master Seacrh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/jsGrid.min.js"></script>
    <script src="~/Content/js/jquery-date-format.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
        div.tablink {
            font-size: 1.5em;
        }

        body {
            font-size: 75%;
        }

        input[type=text], input[type=email] {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        input.err {
            border: 2px solid #bd3131;
        }

        select {
            width: 230px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 1em;
            background-color: white;
            /*background-image: url('searchicon.png');*/
            background-position: 10px 10px;
            background-repeat: no-repeat;
            /*padding: 12px 20px 12px 40px;*/
            padding: 5px 5px 5px 5px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        .button {
            padding: 8px 17px;
            font-size: 1.25em;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #575ADB;
            border: none;
            border-radius: 8px;
            box-shadow: 0 3px #999;
            width: 80px;
        }

            .button:hover {
                background-color: #3333FF;
            }

            .button:active {
                background-color: #575ADB;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #4CAF50;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: lightslategrey;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }

        /*input[type=text]:focus {
             width: 350px;
         }*/
    </style>

    <style>
        .account_status_header {
            background: #d9d9d9;
            /*color: white;*/
            text-align: center;
            display: table-cell;
            /*font-weight: normal;*/
            box-sizing: border-box;
            padding: 4px 10px;
            overflow: hidden;
            /*font-family: Helvetica, Arial, sans-serif !important;
            font-size: 13px !important;*/
        }

        .jsgrid-align-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Account Status</h1>
    @Html.Action("AccountStatus", Model)
    <h1>Balance History</h1>
    @Html.Action("BalanceHistory", Model)
    <h1>Travel History</h1>
    @Html.Action("TravelHistory", Model)
</body>
</html>


