﻿@using CUB.MSD.Web.Models.TransitAccount
@model TravelHistoryViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5.0 Transitional//EN">
<html>
<head>
    <title>Master Seacrh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/theme.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Content/css/jsgrid_theme.min.css" rel="stylesheet" />
    <script src="~/Content/js/jsGrid.min.js"></script>
    <script src="~/Content/js/jquery-date-format.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
        * {
            font-family: Verdana,sans-serif;
            font-size: 11px;
          }
    </style>
</head>
<body>
    <script>
        var AccountTravelHistory = {};
        var _AccountId = '@Model.AccountId';
        var _Subsystem = '@Model.Subsystem';

        $(document).ready(function () {
            var startDate = '@Model.StartDate';
            var endDate = '@Model.EndDate';
            $("#travelStartDatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#travelEndDatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#travelStartDatepicker").val(DateFormat.format.date(startDate, "yyyy-MM-dd"));
            $("#travelEndDatepicker").val(DateFormat.format.date(endDate, "yyyy-MM-dd"));
        });

        function searchTransitAccountTravelHistory() {
            startDate = $("#travelStartDatepicker").val();
            endDate = $("#travelEndDatepicker").val();
            $("#AccountTravelHistoryGrid").jsGrid({ data: [], noDataContent: "Loading..." });
            $("#SearchAccountTravelHistoryButton").prop("disabled", true);
            var url_params = "?accountId=" + _AccountId +
                                "&subSystem=" + _Subsystem +
                                "&startDate=" + startDate +
                                "&endDate=" + endDate;
            $.ajax({
                type: 'get',
                dataType: 'json',
                cache: false,
                url: '/TransitAccount/GetTravelHistory' + url_params,
                success: function (response, textStatus, jqXHR) {
                    AccountTravelHistory = JSON.parse(response);
                    prepareAccountTravelHistory();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                }
            });
        }

        function prepareAccountTravelHistory() {
            $("#AccountTravelHistoryGrid").jsGrid({
                noDataContent: "No data found!",
                width: "1100px",
                sorting: true,
                paging: true,
                pageSize: 3,
                pageButtonCount: 10,
                pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                pagePrevText: "Prev",
                pageNextText: "Next",
                pageFirstText: "First",
                pageLastText: "Last",
                pageNavigatorNextText: "...",
                pageNavigatorPrevText: "...",
                data: AccountTravelHistory.lineItems,
                headerRowRenderer: function () {
                    var $result = $("<tr>")
                                    .append($("<th class='account_status_header'>").width(150).text("Timing"))
                                    .append($("<th class='account_status_header'>").width(300).text("Location"))
                                    .append($("<th class='account_status_header'>").width(100).text("Travel Mode"))
                                    .append($("<th class='account_status_header'>").width(120).text("Token (Type/PAN/Exp)"))
                                    .append($("<th class='account_status_header'>").width(100).text("Product"))
                                    .append($("<th class='account_status_header'>").width(60).text("Fare"))
                                    .append($("<th class='account_status_header'>").width(60).text("Unpaid Fare"));
                    return $result;
                },
                fields: [
                    {
                        title: "Timing", Name: "Timing", type: "text", align: "left", width: 150,
                        cellRenderer: function (value, item) {
                            return "<td><table>" +
                                        "<tr><td>Start:</td><td>" + DateFormat.format.date(item.startDateTime, "MM-dd-yyyy hh:mm a") + "</td></tr>" +
                                        "<tr><td>End:</td><td>" + DateFormat.format.date(item.endDateTime, "MM-dd-yyyy hh:mm a") + "</td></tr>" +
                                   "</table></td>";
                        }
                    },
                    {
                        title: "Location", name: "Location", type: "text", width: 300,
                        cellRenderer: function (value, item) {
                            return "<td><table>" +
                                        "<tr><td>From:</td><td>" + item.startLocationDescription + '</td></tr>' +
                                        "<tr><td>To:</td><td>" + item.endLocationDescription + '</td></tr>' +
                                   "</table></td>";
                        }
                    },
                    { title: "Travel Mode", name: "travelModeDescription", type: "text", width: 100 },
                    {
                        title: "Token", name: "Token", type: "text", width: 120,
                        cellRenderer: function (value, item) {
                            return "<td>" + item.token.tokenType + '-' +
                                            item.token.maskedPAN + '-' +
                                            item.token.cardExpiryMMYY +
                                   "</td>";
                        }
                    },
                    { title: "Product", name: "productDescription", type: "text", align: "center", width: 100 },
                    {
                        title: "Fare", name: "totalFare", type: "text", width: 60, align: "right",
                        cellRenderer: function (value, item) {
                            return "<td>" + value / 100 + "</td>";
                        }
                    },
                    {
                        title: "Unpaid Fare", name: "unpaidFare", type: "text", width: 60, align: "right",
                        cellRenderer: function (value, item) {
                            return "<td>" + value / 100 + "</td>";
                        }
                    },
                ]
            });

            $("#SearchAccountTravelHistoryButton").prop("disabled", false);
        }
    </script>

    <div id="AccountTravelHistory">
        <span class="ui-helper-hidden-accessible"><input type="text" /></span>
        <p>
            Start Date: <input type="text" style="width:120px" maxlength="10" id="travelStartDatepicker">
            End Date:   <input type="text" style="width:120px" maxlength="10" id="travelEndDatepicker">
            <button id="SearchAccountTravelHistoryButton" onclick="return searchTransitAccountTravelHistory();">Search</button>
        </p>
        <div id="AccountTravelHistoryGrid"></div>
    </div>
</body>
</html>


