﻿<div class="hybrid">
    <ul class="section">
        <li>
            <ul class="opposite-sides align-bottom">
                <li>
                    <h2>Subsystem Accounts</h2>
                </li>
                <li></li>
            </ul>
            <div class="grid-small">
                <!-- PrimeNg Data Table -->
                <p-dataTable [value]="subsystemAccounts"
                             [rows]="numberOfRows"
                             [paginator]="true"
                             dataKey="subsystemAccountReference"
                             (onRowClick)="rowClicked($event)">

                    <!-- SUBSYSTEM NAME COLUMN -->
                    <p-column headerStyleClass="grid-column-width-XS left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Subsystem"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <!--<p class="value-secondary" cubTooltip="{{record.subsystemInfo?.subsystemDescription}}"></p>-->
                            <p class="value-secondary" cubTooltip="{{record.subsystemInfo?.subsystem}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- AGENCY COLUMN -->
                    <p-column headerStyleClass="grid-column-width-XS left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Agency"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <!--<p class="value-secondary" cubTooltip="{{record.subsystemInfo?.authorityDescription}}"></p>-->
                            <p class="value-secondary" cubTooltip="{{record.subsystemInfo?.subsystemDescription}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- SUBSYSTEM LINK COLUMN -->
                    <p-column headerStyleClass="grid-column-width-S left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Subsystem ID"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <p class="value-secondary">
                                <!--<a href="javascript:void(0)"
                                   (click)="subsystemIdClicked($event, record)"
                                   cubTooltip="{{record.subsystemInfo?.subsystem}} – {{record.subsystemAccountReference}}"></a>-->
                                <a href="javascript:void(0)"
                                   (click)="subsystemIdClicked($event, record)"
                                   cubTooltip="{{record.subsystemAccountReference}}"></a>
                            </p>
                        </ng-template>
                    </p-column>

                    <!-- STATUS COLUMN -->
                    <p-column headerStyleClass="grid-column-width-XXS left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Status"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <p class="value-secondary" cubTooltip="{{record.subsystemAccountDetailedInfo?.accountStatus}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- BALANCE COLUMN -->
                    <!-- Note: the balance field is assigned by the component -->
                    <p-column headerStyleClass="grid-column-width-XS right"
                              bodyStyleClass="right">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Balance"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <p class="value-secondary" cubTooltip="{{record?.balance | money}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- LAST USED DATE COLUMN -->
                    <!-- Note: the displayToken object is assigned by the component -->
                    <p-column headerStyleClass="grid-column-width-S left">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Last Used"></p>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="rowData">
                            <p class="value-secondary" cubTooltip="{{record.displayToken?.tokenInfo?.lastUseDTM | momentDate:'M/D/YYYY h:mm:ss A' | async}}"></p>
                        </ng-template>
                    </p-column>

                    <!-- NUMBER OF TOKENS COLUMN -->
                    <p-column headerStyleClass="center row-selection row-selection-column-width-XXS" bodyStyleClass="row-selection">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Tokens"></p>
                        </ng-template>
                        <ng-template let-record="rowData"
                                     let-ri="rowIndex"
                                     pTemplate="body">
                            <input type="radio"
                                   id="num-tokens-{{ri}}"
                                   name="subsystem-account-tokens"
                                   [value]="record.subsystemAccountReference"
                                   [(ngModel)]="selectedValue"
                                   disabled />
                            <label for="num-tokens-{{ri}}">
                                <!-- NEW 2017-12-29: A new <span> tag wraps the <p> number. -->
                                <span>
                                    <p>{{record.subsystemAccountDetailedInfo?.tokens?.length}}</p>
                                </span>
                            </label>
                        </ng-template>
                    </p-column>

                    <!-- ACTIONS MENU COLUMN -->
                    <p-column headerStyleClass="actions center actions-column-width-XXS"
                              bodyStyleClass="actions center actions-multiple">
                        <ng-template pTemplate="header">
                            <p cubTooltip="Actions"></p>
                        </ng-template>
                        <ng-template let-col
                                     let-record="rowData"
                                     let-ri="rowIndex"
                                     pTemplate="body">
                            <cub-menu-toggle inputId="action-{{ri}}" (click)="actionMenuClicked(record)">
                                <input type="checkbox" id="action-{{ri}}">
                                <label for="action-{{ri}}" class="actions-dots">
                                    <span></span>
                                </label>
                                <ul class="actions-menu actions-menu-align-center">
                                    <li *ngIf="record.subsystemAccountDetailedInfo?.debtCollectionInfo?.action === 'Available'
                                        || record.subsystemAccountDetailedInfo?.debtCollectionInfo?.action === 'AvailableWait'">
                                        <button type="button" (click)="resolveBalanceClicked(record)">
                                            <p>Resolve Balance</p>
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" (click)="delinkClicked(record)">
                                            <p>Delink</p>
                                        </button>
                                    </li>
                                    <li *ngIf="record.subsystemAccountDetailedInfo?.accountStatus === 'Active' || record.subsystemAccountDetailedInfo?.accountStatus === 'Suspended'">
                                        <button type="button" (click)="blockUnblockClicked(record)">
                                            <p>Block</p>
                                        </button>
                                    </li>
                                    <li *ngIf="record.subsystemAccountDetailedInfo?.accountStatus != 'Active'">
                                        <button type="button" (click)="blockUnblockClicked(record, false)">
                                            <p>UnBlock</p>
                                        </button>
                                    </li>
                                </ul>
                            </cub-menu-toggle>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </li>
    </ul>
</div>

<cub-subsystem-delink-customer *ngIf="showConfirmDelinkPage"
                               subsystemId="{{subsystemId}}"
                               subsystemAccount="{{subsystemAccount}}"
                               customerId="{{customerId}}"
                               oneaccountId="{{oneaccountId}}"
                               (onClose)="onModalClose($event)">
</cub-subsystem-delink-customer>

