﻿<div class="hybrid modal-small unsupported">
    <ul class="window modal-width-S update-address">
        <li class="header center">
            <h1>Update Address</h1>
        </li>
        <li class="body center">
            <div *ngIf="!!options && options.length > 0">
                <p>Do you wish to apply the updated address to the following contacts and/or funding sources?</p>
                <div class="list-selector">
                    <button type="button" 
                            class="button-text" 
                            id="option-all"
                            (click)="onChangeAll()">
                        <p>{{allSelected ? 'Deselect All' : 'Select All'}}</p>
                    </button>
                </div>

                <ul class="checklist-small">
                    <li *ngFor="let option of options">
                        <input type="checkbox" id="{{'option-' + option.key}}"
                               [checked]="option.update"
                               (change)="onChange(option)" />
                        <label for="{{'option-' + option.key}}">
                            <ul>
                                <li class="checkbox">
                                    <span>
                                        <div class="icon-checkmark">
                                            <svg viewBox="0 0 16 13">
                                                <polyline points="2.25,5.75 6.5,10 14.25,2.25" />
                                            </svg>
                                        </div>
                                    </span>
                                </li>
                                <li>
                                    <p>{{option.value}}</p>
                                </li>
                            </ul>
                        </label>
                    </li>
                </ul>
            </div>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-primary"
                            [attr.disabled]="updateIsDisabled() ? '' : null"
                            (click)="updateClicked()">
                        <p>Update</p>
                    </button>
                </li>
                <li>
                    <button type="button" class="button-cancel" (click)="cancelClicked()">
                        <p>Cancel</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>