﻿<ul>
    <li>
        <div class="icon-alert-modal">
            <svg viewBox="0 0 25 25">
                <circle cx="12.5" cy="12.5" r="11.5" />
                <path d="M11,5.997C11,5.446,11.443,5,11.999,5h1.002 C13.553,5,14,5.446,14,5.997v7.006C14,13.554,13.557,14,13.001,14h-1.002C11.447,14,11,13.554,11,13.003V5.997z" />
                <path d="M11.003,16.495c0-0.273,0.216-0.495,0.496-0.495h2.009 c0.274,0,0.496,0.216,0.496,0.495v2.01c0,0.273-0.216,0.495-0.496,0.495h-2.009c-0.274,0-0.496-0.216-0.496-0.495V16.495z" />
            </svg>
        </div>
    </li>
    <li>
        <p>{{alertMessage}}</p>
    </li>
</ul>