<div class="hybrid modal-small visible">
    <ul class="window modal-width-XXXL statusHistory">
        <li class="header center">
            <h1>Token Status History</h1>
        </li>
        <li class="body">
            <cub-customizablegrid [data]="statusHistory"
                                    gridName="Token.StatusHistory"
                                    [totalCount]="totalRecordCount"
                                    [lazy]="true"
                                    [scope]="this"
                                    (onLazyLoad)="onLazyLoad($event)">
            </cub-customizablegrid>
        </li>
        <li class="footer">
            <ul class="buttons">
                <li>
                    <button (click)="close()" type="button" class="button-cancel">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div *ngIf="showNotesModal" class="hybrid modal-small visible">
    <ul class="window modal-width-S">
        <li class="body center">
            <div>
                <p>Transit Status Change: {{selectedRecord.status}}</p>
            </div>
        </li>
        <li class="body center">
            <div>
                <p></p>
                <p>{{selectedRecord.notes}}</p>
            </div>
        </li>

        <li class="footer">
            <ul class="buttons">
                <li>
                    <button type="button" class="button-cancel" (click)="notesClose()">
                        <p>Close</p>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
