﻿<label for="{{startDateControl.id}}">Date Range</label>
<ul class="form-fields-siblings form-fields-range">
    <!-- NOTE: The Date inputs should allow for both text input AND a datepicker selection. -->
    <li cub-textbox
        [control]="startDateControl"
        (onChange)="onStartDateChanged()"
        (onEnterPress)="onEnterKey.emit()">
    </li>
    <li>
        <label for="{{endDateControl.id}}">to</label>
    </li>
    <li cub-textbox
        [control]="endDateControl"
        (onChange)="onEndDateChanged()"
        (onEnterPress)="onEnterKey.emit()">
    </li>
</ul>
